
body{
    margin: 0;
    padding: 0;
    height: 115vw;
   display:flex;
   flex-direction: column;
   align-items: center;
   background-image: linear-gradient(to left, #000000, #090005, #0e020d, #100414, #0d071b, #0b0820, #070a25, #000c2a, #000b2f, #000934, #000739, #01053d);
   font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home{
   
    width: 100%;
    z-index: 3;
   text-align: center;
   position: absolute;
   padding-left: 4vw;
}
.home h1{
    background-image: url(/public/images/centropictures/home.png);
    background-size: cover;
    width: 8vw;
    height: 8vw;
    cursor: pointer;
}
.home a{
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}
.home a:hover{
    color: rgb(236, 11, 11);}
    
.title{
    background: url(/public/images/mounths/neve.jpg) no-repeat;
    background-size: 100%;
    position: absolute;
    text-align: center;
    width: 98%;
    height: 8vw;
    padding-top: 4%;
    font-size: 4vw;
    color:#0905e4;
    border-radius: 2rem;
    margin-top: 11vw;
    border-top: 0.06em solid white;
    border-bottom:0.06em solid white;
    box-shadow: 1px 1px 20px 8px rgb(153, 231, 241) inset;
    
}
.title:hover{
    border: 0.06em solid  rgb(153, 231, 241);
    box-shadow: 1px 1px 20px 15px rgb(153, 231, 241) inset;

}

/*schedule close*/
.dropdown {
    display: flex;
    position: relative;
    z-index: 30;
    justify-content: center;
    
}
.open-menu {
    justify-content: center;
    display: flex;
    cursor: pointer;
    height: 13vw;
    position: absolute;
    top:31vw;
    background-image: linear-gradient(to bottom, #4eede6, #33dfe5, #16d0e3, #00c1de, #00b2d8, #00a6de, #0099e1, #008ae1, #0076eb, #0060f0, #0045ef, #0a14e7);
    border-radius: 1em;
    width: 98%;
    border-radius: 2rem;
    z-index: 2;
    border-top: 0.09em solid white;
    border-bottom:0.06em solid white;

}
.open-menu:hover{
    border: 0.06em solid  rgb(153, 231, 241);
    box-shadow: 1px 1px 15px 10px rgb(153, 231, 241) inset;

}
.open-menu a{ 
    padding-top: 4vw;
   font-size: 4vw;
   color: rgb(124, 90, 210);
   text-shadow: 10px 8px 8px black;
   font-weight: 700;
}
.open-menu a:hover{
    color: rgb(165, 239, 6);
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
    }
	50% {
		background-position: 100% 50%;
    }
	100% {
		background-position: 0% 50%;
	}
}

#overlay-menu{
   
    display: none;
    background: linear-gradient(90deg, #0a14e7, #0045ef, #0060f0, #0076eb, #008ae1, #009ae3, #00a9e0, #00b6db, #0cc7e3, #28d9ea, #43eaee, #5ffbf1);
   border-radius:1em;
    cursor: pointer;
   margin-top: 37vw;
    background-size: 400% 400%;
	animation: gradient 30s ease infinite;
    content:'';
    border-radius: 1em;
    width: 98%;
    border-top: 0.09em solid white;
    border-bottom:0.06em solid white;
}
#menu{
    display: none;
}
#menu:checked ~ #overlay-menu{
    display: flex;
    position:relative;
    top:14vw;
    justify-content: center;
}
#day-list{
    display: none;
}
ul{
    padding: 0;
    margin: 0;
}
li{
   list-style: none;
   text-align: center;
   font-size: 4vw;
   color: white;
   text-shadow: 10px 8px 8px black;
   margin: 2vw;
}
li:hover{
   text-shadow: 10px 8px 8px rgb(242, 244, 245); 
   color: #000b2f;
}

/*mounths filter*/
.filters:has(option[value="mercoledì07g"]:checked) ~   #january-list .daily-menu:not(:has(> .mercoledì07g)) {
    display: none;
}
.filters:has(option[value="giovedì08g"]:checked) ~   #january-list .daily-menu:not(:has(>.giovedì08g)) {
    display: none;
}
.filters:has(option[value="venerdì09g"]:checked) ~   #january-list .daily-menu:not(:has(> .venerdì09g)) {
    display: none;
}
.filters:has(option[value="lunedì12g"]:checked) ~  #january-list .daily-menu:not(:has(> .lunedì12g)) {
    display: none;
}
.filters:has(option[value="martedì13g"]:checked) ~  #january-list .daily-menu:not(:has(> .martedì13g)) {
    display: none;
}
.filters:has(option[value="mercoledì14g"]:checked) ~  #january-list .daily-menu:not(:has(> .mercoledì14g)) {
    display: none;
}
.filters:has(option[value="giovedì15g"]:checked) ~  #january-list .daily-menu:not(:has(> .giovedì15g)) {
    display: none;
}
.filters:has(option[value="venerdì16g"]:checked) ~  #january-list .daily-menu:not(:has(> .venerdì16g)) {
    display: none;
}
.filters:has(option[value="lunedì19g"]:checked) ~  #january-list .daily-menu:not(:has(> .lunedì19g)) {
    display: none;
}
.filters:has(option[value="martedì20g"]:checked) ~  #january-list .daily-menu:not(:has(> .martedì20g)) {
    display: none;
}
.filters:has(option[value="mercoledì21g"]:checked) ~  #january-list .daily-menu:not(:has(> .mercoledì21g)) {
    display: none;
}
.filters:has(option[value="giovedì22gi"]:checked) ~  #january-list .daily-menu:not(:has(> .giovedì22gi)) {
    display: none;
}
.filters:has(option[value="venerdì23g"]:checked) ~  #january-list .daily-menu:not(:has(> .venerdì23g)) {
    display: none;
}
.filters:has(option[value="lunedì26g"]:checked) ~  #january-list .daily-menu:not(:has(> .lunedì26g)) {
    display: none;
}
.filters:has(option[value="martedì27g"]:checked) ~  #january-list .daily-menu:not(:has(>.martedì27g)) {
    display: none;
}
.filters:has(option[value="mercoledì28g"]:checked) ~  #january-list .daily-menu:not(:has(> .mercoledì28g)) {
    display: none;
}
.filters:has(option[value="giovedì29g"]:checked) ~  #january-list .daily-menu:not(:has(> .giovedì29g)) {
    display: none;
}
.filters:has(option[value="venerdì30g"]:checked) ~  #january-list .daily-menu:not(:has(> .venerdì30g)) {
    display: none;
}
/*February filter*/
.filters:has(option[value="lunedì02f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .lunedì02f)) {
    display: none;
}
.filters:has(option[value="martedì03f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .martedì03f)) {
    display: none;
}
.filters:has(option[value="mercoledì04f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .mercoledì04f)) {
    display: none;
}
.filters:has(option[value="giovedì05f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .giovedì05f)) {
    display: none;
}
.filters:has(option[value="venerdì06f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .venerdì06f)) {
    display: none;
}
.filters:has(option[value="lunedì09f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .lunedì09f)) {
    display: none;
}
.filters:has(option[value="martedì10f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .martedì10f)) {
    display: none;
}
.filters:has(option[value="mercoledì11f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .mercoledì11f)) {
    display: none;
}
.filters:has(option[value="giovedì12f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .giovedì12f)) {
    display: none;
}
.filters:has(option[value="venerdì13f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .venerdì13f)) {
    display: none;
}
.filters:has(option[value="lunedì16f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .lunedì16f)) {
    display: none;
}
.filters:has(option[value="martedì17f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .martedì17f)) {
    display: none;
}
.filters:has(option[value="mercoledì18f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .mercoledì18f)) {
    display: none;
}
.filters:has(option[value="giovedì19f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .giovedì19f)) {
    display: none;
}
.filters:has(option[value="venerdì20f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .venerdì20f)) {
    display: none;
}
.filters:has(option[value="lunedì23f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .lunedì23f)) {
    display: none;
}
.filters:has(option[value="martedì24f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .martedì24f)) {
    display: none;
}
.filters:has(option[value="mercoledì25f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .mercoledì25f)) {
    display: none;
}
.filters:has(option[value="giovedì26f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .giovedì26f)) {
    display: none;
}
.filters:has(option[value="venerdì27f"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .venerdì27f)) {
    display: none;
}

/*March filter*/
.filters:has(option[value="lunedì02mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .lunedì02mar)) {
    display: none;
}
.filters:has(option[value="martedì03mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .martedì03mar)) {
    display: none;
}
.filters:has(option[value="mercoledì04mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .mercoledì04mar)) {
    display: none;
}
.filters:has(option[value="giovedì05mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .giovedì05mar)) {
    display: none;
}
.filters:has(option[value="venerdì06mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .venerdì06mar)) {
    display: none;
}
.filters:has(option[value="lunedì09mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .lunedì09mar)) {
    display: none;
}
.filters:has(option[value="martedì10mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .martedì10mar)) {
    display: none;
}
.filters:has(option[value="mercoledìmar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .mercoledì11mar)) {
    display: none;
}
.filters:has(option[value="giovedì12mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .giovedì12mar)) {
    display: none;
}
.filters:has(option[value="venerdì13mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .venerdì13mar)) {
    display: none;
}
.filters:has(option[value="lunedì16mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .lunedì16mar)) {
    display: none;
}
.filters:has(option[value="martedì17mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .martedì17mar)) {
    display: none;
}
.filters:has(option[value="mercoledì18mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .mercoledì18mar)) {
    display: none;
}
.filters:has(option[value="giovedì19mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .giovedì19mar)) {
    display: none;
}
.filters:has(option[value="venerdì20mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .venerdì20mar)) {
    display: none;
}
.filters:has(option[value="lunedì23mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .lunedì23mar)) {
    display: none;
}
.filters:has(option[value="martedì24mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .martedì24mar)) {
    display: none;
}
.filters:has(option[value="mercoledì25mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .mercoledì25mar)) {
    display: none;
}
.filters:has(option[value="giovedì26mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .giovedì26mar)) {
    display: none;
}
.filters:has(option[value="venerdì27mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .venerdì27mar)) {
    display: none;
}
.filters:has(option[value="lunedì30mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .lunedì30mar)) {
    display: none;
}
.filters:has(option[value="martedì31mar"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .martedì31mar)) {
    display: none;
}
/*Food Filter*/
/*Primi*/
.filters:has(option[value="allin"]:checked) ~ .daily-menu-list  .daily-menu:has(> .no-food) {
    display: none;

}
.filters:has(option[value="rigatoni"]:checked) ~ .daily-menu-list  .daily-menu:not(:has(> .rigatoni)) {
    display: none;

}
.filters:has(option[value="piadina"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .piadina)) {
    display: none;
    
}
.filters:has(option[value="riso-piselli"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .riso-piselli)) {
    display: none;
}
.filters:has(option[value="orecchiette"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .orecchiette)) {
    display: none;
}
.filters:has(option[value="gnocchi-pesto"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .gnocchi-pesto)) {
    display: none;
}
.filters:has(option[value="pennette-gamberetti"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .pennette-gamberetti)) {
    display: none;
}
.filters:has(option[value="polenta"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .polenta)) {
    display: none;
}
.filters:has(option[value="pasta-ragu"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .pasta-ragu)) {
    display: none;
}
.filters:has(option[value="riso-basmati"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .riso-basmati)) {
    display: none;
}
.filters:has(option[value="cannelloni"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .cannelloni)) {
    display: none;
}
.filters:has(option[value="vellutata"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .vellutata)) {
    display: none;
}
.filters:has(option[value="pizzoccheri"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .pizzoccheri)) {
    display: none;
}
.filters:has(option[value="tortellini-panna"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .tortellini-panna)) {
    display: none;
}
.filters:has(option[value="zuppa-legumi"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .zuppa-legumi)) {
    display: none;
    
}
.filters:has(option[value="pizza"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .pizza)) {
    display: none;
    
}
/*Secondi*/
.filters:has(option[value="omlette"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .omlette)) {
    display: none;
}

.filters:has(option[value="cotoletta"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .cotoletta)) {
    display: none;
}
.filters:has(option[value="tomino"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .tomino)) {
    display: none;
}
.filters:has(option[value="hamburger-vegetale"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .hamburger-vegetale)) {
    display: none;
}
.filters:has(option[value="pesce"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .pesce)) {
    display: none;
}
.filters:has(option[value="zola"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .zola)) {
    display: none;
}
.filters:has(option[value="salamino"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .salamino)) {
    display: none;
}
.filters:has(option[value="mozzarella"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .mozzarella)) {
    display: none;
}
.filters:has(option[value="frittata"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .frittata)) {
    display: none;
}
.filters:has(option[value="rolle"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .rolle)) {
    display: none;
}
.filters:has(option[value="spinacine"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .spinacine)) {
    display: none;
}
.filters:has(option[value="formaggio-philadelphia"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .formaggio-philadelphia)) {
    display: none;
}
/*Contorni*/
.filters:has(option[value="piselli"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .piselli)) {
    display: none;
}
.filters:has(option[value="broccoli"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .broccoli)) {
    display: none;
}
.filters:has(option[value="insalata"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .insalata)) {
    display: none;
}
.filters:has(option[value="verdure-miste"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .verdure-miste)) {
    display: none;
}
.filters:has(option[value="fagiolini"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .fagiolini)) {
    display: none;
}
.filters:has(option[value="patatine"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .patatine)) {
    display: none;
}
.filters:has(option[value="cavolfiori"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .cavolfiori)) {
    display: none;
}
.filters:has(option[value="taccole"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .taccole)) {
    display: none;
}
.filters:has(option[value="patate-novelle"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .patate-novelle)) {
    display: none;
}
.filters:has(option[value="finocchi"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .finocchi)) {
    display: none;
}
.filters:has(option[value="pure"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .pure)) {
    display: none;
}
.filters:has(option[value="spinaci"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .spinaci)) {
    display: none;
}
.filters:has(option[value="carote"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .carote)) {
    display: none;
}
.filters:has(option[value="barbabietole"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .barbabietole)) {
    display: none;
}
/*Dolci*/
.filters:has(option[value="croissant"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .croissant)) {
    display: none;
}
.filters:has(option[value="cappuccio-caffe"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .cappuccio-caffe)) {
    display: none;
}
.filters:has(option[value="yogurt-dessert"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .yogurt-dessert)) {
    display: none;
}
.filters:has(option[value="gruppo-cucina"]:checked) ~ .daily-menu-list .daily-menu:not(:has(> .gruppo-cucina)) {
    display: none;
}

/*January*/

#overlay-januari-menu .dropdown-januari-menu {
    font-size: .9vw;
    font-weight: 700;
    text-align: center;
    display: none;
    position: relative;
    z-index: 4;
    padding: .8vw;
    border-radius:  1em;
}
#januari-closed{
    color:rgb(200, 233, 244);
}
#januari-schedule-menu{
    display: none;
}
#januari-schedule-menu:checked ~ #overlay-januari-menu .dropdown-januari-menu
{
    display: block;
}
#mounth{
    cursor:pointer;
}
/*February*/
#overlay-february-menu .dropdown-february-menu {
    font-size: .9vw;
    font-weight: 700;
    text-align: center;
    display: none;
    position: relative;
    z-index: 4;
    padding: .8vw;
    border-radius:  1em;
}
#february-closed{
    color:rgb(200, 233, 244);
}
#february-schedule-menu{
    display: none;
}
#february-schedule-menu:checked ~ #overlay-february-menu .dropdown-february-menu
{
    display: block;
}

#mounth{
    cursor:pointer;
}
/*March*/
#overlay-march-menu .dropdown-march-menu {
    font-size: .9vw;
    font-weight: 700;
    text-align: center;
    display: none;
    position: relative;
    z-index: 4;
    padding: .8vw;
    border-radius:  1em;
}
#march-schedule-menu{
    display: none;
}
#march-schedule-menu:checked ~ #overlay-march-menu .dropdown-march-menu
{
    display: block;
}
#mounth{
    cursor:pointer;
}
/*cards*/
.daily-menu{
   display: flex;
   justify-content: center;
   margin-bottom: 2vw;
   height: 30vw;
   background-size: 100% 100%;
   border-top: 0.3em solid white;
   border-bottom:0.3em solid white;
   box-shadow: 1px 1px 20px 10px rgb(232, 242, 244) inset;
   border-radius: 4em 1em 10em 1em;
   
}
.daily-menu h1{
    width: 100%;
    font-weight: 800;
    color:black;
}
 .daily-menu span{
    margin: 0 0.6em;
    font-size: 0.7vw;
    text-shadow: rgb(38, 31, 238) 1px 1px 1px;
    background-color: #8fdfcf;
    opacity: 70%;
    height: 6vw;
    padding: 2em 0.5em 0 0.5em;
    border-radius: 2em;
    margin-top: 0.5vw;
    border-top: 0.1em solid white;
    border-bottom:0.1em solid white;
}
.daily-menu span:nth-child(1) h1{
    color:#1ded77;
}
#back{
   background: url(/public/images/menu/food-images/varie/tavolo.jpg) no-repeat bottom center;
   background-size: 100%; 
   z-index: -1; 
   width: 70vw;
   border-radius: 4em 1em 10em 1em;
   margin-bottom: 1vw;
}
#no-food{
    background: url(/public/images/menu/affamato.png) no-repeat center bottom;
    z-index: 1;
    background-size: 15vw, 10vw; 
}
#no-food-list{
 display:none;
}
#nolist{
    display: block;
    position: absolute;
    z-index: -2;
   width: 100%;
   text-shadow: none;
   margin-top: 3.5vw;
}
#nolistf{
    display: block;
    position: absolute;
    z-index: -2;
   width: 100%;
   text-shadow: none;
   margin-top: 1.45vw;
}


/*Juanuary*/
#mercoledì07g{
    justify-items: center;
    background: url(/public/images/menu/food-images/primi/piadina.png) no-repeat bottom left, url(/public/images/menu/food-images/dolci/yogurt.png) no-repeat bottom right;
    z-index: 1;
    background-size: 35vw, 30vw;
}
#giovedì08g{
    background: 
    url(/public/images/menu/food-images/primi/riso-piselli.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/contorni/fagiolini.png) no-repeat bottom right, 
    url(/public/images/menu/food-images/secondi/tomino.png) no-repeat bottom center ;
    z-index: 1;
    width: 100%;
    background-size: 27vw, 28vw, 30vw;
}
#venerdì09g{
  background: 
    url(/public/images/menu/food-images/dolci/cappuccio-caffe.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/dolci/croissant.png) no-repeat center left, 
    url(/public/images/menu/food-images/secondi/hamburger-vegetale.png) no-repeat center bottom,
    url(/public/images/menu/food-images/contorni/patatine.png) no-repeat center right;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 15vw, 35vw, 30vw;
}
#lunedì12g{
    background: 
    url(/public/images/menu/food-images/primi/pennette-gamberetti.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/secondi/pesce.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/piselli.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 30vw, 20vw, 23vw;
}
#martedì13g{
    background: 
    url(/public/images/menu/food-images/varie/gruppo-cucina.png) no-repeat center; 
    z-index: 1;
    width: 100%;
    background-size: 50vw;
}
#mercoledì14g{
    
    background: url(/public/images/menu/food-images/primi/piadina.png) no-repeat bottom left, url(/public/images/menu/food-images/dolci/yogurt.png) no-repeat bottom right;
    z-index: 1;
    background-size: 35vw, 30vw;
}
#giovedì15g{
    
    background: 
    url(/public/images/menu/food-images/primi/pasta-ragu.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/contorni/broccoli.png) no-repeat bottom right, 
    url(/public/images/menu/food-images/secondi/omlette.png) no-repeat bottom center ;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 23vw, 19vw;
}
#venerdì16g{
  background: 
    url(/public/images/menu/food-images/dolci/cappuccio-caffe.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/dolci/croissant.png) no-repeat center left, 
    url(/public/images/menu/food-images/secondi/zola.png) no-repeat center bottom,
    url(/public/images/menu/food-images/primi/polenta.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/insalata.png) no-repeat bottom right,
    url(/public/images/menu/food-images/secondi/salamino.png) no-repeat center right; 
    z-index: 1;
    width: 100%;
    background-size: 25vw, 15vw, 18vw, 30vw, 22vw, 20vw;
}
#lunedì19g{
    justify-items: center;
    background: 
    url(/public/images/menu/food-images/primi/orecchiette.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/secondi/mozzarella.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/cavolfiori.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 30vw, 22vw, 25vw;
}
#martedì20g{
   background: 
    url(/public/images/menu/food-images/varie/gruppo-cucina.png) no-repeat center; 
    z-index: 1;
    width: 100%;
    background-size: 50vw;
}
#mercoledì21g{
    justify-items: center;
    background: url(/public/images/menu/food-images/primi/piadina.png) no-repeat bottom left, url(/public/images/menu/food-images/dolci/yogurt.png) no-repeat bottom right;
    z-index: 1;
    background-size: 35vw, 30vw;
}
#giovedì22gi{
    background: 
    url(/public/images/menu/food-images/primi/tortellini-panna.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/contorni/barbabietole.png) no-repeat bottom right, 
    url(/public/images/menu/food-images/secondi/frittata.png) no-repeat center ;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 21vw, 27vw;
}
#venerdì23g{
  background: 
    url(/public/images/menu/food-images/dolci/cappuccio-caffe.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/dolci/croissant.png) no-repeat center left, 
    url(/public/images/menu/food-images/secondi/zola.png) no-repeat center right,
    url(/public/images/menu/food-images/primi/riso-basmati.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/patate-novelle.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 15vw, 18vw, 26vw, 22vw, 20vw;
}
#lunedì26g{
    background: 
    url(/public/images/menu/food-images/primi/zuppa-legumi.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/secondi/formaggio-philadelphia.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/finocchi.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 26vw, 18vw, 28vw;
}
#martedì27g{
   background: 
    url(/public/images/menu/food-images/varie/gruppo-cucina.png) no-repeat center; 
    z-index: 1;
    width: 100%;
    background-size: 50vw;
}
#mercoledì28g{
    justify-items: center;
    background: 
    url(/public/images/menu/food-images/primi/piadina.png) no-repeat bottom left,
    url(/public/images/menu/food-images/dolci/yogurt.png) no-repeat bottom right;
    z-index: 1;
    background-size: 35vw, 30vw;
}
#giovedì29g{
    background: url(/public/images/menu/food-images/primi/vellutata-verdure.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/contorni/pure.png) no-repeat center right, 
    url(/public/images/menu/food-images/secondi/roll.png) no-repeat bottom center ;
    z-index: 1;
    width: 100%;
    background-size: 28vw, 21vw, 27vw;
}
#venerdì30g{
 background: 
    url(/public/images/menu/food-images/dolci/cappuccio-caffe.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/dolci/croissant.png) no-repeat center left, 
    url(/public/images/menu/food-images/primi/pizzoccheri.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/spinaci.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 18vw, 27vw, 23vw;
}
/*February*/
#lunedì02f{
    background: 
    url(/public/images/menu/food-images/primi/gnocchi-pesto.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/secondi/spinacine.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/carote.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 30vw, 18vw, 25vw;
}
#martedì03f{
   background: 
    url(/public/images/menu/food-images/varie/gruppo-cucina.png) no-repeat center; 
    z-index: 1;
    width: 100%;
    background-size: 50vw;
}
#mercoledì04f{
    justify-items: center;
    background: 
    url(/public/images/menu/food-images/primi/piadina.png) no-repeat bottom left,
    url(/public/images/menu/food-images/dolci/yogurt.png) no-repeat bottom right;
    z-index: 1;
    background-size: 35vw, 30vw;
}
#giovedì05f{
    background: url(/public/images/menu/food-images/primi/tortellini-panna.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/contorni/barbabietole.png) no-repeat bottom right, 
    url(/public/images/menu/food-images/secondi/frittata.png) no-repeat center ;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 21vw, 27vw;
}
#venerdì06f{
 background: 
    url(/public/images/menu/food-images/dolci/cappuccio-caffe.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/dolci/croissant.png) no-repeat center left, 
    url(/public/images/menu/food-images/primi/pizza.png) no-repeat bottom center, 
    url(/public/images/menu/food-images/contorni/insalata.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 18vw, 18vw, 26vw;
}
#lunedì09f{
    background: 
    url(/public/images/menu/food-images/primi/rigatoni.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/secondi/cotoletta.png) no-repeat bottom center, 
    url(/public/images/menu/food-images/contorni/verdure-miste.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 28vw, 24vw, 27vw;
}
#martedì10f{
   background: 
    url(/public/images/menu/food-images/varie/gruppo-cucina.png) no-repeat bottom center; 
    z-index: 1;
    width: 100%;
    background-size: 50vw;
}
#mercoledì11f{
    justify-items: center;
    background: url(/public/images/menu/food-images/primi/piadina.png) no-repeat bottom left, url(/public/images/menu/food-images/dolci/yogurt.png) no-repeat bottom right;
    z-index: 1;
    background-size: 35vw, 30vw;
}
#giovedì12f{
    background: 
    url(/public/images/menu/food-images/primi/riso-piselli.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/contorni/fagiolini.png) no-repeat bottom right, 
    url(/public/images/menu/food-images/secondi/tomino.png) no-repeat bottom center ;
    z-index: 1;
    width: 100%;
    background-size: 27vw, 28vw, 30vw;
}
#venerdì13f{
  background: 
    url(/public/images/menu/food-images/dolci/cappuccio-caffe.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/dolci/croissant.png) no-repeat center left, 
    url(/public/images/menu/food-images/secondi/hamburger-vegetale.png) no-repeat center bottom,
    url(/public/images/menu/food-images/contorni/patatine.png) no-repeat center right;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 15vw, 35vw, 30vw;
}
#lunedì16f{
    background: 
    url(/public/images/menu/food-images/primi/pennette-gamberetti.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/secondi/pesce.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/piselli.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 30vw, 20vw, 23vw;
}
#martedì17f{
    background: 
    url(/public/images/menu/food-images/varie/gruppo-cucina.png) no-repeat bottom center; 
    z-index: 1;
    width: 100%;
    background-size: 50vw;
}
#mercoledì18f{
    
    background: url(/public/images/menu/food-images/primi/piadina.png) no-repeat bottom left, url(/public/images/menu/food-images/dolci/yogurt.png) no-repeat bottom right;
    z-index: 1;
    background-size: 35vw, 30vw;
}
#giovedì19f{
    background: 
    url(/public/images/menu/food-images/primi/pasta-ragu.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/contorni/broccoli.png) no-repeat bottom right, 
    url(/public/images/menu/food-images/secondi/omlette.png) no-repeat bottom center ;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 23vw, 19vw;
}
#venerdì20f{
  background: 
    url(/public/images/menu/food-images/dolci/cappuccio-caffe.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/dolci/croissant.png) no-repeat center left, 
    url(/public/images/menu/food-images/secondi/zola.png) no-repeat center bottom,
    url(/public/images/menu/food-images/primi/polenta.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/insalata.png) no-repeat bottom right,
    url(/public/images/menu/food-images/secondi/salamino.png) no-repeat center right; 
    z-index: 1;
    width: 100%;
    background-size: 25vw, 15vw, 18vw, 30vw, 22vw, 20vw;
}
#lunedì23f{
    justify-items: center;
    background: 
    url(/public/images/menu/food-images/primi/orecchiette.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/secondi/mozzarella.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/cavolfiori.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 22vw, 25vw;
}
#martedì24f{
   background: 
    url(/public/images/menu/food-images/varie/gruppo-cucina.png) no-repeat bottom center; 
    z-index: 1;
    width: 100%;
    background-size: 50vw;
}
#mercoledì25f{
    justify-items: center;
    background: url(/public/images/menu/food-images/primi/piadina.png) no-repeat bottom left, url(/public/images/menu/food-images/dolci/yogurt.png) no-repeat bottom right;
    z-index: 1;
    background-size: 35vw, 30vw;
}

#giovedì26f{
    background: 
    url(/public/images/menu/food-images/primi/canelloni.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/contorni/taccole.png) no-repeat bottom right, 
    url(/public/images/menu/food-images/secondi/frittata.png) no-repeat bottom center ;
    z-index: 1;
    width: 100%;
    background-size: 27vw, 18vw, 26vw;
}
#venerdì27f{
  background: 
    url(/public/images/menu/food-images/dolci/cappuccio-caffe.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/dolci/croissant.png) no-repeat center left, 
    url(/public/images/menu/food-images/secondi/zola.png) no-repeat center right,
    url(/public/images/menu/food-images/primi/riso-basmati.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/patate-novelle.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 15vw, 18vw, 26vw, 22vw, 20vw;
}
/*March*/
#lunedì02mar{
    background: 
    url(/public/images/menu/food-images/primi/gnocchi-pesto.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/secondi/spinacine.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/carote.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 30vw, 18vw, 25vw;
}
#martedì03f{
   background: 
    url(/public/images/menu/food-images/varie/gruppo-cucina.png) no-repeat center; 
    z-index: 1;
    width: 100%;
    background-size: 50vw;
}
#mercoledì04f{
    justify-items: center;
    background: 
    url(/public/images/menu/food-images/primi/piadina.png) no-repeat bottom left,
    url(/public/images/menu/food-images/dolci/yogurt.png) no-repeat bottom right;
    z-index: 1;
    background-size: 35vw, 30vw;
}
#giovedì05f{
    background: url(/public/images/menu/food-images/primi/tortellini-panna.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/contorni/barbabietole.png) no-repeat bottom right, 
    url(/public/images/menu/food-images/secondi/frittata.png) no-repeat center ;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 21vw, 27vw;
}
#venerdì06f{
 background: 
    url(/public/images/menu/food-images/dolci/cappuccio-caffe.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/dolci/croissant.png) no-repeat center left, 
    url(/public/images/menu/food-images/primi/pizza.png) no-repeat bottom center, 
    url(/public/images/menu/food-images/contorni/insalata.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 18vw, 18vw, 26vw;
}
#lunedì09f{
    background: 
    url(/public/images/menu/food-images/primi/rigatoni.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/secondi/cotoletta.png) no-repeat bottom center, 
    url(/public/images/menu/food-images/contorni/verdure-miste.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 28vw, 24vw, 27vw;
}
#martedì10f{
   background: 
    url(/public/images/menu/food-images/varie/gruppo-cucina.png) no-repeat bottom center; 
    z-index: 1;
    width: 100%;
    background-size: 50vw;
}
#mercoledì11f{
    justify-items: center;
    background: url(/public/images/menu/food-images/primi/piadina.png) no-repeat bottom left, url(/public/images/menu/food-images/dolci/yogurt.png) no-repeat bottom right;
    z-index: 1;
    background-size: 35vw, 30vw;
}
#giovedì12f{
    background: 
    url(/public/images/menu/food-images/primi/riso-piselli.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/contorni/fagiolini.png) no-repeat bottom right, 
    url(/public/images/menu/food-images/secondi/tomino.png) no-repeat bottom center ;
    z-index: 1;
    width: 100%;
    background-size: 27vw, 28vw, 30vw;
}
#venerdì13f{
  background: 
    url(/public/images/menu/food-images/dolci/cappuccio-caffe.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/dolci/croissant.png) no-repeat center left, 
    url(/public/images/menu/food-images/secondi/hamburger-vegetale.png) no-repeat center bottom,
    url(/public/images/menu/food-images/contorni/patatine.png) no-repeat center right;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 15vw, 35vw, 30vw;
}
#lunedì16f{
    background: 
    url(/public/images/menu/food-images/primi/pennette-gamberetti.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/secondi/pesce.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/piselli.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 30vw, 20vw, 23vw;
}
#martedì17f{
    background: 
    url(/public/images/menu/food-images/varie/gruppo-cucina.png) no-repeat bottom center; 
    z-index: 1;
    width: 100%;
    background-size: 50vw;
}
#mercoledì18f{
    
    background: url(/public/images/menu/food-images/primi/piadina.png) no-repeat bottom left, url(/public/images/menu/food-images/dolci/yogurt.png) no-repeat bottom right;
    z-index: 1;
    background-size: 35vw, 30vw;
}
#giovedì19f{
    background: 
    url(/public/images/menu/food-images/primi/pasta-ragu.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/contorni/broccoli.png) no-repeat bottom right, 
    url(/public/images/menu/food-images/secondi/omlette.png) no-repeat bottom center ;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 23vw, 19vw;
}
#venerdì20f{
  background: 
    url(/public/images/menu/food-images/dolci/cappuccio-caffe.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/dolci/croissant.png) no-repeat center left, 
    url(/public/images/menu/food-images/secondi/zola.png) no-repeat center bottom,
    url(/public/images/menu/food-images/primi/polenta.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/insalata.png) no-repeat bottom right,
    url(/public/images/menu/food-images/secondi/salamino.png) no-repeat center right; 
    z-index: 1;
    width: 100%;
    background-size: 25vw, 15vw, 18vw, 30vw, 22vw, 20vw;
}
#lunedì23f{
    justify-items: center;
    background: 
    url(/public/images/menu/food-images/primi/orecchiette.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/secondi/mozzarella.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/cavolfiori.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 22vw, 25vw;
}
#martedì24f{
   background: 
    url(/public/images/menu/food-images/varie/gruppo-cucina.png) no-repeat bottom center; 
    z-index: 1;
    width: 100%;
    background-size: 50vw;
}
#mercoledì25f{
    justify-items: center;
    background: url(/public/images/menu/food-images/primi/piadina.png) no-repeat bottom left, url(/public/images/menu/food-images/dolci/yogurt.png) no-repeat bottom right;
    z-index: 1;
    background-size: 35vw, 30vw;
}

#giovedì26f{
    background: 
    url(/public/images/menu/food-images/primi/canelloni.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/contorni/taccole.png) no-repeat bottom right, 
    url(/public/images/menu/food-images/secondi/frittata.png) no-repeat bottom center ;
    z-index: 1;
    width: 100%;
    background-size: 27vw, 18vw, 26vw;
}
#venerdì27f{
  background: 
    url(/public/images/menu/food-images/dolci/cappuccio-caffe.png) no-repeat bottom left, 
    url(/public/images/menu/food-images/dolci/croissant.png) no-repeat center left, 
    url(/public/images/menu/food-images/secondi/zola.png) no-repeat center right,
    url(/public/images/menu/food-images/primi/riso-basmati.png) no-repeat center, 
    url(/public/images/menu/food-images/contorni/patate-novelle.png) no-repeat bottom right;
    z-index: 1;
    width: 100%;
    background-size: 25vw, 15vw, 18vw, 26vw, 22vw, 20vw;
}


 