@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{ 
      font-family: Merryweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      min-height: 100%;
}
body{
background-image: linear-gradient(to left top, #060d4e, #003d81, #006b9d, #0097a0, #00c194, #00d48f, #00e685, #00f874, #00fb9f, #00fcc2, #1afcde, #5ffbf1);
   min-height: 100%;
}
.menu{
    display: absolute;
  top:0vw;
    width: 100%;
background-image: linear-gradient(to left, #f08a06, #f19203, #f19a00, #f1a100, #f1a901, #e3b71e, #d6c436, #c9cf4e, #b2dd7c, #a6e8a8, #abeecd, #c1f2e7);
    opacity: 0.8;
    position: fixed;
    box-shadow: 1px 1px 20px 8px rgb(198, 241, 241) inset;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-radius: 0 0 .5em .5em;
}
.menu ul{
    display: flex;
    align-items: center;
    height: 60%;
    width: 50%;
    gap: 65vw;
}
.home{
    background-color: #e89932;
    text-align: center;
    color: #02083e;
    font-weight: 500;
    font-size: 1.6vw;
    padding:0.6vw;
    border-radius: 0.8em;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
   
}
.home:hover{
    border-bottom: none;
    border-top: none;
    border-right: 2px solid white;
    border-left: 2px solid white;
}
.menu li{
list-style: none;
text-decoration: none;
width: 50%;
margin-left: 5vw;
}
.menu a{
    text-decoration: none;
}
.cat{
width: 10vw;
height: 10vw;
background: url(/public/images/logostone.png) no-repeat right;
background-size: 80%;
}
/*nav*/
nav{
    display: flex;
    flex-direction: column;
    
}
.title{
    color:white;
    margin-top: 20vw;
   text-align: center;
   font-size: 3vw;
    text-shadow: 3px 2px 2px rgb(108, 165, 226);
}

/*idea*/
.idea{
    margin-top: 10vw;
    margin-left: 2vw;
    width: 98%;
    height: 30vw;
    background: url(/public/images/laboratori/ginnastica2.jpg)no-repeat left center ;
    background-size: 40vw;
    padding: 0 3vw 0 41vw;
    border-radius: 1em 0 0 1em;
}
.idea h1{
    padding-top: 9vw;
    color:white;
    font-size: 1.2vw;
    text-align: justify;
}


.help{
    width: 100%;
 justify-items: center;
}
.write{
    margin-top: 10vw;
}

.scrivi{

    color:rgb(193, 20, 5);
    font-size: 2vw;
    text-decoration: none;
    margin-left: 2vw;
}
.dev{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:2vw;
    width: 100%;
    height: 10vw;
    text-align: center;
    background:url(/public/images/deviltailnoback.png)top center no-repeat ;
    background-size: 18%;
    color: white;
   text-shadow: 10px 8px 8px black;
   margin-top: 10vw;
   margin-bottom: 5vw;
}
.button{
text-decoration: none; 
font-size: 2vw; 
display: flex;
flex-direction: column;
align-items: center;
margin-top: 2vw;
margin-bottom: 10vw;
border-top: 2px solid white;
border-bottom: 2px solid white;
padding: 1vw 0 1vw 0;
width: 20%;
background: linear-gradient(to left top, #325278, #2a4568, #223958, #1a2d48, #122239, #0a1e31, #051a2a, #001522, #00161e, #00161a, #001516, #021412) no-repeat;
color: azure;
border-radius: 1em;

}
.button:hover{
   border-top: none;
border-bottom: none; 
border-left: 2px solid white;
border-right: 2px solid white;
transition: 500ms ease;
}
.policy{
justify-content: center;
width: 100%;
display: flex;
gap:2vw;
margin-bottom: 10vw;
}



@media(max-width:640px){
    .idea{
    padding: 0 3vw 15vw 3vw;
    background: url(/public/images/laboratori/ginnastica2.jpg)no-repeat center;
    background-size: 75% 50%;
    margin-left: 0;
    width: 100%;
    height: 100vw;
    border-radius: 1em;
  
    }
    .idea h1{
        font-size: 1.6vw;
    }




}