@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
    }
	50% {
		background-position: 100% 50%;
    }
	100% {
		background-position: 0% 50%;
	}
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to left top, #325278, #2a4568, #223958, #1a2d48, #122239, #0a1e31, #051a2a, #001522, #00161e, #00161a, #001516, #021412) no-repeat;
    height:300vh  ;

}

body{
display: flex;
flex-direction: column;
align-items: center;
}
/*Menu*/
.menu{
    background-color: rgb(12, 2, 85);
    width: 100%;
    height: 6vw;
    position:block;
    box-shadow: 1px 1px 20px 8px rgb(198, 241, 241) inset;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.menu ul{
    display:flex;
    width: 100%;
}
.menul li:nth-child(1){
   margin: 1.8% 20% 2% 4%;
    list-style: none;
}
.menu a{
    font-size: 1.3vw;
    text-decoration: none;
    color:#aac5df;
    cursor: pointer;
}
.menul li:nth-child(2){
   margin: 1.8% 4% 2% 50%;
    list-style: none;
}
/*Title*/
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
    width: 100%;
  
}
.title h1{
    color: white;
    margin-bottom: 2vw;
    text-shadow: 6px 6px 4px rgb(5, 125, 129);
}
/*Drop Menu*/
.open-shop{
    margin-top: 5vw;
    font-size: 3vw;
    cursor: pointer;
    background-color: #012b08;
    width: 40vw;
    text-align: center;
    border-radius: .5em;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.open{
    color:aqua;
}

#shop{
    display: none;
}

#overlay-shop{
    display: none;
    background: linear-gradient(90deg, #0a14e7, #0045ef, #0060f0, #0076eb, #008ae1, #009ae3, #00a9e0, #00b6db, #0cc7e3, #28d9ea, #43eaee, #5ffbf1);
   border-radius:1em;
    cursor: pointer;
   margin-top: 3vw;
    background-size: 400% 400%;
	animation: gradient 30s ease infinite;
    content:'';
    border-radius: 1em;
    width: 95%;
    border-top: 0.2em solid white;
    border-bottom:0.06em solid white;
}
.what {
    color:white;
    font-size: 2.5vw;
    padding: 2vw;
    text-shadow: 3px 2px 2px black;
}
#shop{
    display: none;
}
#shop:checked ~ #overlay-shop{
    display: flex;
    flex-direction: column;
    position:relative;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
   text-align: center;
   font-size: 2vw;
   color: white;
   text-shadow: 10px 8px 8px black;
   margin: 2vw;
}
#shirt-schedule-list{
    display: none;
}
li:hover{
   text-shadow: 10px 8px 8px rgb(242, 244, 245); 
   color: #000b2f;
}

.shirt-card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    padding: 2vw;
     width: 100%;
  justify-items: center;
}
/*filter*/
.filters:has(option[value="all-color"]:checked) ~  #shirt-card-list .single:not(:has(> .all-color)) {
    display: none;
}
.filters:has(option[value="blue"]:checked) ~   #shirt-card-list .single:not(:has(> .blue)) {
    display: none;
}
.filters:has(option[value="green"]:checked) ~   #shirt-card-list .single:not(:has(> .green)) {
    display: none;
}
.filters:has(option[value="pink"]:checked) ~   #shirt-card-list .single:not(:has(> .pink)) {
    display: none;
}
.filters:has(option[value="s"]:checked) ~   #shirt-card-list .single:not(:has(> .s)) {
    display: none;
}
.filters:has(option[value="m"]:checked) ~   #shirt-card-list .single:not(:has(> .m)) {
    display: none;
}
.filters:has(option[value="l"]:checked) ~   #shirt-card-list .single:not(:has(> .l)) {
    display: none;
}
.filters:has(option[value="x"]:checked) ~   #shirt-card-list .single:not(:has(> .x)) {
    display: none;
}
.filters:has(option[value="xl"]:checked) ~   #shirt-card-list .single:not(:has(> .xl)) {
    display: none;
}

#overlay-shirt-list .dropdown-shirt-list{
    font-size: .9vw;
    font-weight: 700;
    text-align: center;
    display: none;
    position: relative;
    z-index: 4;
    border-radius:  1em;  
}
#shirt-closed{
  color:rgb(200, 233, 244);
}
#shirt-schedule-list{
    display: none;
}
#shirt-schedule-list:checked ~ #overlay-shirt-list .dropdown-shirt-list{
    display: block;
}
.open-shirt-menu{
    display: flex;
    flex-direction: column;
    padding: 1vw 0 1vw 0;
    cursor: pointer;
}
.open-shirt-menu a{
    padding-bottom: 1.5vw;
}
.single{
    background-color: rgb(200, 233, 244);
    width: 100vw;
    height: 100vw;
   left: -5vw;
    
    padding-top: 10%;
  

    position: absolute;
}
