@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to left top, #325278, #2a4568, #223958, #1a2d48, #122239, #0a1e31, #051a2a, #001522, #00161e, #00161a, #001516, #021412) no-repeat;
    height:300vh  ;

}

body{

display: flex;
flex-direction: column;
align-items: center;

}


/*Menu*/
.menu{
    
    background-color: rgb(12, 2, 85);
    width: 100%;
    height: 6vw;
    position:block;
    box-shadow: 1px 1px 20px 8px rgb(198, 241, 241) inset;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.menu ul{
    display:flex;
    width: 100%;
}
.menul li:nth-child(1){
   margin: 1.8% 20% 2% 4%;
    list-style: none;
}
.menu a{
    font-size: 1.3vw;
    text-decoration: none;
    color:#aac5df;
    cursor: pointer;
}
.menul li:nth-child(2){
   margin: 1.8% 4% 2% 50%;
    list-style: none;
}
/*Title*/
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
    width: 100%;
  
}
.title h1{
    color: white;
    margin-bottom: 2vw;
    text-shadow: 6px 6px 4px rgb(5, 125, 129);
}
/*Drop Menu*/
.open-shop{
    margin-top: 5vw;
    font-size: 3vw;
    cursor: pointer;
    background-color: #012b08;
    width: 40vw;
    text-align: center;
    border-radius: .5em;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.open{
    color:aqua;

}

#shop{
    display: none;
}
#overlay-shop{
    display: none;
}
#overlay-shop a{
    color:white;
    margin-left: -18vw;
    font-size: 2.5vw;
  
}
#shop:checked ~ #overlay-shop{
  display:flex;
justify-content: center;
margin-top: 3vw;
 
  width: 90%;
  padding: 2vw;
  
  
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
    }
	50% {
		background-position: 100% 50%;
    }
	100% {
		background-position: 0% 50%;
	}
}

#overlay-shop{
   
    display: none;
    background: linear-gradient(90deg, #0a14e7, #0045ef, #0060f0, #0076eb, #008ae1, #009ae3, #00a9e0, #00b6db, #0cc7e3, #28d9ea, #43eaee, #5ffbf1);
   border-radius:1em;
   cursor: pointer;
   background-size: 400% 400%;
	animation: gradient 30s ease infinite;
    content:'';
    width: 100%;
    border-top: 0.09em solid white;
    border-bottom:0.06em solid white;
    
}




#product-type{
   display: flex;

}

a{
    color:#00b6db;
}


ul{
    padding: 0;
    margin: 0;
}

.dropdown{
   display:flex;
   position: relative;
}
.dropdown li{

   width: 100%;
   list-style: none;
   text-align: center;
   font-size: 3vw;
   color: white;
   text-shadow: 5px 3px 3px black;
   
}

.product-shop-list{
  width: 100%;
  justify-items: center;
}
/*Our*/
#overlay-our-shop .dropdown-our-shop{
    font-size: .9vw;
    width: 100%;
    text-align: center;
    display: none;
    border-radius:  1em;
   
}


#our-schedule-shop{
    display: none;
}
#our-list{
    margin-top: -3vw;
}
#our-schedule-shop:checked ~ #overlay-our-shop .dropdown-our-shop
{
  display: flex;
  margin-top: -4vw;
  padding-top: 6vw;
  
}
#our-closed{
    display:flex;
    flex-direction: column;
    width: 18vw;
    position: absolute;
    top:6vw;
    left: -19vw;
    border: 5px solid rgb(181, 243, 131);
    border-radius: 5px;
}
/*Them*/
#overlay-them-shop .dropdown-them-shop{
    font-size: .9vw;
    font-weight: 700;
    text-align: center;
    display: none;
    position: relative;
    z-index: 4;
    padding: .8vw;
    border-radius:  1em;
}
#them-closed{
  margin-top: 3vw;
    display: flex;
}
#them-schedule-shop{
    display: none;
}
#them-list{
    margin-top: -1vw;
}

#them-schedule-shop:checked ~ #overlay-them-shop .dropdown-them-shop
{
  display: block;
  margin-top: -14vw;
  position:absolute;
  width: 100%;
  background-color: #00b6db;
   padding-top: 6vw;

}
#them-closed{
    display:flex;
    flex-direction: column;
    width: 20vw;
    position: absolute;
    top:6vw;
    left:1vw;
    border: 5px solid rgb(238, 182, 98);
    border-radius: 5px;
}
/*OUR products filter*/
.filters:has(option[value="stella"]:checked) ~   #our-list .product:not(:has(> .stella)) {
    display: none;
}
.filters:has(option[value="lavoretto"]:checked) ~   #our-list .product:not(:has(> .lavoretto)) {
    display: none;
}
.filters:has(option[value="borsa"]:checked) ~   #our-list .product:not(:has(> .borsa)) {
    display: none;
}
.filters:has(option[value="all"]:checked) ~   #our-list .product:not(:has(> .all)) {
    display: none;
}
/*OUR price filter*/
.filters:has(option[value="allprice"]:checked) ~   #our-list .product:not(:has(> .allprice)) {
    display: none;
}
.filters:has(option[value="cipper"]:checked) ~   #our-list .product:not(:has(> .cipper)) {
    display: none;
}
.filters:has(option[value="medium"]:checked) ~   #our-list .product:not(:has(> .medium)) {
    display: none;
}
.filters:has(option[value="expensive"]:checked) ~   #our-list .product:not(:has(> .expensive)) {
    display: none;
}
/*THEM products filter*/
.filters:has(option[value="centro"]:checked) ~   #them-list .product:not(:has(> .centro)) {
    display: none;
}
.filters:has(option[value="vaso"]:checked) ~   #them-list .product:not(:has(> .vaso)) {
    display: none;
}
.filters:has(option[value="tazza"]:checked) ~   #them-list .product:not(:has(> .tazza)) {
    display: none;
}
.filters:has(option[value="all"]:checked) ~   #them-list .product:not(:has(> .all)) {
    display: none;
}
/*OUR price filter*/
.filters:has(option[value="allprice"]:checked) ~   #them-list .product:not(:has(> .allprice)) {
    display: none;
}
.filters:has(option[value="cipper"]:checked) ~   #them-list .product:not(:has(> .cipper)) {
    display: none;
}
.filters:has(option[value="medium"]:checked) ~   #them-list .product:not(:has(> .medium)) {
    display: none;
}
.filters:has(option[value="expensive"]:checked) ~   #them-list .product:not(:has(> .expensive)) {
    display: none;
}
/*cards style*/
.product{
  
    width: 50vw;
    height: 30vw;
    background: url(/public/images/shop-images/sfondo-shop.png)no-repeat;
    background-size: cover;
    margin-bottom: 2vw;
    padding-top: 1vw;
    border-top: 1em solid white;
    border-bottom:0.3em solid white;
    box-shadow: 1px 1px 20px 10px rgb(246, 246, 229) inset;
    border-radius: 2em 6em 8em 10em;
}




    
    









