<div class="filters">
    <select name="day" id="day">
            <option>Giorno</option>
            <option value="mercoledì07g"> mercoledì 07 Gennaio </option>
            <option value="giovedì08g"> Giovedì 08 Gennaio </option>
            <option value="venerdì09g"> Venerdì 09 Gennaio </option>
            <option value="lunedì12g"> Lunedì 12 Gennaio </option>
            <option value="martedì13g"> Martedì 13 Gennaio  </option>
            <option value="mercoledì14g"> Mercoledì 14 Gennaio </option>
            <option value="giovedì15g"> Giovedì 15 Gennaio </option>
            <option value="venerdì16g"> Venerdì 17 Gennaio </option>
    </select>
    <select name="type" id="type">
            <option>Pietanza</option>
            <option value="orecchiette">Orecchiette</option>
            <option value="pasta"> Pasta </option>
            <option value="meat"> Carne </option>
            <option value="fish"> Pesce </option>
            <option value="vegetarian"> Verdura </option>
            <option value="potatoes"> Patatine </option>
    </select>
        
</div>
<!-- Menu List January -->

    <div class="daily-menu-list">

      <div class="daily-menu" >
        <p>Menu Mercoledì 07 Gennaio</p>
        <img src="/public/images/menu/pasta.jpeg" height="300px">
          <span class="mercoledì 07 Gennaio"></span>
          <span class="primo">Piadina</span>
          <span class="secondo">Carne</span>
          <span class="contorno">Yogurt o Dessert</span>
        </div>

       <div class="daily-menu">
        <p> Menu Martedì</p>
        <img src="/public/images/menu/orecchiette.jpeg" height="300px">
          <span class="martedi">martedi</span>
          <span class="primo">Orecchiette</span>
          <span class="secondo">Pesce</span>
          <span class="contorno">Patatine</span>
       </div>
  

     </div>