

#project-bottom-section{
    padding: 100px 20px;
}

@media(min-width:640px){
#projects-bottom-section h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
}
.flex-bottom-container details{
margin: 0 0 4% 6%;
  width: 93%;
  max-width: 100%;
 background-image: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 5%, rgba(0,0,255,1) 100%);
 border-radius: 40px;
 position: relative;
}

.flex-bottom-container .opinions{
background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 5%, rgba(0,0,255,1) 100%);
}

.flex-bottom-container details summary{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 30px;
    padding: 30px;
}
.flex-bottom-container details .number-bottom{
    background-color:rgb(102, 4, 4);
    min-height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 700;
}
@media(min-width:640px){

.flex-bottom-container details h3{
    font-size: 1.75rem;
}
}
.flex-bottom-container details .text-bottom-container{
    padding: 30px;
    padding-top: 0;
    font-weight: 500;
    font-size: 18px;
    text-align: justify;
    
}
.flex-bottom-container details .text-bottom-container-opinions{
    padding: 30px;
    padding-top: 0;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    
}

.flex-bottom-container details .project-bottom-link{
    display: inline-block;
    margin-top: 30px;
    background-color: brown;
    color: beige;
    padding: .75em 1.5em;
    border-radius: 2px;
    font-weight: 500;
    transition: 300ms ease;
    cursor: pointer;
}
.flex-bottom-container details .project-bottom-link:hover{
    color: rgb(43, 226, 104);
}
progress {
  border: none;
  margin-left: 30px;
  height: 20px;
  width: 80%;
}
progress::-webkit-progress-value {
  background: rgb(2, 92, 44);
}
progress::-webkit-progress-bar {
  background: rgb(162, 162, 211);
  
}
li{
    font-size: 18px;
    margin-bottom: 2%;
    margin-top: 5px;
}
li::marker {
  color: rgb(151, 234, 42);
}
#skill{
    display: flex;
    flex-direction: column;
    
    margin-top: 1%;
    margin-bottom: 20%;
}
#skill01{
    
    width: 165vh;
    max-width: 100%;
    height: 40vh;
    
}
#skill02{
    
    width: 1vh;
    max-width: 100%;
     height: 45vh;
}
.skill-container{
    width: 200px;
    max-width: 100%;
    border: 10px solid var(--secondary-nav-color);
    border-top: none;
    margin-bottom: 50px;
}
.skill-container h3{
    background-color: var(--secondary-nav-color);
    padding: 15px 0;
    text-align: center;

}
.skill-container ul{
    margin-bottom: -60px;
    list-style: none;
}

#skill01 h3{
padding-bottom: 30px;
}
#medialink{
    display: none;
}


@media(max-width:450px){
   .flex-bottom-container{
  width: 280px;
  padding-left: 6%;
       
} 
}

/*reference section*/
.reference{
    display:flex;
    width: 100%;
    position: relative;
    justify-content:space-evenly;
    margin: 5% 0 0 0;
}

#donation{
 background:url(/public/images/marta.png) no-repeat ;
 background-size:100% 80%;
 background-color: rgb(16, 216, 79);
 width: 100%;
 height: 30vw;
 border-radius: 15px;
 position: relative;
 margin:5%;
}
#come{
 background:url(/public/images/autumn.png) no-repeat ;
 background-size:100% 80%;
 background-color: aqua;
 width: 100%;
 height: 30vw;
 border-radius: 15px;
 position: relative;
 margin: 5%;
}
.w-come, .w-donation{
    font-size: 2vw;
   position: relative;
   top:80%;
  
   
}
.bestbh-come, .bestbh-donation{
    color:black;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vw;
    cursor: pointer;
    position: relative;
    z-index: -2;
    margin: 5%;
}
.close-come, .close-donation {
    position: relative;
    z-index: -1;
    display: flex;
}
.links-container-come, .links-container-donation, .links-container-how{
    display: none;
}
#sidebar-come, #sidebar-donation, #sidebar-how{
   display: none;
}
#come svg, #donation svg{
    position: absolute;
    width: 20vw;
   cursor: pointer;
    z-index: 9;
    display: flex;
    left:25%;
}
#donation svg{
    position: absolute;
    width: 20vw;
   cursor: pointer;
    z-index: 9;
    display: flex;
    left:25%;
    top: 18%;
}

#sidebar-come:checked ~ .links-container-come{
     flex-direction: column;
     position: absolute;
     display: flex;
     z-index: 10;
     width: 100%;
     align-items: center;
    
}
#sidebar-donation:checked ~ .links-container-donation{
     flex-direction: column;
     position: absolute;
     display: flex;
     z-index: 10;
     width: 100%;
     align-items: center;
     
}
#sidebar-come:checked ~ #overlay-come{
   cursor: pointer;
   background-color:  rgb(43, 167, 6);
   height: 30vw;
   position: absolute;
   width: 100%;
   bottom:0.1%;
   z-index: 9;
   display:flex;
   border-radius: 10px;
    transition: 100ms ease;
  
   }
   #sidebar-donation:checked ~ #overlay-donation{
   cursor: pointer;
   background-color:  rgb(163, 239, 56);
   height: 30vw;
   position: absolute;
   width: 100%;
   bottom:0.1%;
   z-index: 9;
   display:flex;
   border-radius: 10px;
   transition: 100ms ease;
  
   }
   /*how*/
   #howabout{
    display:flex;
    width: 100%;
    position: relative;
    justify-content:center;
    margin-top: 15%;
    margin-bottom: 10%;
    
    
    }
   .w-how{
    font-size: 3vw;
   text-shadow: 3px 2px 2px rgb(108, 165, 226);
   }
   .open-how{
    display: flex;
    position: absolute;
    cursor: pointer;
    top:-60%;
    left:18%;
   }
  
  
   .bestbh-how{
    color:black;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
    cursor: pointer;
    position: relative;
    z-index: -2;

}
  
#sidebar-how:checked ~ #overlay-how{
   cursor: pointer;
   height: 14.5vw;
   position: absolute;
   width: 30%;
   bottom: 0.1%;
   z-index: 9;
   display:flex;
}
   #sidebar-how:checked ~ .open-how{
    display: none;
   }
 
   .tail{
    
    background-color:black;
    background:url(/public/images/deviltailnoback.png)top right no-repeat ;
    background-size: 15vw;
    width: 62.7vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    z-index: 20;
    position: relative;
    bottom: 6.8vw;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
    }
	50% {
		background-position: 100% 50%;
    }
	100% {
		background-position: 0% 50%;
	}
}
#bottom{
    width: 100%;
   text-align: center;
   margin-top: 8%;
  padding: 3%;
}
#bottom {
	background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    content:'';
    border-radius: 1em;
}
.dev{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:2vw;
    margin-top:-6vw;
    color: white;
   text-shadow: 10px 8px 8px black;
   margin-bottom: 5%;
}
   


  