@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#center{
    display: flex;
}
#center-body{
    position: relative;
   width: 96rem;
   min-width: 100%;
   height: 58rem;
   min-height: 100%;
   display: grid;
   grid-template-columns:repeat(4,25%);
   grid-template-rows:repeat(4,25%);
   grid-template-areas:
    "box-1 box-2 box-3 box-4"
    "box-1 box-5 box-5 box-4"
    "box-6 box-5 box-5 box-7"
    "box-8 box-8 box-9 box-7";
    gap: 1em;
    z-index: 2;
}
#center-body img{
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}
.box5 img{
     min-height: 205%;
    min-width: 205%;
    border-radius: .5em;
    transition: 100ms ease;
}
.box5{
   position: relative;
}
#box01:hover, #box02:hover, #box03:hover, #box04:hover, #box06:hover, #box07:hover, #box08:hover, #box09:hover{
    scale: 1.1;
    z-index: 14;
   
}
.back{
   min-width: 110%;
   min-height: 140%;
   z-index: -2;
   position: absolute;
   margin-top: -5%;
   background: linear-gradient(-90deg, rgba(0,0,0,0), rgba(0,0,0,0.01), rgba(0,0,255,1));
   animation: gradient 25s ease infinite;
   background-size: 200%;
   content: '';
}

#box01{
    background-image:url(/public/images/grid-img/peschiera2025.png);
   background-size:cover; 
}
#box02{
    background-image:url(/public/images/grid-img/cucina.png);
   background-size:cover; 
}
#box03{
    background-image:url(/public/images/grid-img/chanel.jpg);
   background-size:100% 100%; 
}
#box04{
    background-image:url(/public/images/grid-img/casacicala2.jpeg);
   background-size:cover; 
}
#box05{
   background-image:url(/public/images/grid-img/site09.jpg);
   background-size:cover;
   filter: grayscale(100%);
}
#box06{
    background-image:url(/public/images/grid-img/gruppomusica.jpeg);
   background-size:cover; 
}
#box07{
    background-image:url(/public/images/grid-img/ginnastica3.jpg);
   background-size:100% 100%; 
}
#box08{
    background-image:url(/public/images/grid-img/dalla.jpg);
    background-size:100% 100%; 
   
  

}
#box09{
    background-image:url(/public/images/grid-img/piscina2.jpeg);
   background-size:100% 100%;
  
}
/*why we are the best*/
.bestbotton{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(217, 234, 165);
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    min-width: 25rem;
    min-height: 9rem;
    z-index: 3;
    text-align: center;
    top:-200%;
    left: 50%;
   
    
}

.bestbh{
    color:black;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
}
   
.close-sidebar-button-best {
    position: relative;
    z-index: -1;
    display: flex;
}
.links-container-best{
    display: none;
}
#sidebar-active-best{
   display: none;
}
.bestbotton svg{
     height: 30.5rem;
    position: relative;
    width: 50rem;
   cursor: pointer;
    z-index: 9;
    display: flex;
    margin-top: -35%;
    left:-48.5%;
    padding:35% 50% 68% 50%;
}

#sidebar-active-best:checked ~ .links-container-best{
     flex-direction: column;
     position: absolute;
     display: flex;
     z-index: 10;
     width: 100%;
     align-items: center;
}
#img{
    position: relative;
   display: flex;
  
  
}
#overlay-best img{
    width: 20%;
}



#sidebar-active-best:checked ~ #overlay-best{
    background:url(/public/images/lavoratore.png) right bottom no-repeat, url(/public/images/pulmino.png) left bottom no-repeat, url(/public/images/palma.png) center bottom no-repeat ;
   cursor: pointer;
  background-color:  rgb(217, 234, 165);
  background-size: 25%;
    height: 30rem;
    position: relative;
    width: 50rem;
     margin-top: -122%;
    left:-50%;
    z-index: 9;
    display: flex;
    border-radius: 10px;
   }

@media(max-width:800px){
   
#center-body{
    display: flex;
    flex-direction: column;
}
.center-box{
 min-height: 18em ;
 gap: 25px;
 margin:1rem 1rem 0 1rem;
}
}

 

