@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#center{
    display: flex;

   
}
#center-body{
    width: 97rem;
   min-width: 100%;
   height: 60rem;
   min-height: 100%;
   display: grid;
   grid-template-columns:repeat(4,25%);
   grid-template-rows:repeat(4,25%);
   grid-template-areas:
    "box-1 box-2 box-3 box-4"
    "box-1 box-5 box-5 box-4"
    "box-6 box-5 box-5 box-7"
    "box-8 box-8 box-9 box-7";
    gap: 1em;
 
    margin: 0 3% 10% 3%;
    z-index: 2;
}
#center-body img{
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}
#box01:hover, #box02:hover, #box03:hover, #box04:hover, #box06:hover, #box07:hover, #box08:hover, #box09:hover{
    scale: 1.1;
   
}
.back{
   min-width: 110%;
   min-height: 140%;
   z-index: -2;
   position: absolute;
   margin-top: -5%;
   background: linear-gradient(-90deg, rgba(0,0,0,0), rgba(0,0,0,0.01), rgba(0,0,255,1));
   animation: gradient 25s ease infinite;
   background-size: 200%;
   content: '';
}
/*why we are the best*/
#box01{
    background-image:url(/public/images/grid-img/peschiera2025.png);
   background-size:cover; 
   
}
#box02{
    background-image:url(/public/images/grid-img/cucina.png);
   background-size:cover; 
}
#box03{
    background-image:url(/public/images/grid-img/trasporti.png);
   background-size:cover; 
}
#box04{
    background-image:url(/public/images/grid-img/laboratorioartistico.png);
   background-size:cover; 
}
#box05{
   background-image:url(/public/images/grid-img/site09.jpg);
   background-size:cover;
   filter: grayscale(100%);
}
#box06{
    background-image:url(/public/images/grid-img/dopodinoi.png);
   background-size:cover; 
}
#box07{
    background-image:url(/public/images/grid-img/ginnastica.jpg);
   background-size:cover; 
}
#box08{
    background-image:url(/public/images/grid-img/musica.jpg);
   background-size:cover; 
}
#box09{
    background-image:url(/public/images/grid-img/piscina.jpg);
   background-size:cover; 
}


.bestbotton{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(217, 234, 165);
   font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    min-width: 25rem;
    min-height: 9rem;
    z-index: 3;
    text-align: center;
    top: 72%;
    left: 42%;
}
.bestbh{
    color:black;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    margin-top: 20%;
   
   
    top:-50%;

}
.close-sidebar-button-best {
    display: absolute;
    z-index: -1;
}

.links-container-best{
    display: none;
   
}
#sidebar-active-best{
    display: none;
}

   #sidebar-active-best:checked ~ .links-container-best{
     
    flex-direction: column;
        
        position: absolute;
        display: flex;
        z-index: 10;
        width: 100%;
        align-items: center;
       
       
       
   }
   #sidebar-active-best:checked ~ #overlay-best{
    background: rgb(217, 234, 165);
    height: 31rem;
    position: absolute;
    width: 50rem;
    top:-30%;
    left: -45%;
    z-index: 9;
    display: flex;
   }
   
   



@media(max-width:800px){
   
#center-body{
    display: flex;
    flex-direction: column;
}
.center-box{
 min-height: 18em ;
 gap: 25px;
 margin:1rem 1rem 0 1rem;
}
}

 

