#center{
    display: flex;

   
}
#center-body{
    width: 97rem;
   min-width: 100%;
   height: 60rem;
   min-height: 100%;
   display: grid;
   grid-template-columns:repeat(4,25%);
   grid-template-rows:repeat(4,25%);
   grid-template-areas:
    "box-1 box-2 box-3 box-4"
    "box-1 box-5 box-5 box-4"
    "box-6 box-5 box-5 box-7"
    "box-8 box-8 box-9 box-7";
    gap: 1em;
 
    margin: 0 3% 10% 3%;
    z-index: 2;
}
#center-body img{
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}
#box01:hover{
    scale: 1.1;
   
}
.back{
   min-width: 110%;
   min-height: 140%;
   z-index: -2;
   position: absolute;
   margin-top: -5%;
   background: linear-gradient(-90deg, rgba(0,0,0,0), rgba(0,0,0,0.01), rgba(0,0,255,1));
   animation: gradient 25s ease infinite;
   background-size: 200%;
   content: '';
}
/*why we are the best*/

#box05{
   background-image:url(/public/images/grid-img/site09.jpg);
   background-size:cover;
}
.bestbotton{
    display: flex;
    flex-direction: column;
    color:black;
   
    position: absolute;
    min-width: 25rem;
    min-height: 9rem;
    z-index: 3;
    text-align: center;
    top: 72%;
    left: 42%;
}
.close-sidebar-button-best {
    display: absolute;
    z-index: -1;
}

.links-container-best{
    display: none;
   
}

   #sidebar-active-best:checked ~ .links-container-best{
     flex-direction: column;
        align-items: flex-start;
        position: fixed;
        display: flex;
        z-index: 10;
        width: 300px;
        height: 400px;
        background-color: red;
        box-shadow: -10px 0 5px rgba(7, 53, 163, 1.0);
       
   }
   #sidebar-active-best:checked ~ #overlay-best{
    background: rgb(217, 234, 165);
    height: 100%;
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 9;
   }
   
   



@media(max-width:800px){
   
#center-body{
    display: flex;
    flex-direction: column;
}
.center-box{
 min-height: 18em ;
 gap: 25px;
 margin:1rem 1rem 0 1rem;
}
}

 

