
*{
    margin:0;
    padding:0;
}
html, body{
   height: 100%;
   width: 100%;
   
}

body{
    background-color: aquamarine;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    align-items: center;
}
div{
    background-color: bisque;
    font-size: 10px;
    text-align: center;
    width: 150px;
    height: 150px;
    border: 5px solid;
    
}


