*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    background-color:  rgb(15, 175, 154);
    margin-top: 5%;
}

#grid{
    display: grid;
    grid-template-columns:repeat(16, 1ft);
    grid-template-rows:repeat(16,1ft);
    
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    
    
}
#logo{
    grid-column: 1/ 16;
    grid-row: 1/ 4;
    background-color:blue;
    margin: 2% 1% 2% 1%;
    
   
   
}
#nav{
    grid-column: 1/ 16;
    grid-row: 13/ 16;
    min-height: 100%;
   
}
#center{
    grid-column: 1 / 16;
    grid-row: 4/10;
    margin: 0% 1% 2% 1%;
    border-radius: 50px;

}
#bottom{
    grid-column: 1/16;
    grid-row: 10/13;
}

@media(max-width: 800px){

#logo{
    grid-column: 1/16;
    grid-row: 1/2;
   
}
#nav{
    grid-column: 1/ 16;
    grid-row: 2/4;
}
#center{
    grid-column: 1/ 16;
    grid-row: 4/14;
}
#bottom{
    grid-column: 1/16;
    grid-row: 14/16;
}
}