*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    background-color:  rgb(15, 175, 154);
    min-height: 100vh;
   margin-top: 5%;
    
}
#body{
    width: 100%;
    margin:0;
}
#grid{
    display:flex;
    flex-direction: column;
   
    align-items: center;
}
#logo{
    margin-top: 3%;
    
}


#bottom{
    width: 100%;
   text-align: center;
   margin-top: 8%;
  padding: 3%;
}
#bottom {
	background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
/*nav-logo tablet*/
@media(min-width:988px){
    #write3{
    display: none;
 }
 #sfa{
    display: none;
}
}
@media(max-width: 988px){
    .center-mobile{
        display:none;
    }
      #skill{
    display: flex;
    flex-direction: column;
}
.container{
   text-align: center; 
}
.skill-container{
    height: 350px;
  }
   
    #write2 {
        display: none;
    }
    #write3{
        font-size: 3vw;;
   display: absolute;
  text-align: center;
    color:rgb(42, 5, 143);
    }
    #logo{
        height: 7rem;
        height: 100%;
    }
   
#center{
    display: flex;
  
   
}
#center-body{
    position: relative;
   
    width: 90vw;
   height: 58rem;
   
   display: grid;
   grid-template-columns:repeat(4,24%);
   grid-template-rows:repeat(4,20%);
   grid-template-areas:
    "box-1 box-2 box-3 box-4"
    "box-1 box-5 box-5 box-4"
    "box-6 box-5 box-5 box-7"
    "box-8 box-8 box-9 box-7";
   z-index: 2;
}
#center-body img{
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}
.box5 img{
     min-height: 205%;
    min-width: 205%;
    border-radius: .5em;
    transition: 100ms ease;
}
.box5{
   position: relative;
}
#box01:hover, #box02:hover, #box03:hover, #box04:hover, #box06:hover, #box07:hover, #box08:hover, #box09:hover{
    scale: 1.1;
    z-index: 14;
   
}
 .back{
   min-width: 100%;
   height: 140vw;
   z-index: -2;
   position: relative;
   margin-bottom: 10%;
   margin-top:-160%;
   background: linear-gradient(-90deg, rgba(0,0,0,0), rgba(0,0,0,0.01), rgba(0,0,255,1));
   animation: gradient 25s ease infinite;
   background-size: 200%;
   content: '';

}


#box01{
    background:url(/public/images/grid-img/gruppomusica.jpg) no-repeat center;
   background-size:cover; 
   
}
#box02{
    background-image:url(/public/images/grid-img/cucina.jpg);
   background-size:cover; 
}
#box03{
    background-image:url(/public/images/grid-img/chanel.jpg);
   background-size:100% 100%; 
}
#box04{
    background-image:url(/public/images/grid-img/casacicala2.jpeg);
   background-size:cover; 
}
#box05{
   background-image:url(/public/images/grid-img/site09.jpg);
   background-size:cover;
   filter: grayscale(100%);
}
#box06{
    background-image:url(/public/images/grid-img/passeggiata.jpg);
   background-size:cover; 
}
#box07{
    background-image:url(/public/images/grid-img/ginnastica.png);
   background-size:100% 100%; 
}
#box08{
    background:url(/public/images/grid-img/dalla.jpg) right bottom no-repeat ;
    background-size:105% 120%;
}
#box09{
     background:url(/public/images/grid-img/lettura.jpg) right bottom no-repeat;
     background-size: 100% 140%;
}
/*why we are the best*/
.bestbotton{
    font-size: 1.6vw;
    display: flex;
    flex-direction: column;
    color: rgb(217, 234, 165);
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    min-width: 200%;
    min-height: 200%;
    z-index: 3;
    text-align: center;
    top:-190%;
   }

.bestbh{
    color:black;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.4vw;
    cursor: pointer;
    margin-left: 2%;
    
    
}
   
.close-sidebar-button-best {
    position: relative;
    z-index: -1;
    display: flex;
}
.links-container-best{
    display: none;
}
#sidebar-active-best{
   display: none;
}
.bestbotton svg{
     height: 30.5rem;
    position: relative;
    width: 5rem;
   cursor: pointer;
    z-index: 9;
    display: flex;
    margin-top: -35%;
   left:43%;
    
}

#sidebar-active-best:checked ~ .links-container-best{
     flex-direction: column;
     position: absolute;
     display: flex;
     z-index: 10;
     width: 100%;
     align-items: center;
}
#img{
    position: relative;
   display: flex;
  
  
}
#overlay-best img{
    width: 20%;
}
#sidebar-active-best:checked ~ #overlay-best{
 background:url(/public/images/lavoratore.png) right bottom no-repeat, url(/public/images/pulmino.png) left bottom no-repeat, url(/public/images/palma.png) center bottom no-repeat ;
 cursor: pointer;
 background-color:  rgb(217, 234, 165);
 background-size: 25%;
 height: 30rem;
 bottom: 2em;
 position: absolute;
 width: 45vw;
 z-index: 9;
 display: flex;
 border-radius: 10px;

    
}
progress{
    scroll-padding-right: 30%;
}
.some-projects{
    margin-top: -24%;
}
#projects-bottom-section h2{
    font-size: 5vw;
    text-align: center;
    
    
}

}
/*mobile*/
@media(max-width:640px){
nav{
 position:fixed;
 width: 100%;
 padding:0 5% 0 3%;
 height: 8vw;
 background-color: var(--color-1);
 opacity: 0.8;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 text-align: center;
 margin-top: -5%;
 z-index: 11;
}
#center{
 display:none;
}
nav a{
 font-size: 3vw;
}
   body{
    display:flex;
   
    flex-direction: column;
   
    margin:0;
   }
    #aurora {
        width: 100%;
        position: relative;
        background: url(/public/images/logocentro.png)right no-repeat;
        font-weight:700;
        color: rgb(3, 1, 22);
        font-size: 3vw;
        background-size: 20vw;
}
#aurora:hover{
    background-color: #23d5ab;
     background-image: none;
}
#casacicala{
 width: 100%;
  position: relative;
  background: url(/public/images/logocicala.jpeg)right no-repeat;
  font-weight:700;
  color: rgb(3, 1, 22);
 font-size: 3vw;
 background-size: 10vw;

}
#casacicala:hover{
    background-color: #23d5ab;
    background-image: none;
}
#aurora2 {
  display:none;
}
#casacicala2{
  display:none;
}
.center-mobile{
    position: relative;
    display: flex;
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
  
   
}
.box03{
 background:url(/public/images/logocicala.jpeg);
 background-size:100% 100%; 
 width: 100%;
 height: 60vw;
 border-radius: 15px;
}
.box02{
 z-index: 1;
 width: 1fr;
 height: 60vw;
 background: linear-gradient(10deg,rgb(35, 213, 171),rgba(35, 166, 213), rgba(231, 60, 126), rgb(238, 119, 82)  );
 animation: gradient 10s ease infinite;
 background-size: 400%;
 content: url(/public/images/logocentro2.png);
 border-radius: 15px;
 cursor: pointer;
 
}
.box01{
 background:url(/public/images/grid-img/site09.jpg) ;
 background-size:100% 100%;
 width: 1fr;
 height: 60vw;
 border-radius: 15px;
}

.sfa{
    position: relative;
    z-index: 3;
    color:black;
    font-size: 20px;
}
#collcentro{
    position: absolute;
    width: 100%;
    height: 60vw;
    z-index: 5;
    
}
.bestbuttom-mobile{
    font-size: 3vw;
    color: rgb(195, 247, 7);
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    font-weight: 900;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.bestb-mobile{
    cursor: pointer;
}
.bestbh-mobile{
    color:black;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vw;
    cursor: pointer;
    display: flex;
}
.bestbh-mobile{
    width: 100%;

}
.close-sidebar-button-best-mobile {
    position: relative;
    z-index: -1;
    display: flex;
}
.links-container-best-mobile{
    display: none;
}
#sidebar-active-best-mobile{
   display: none;
}
#svg-mobile{
  position: absolute;
  cursor: pointer;
  z-index: 9;
}

#sidebar-active-best-mobile:checked ~ .links-container-best-mobile{
  flex-direction: column;
  display: flex;
  z-index: 10;
  width: 100%;
}
#img{
    position: relative;
   display: flex;
}
#overlay-best-mobile img{
    width: 20%;
}
#sidebar-active-best-mobile:checked ~ #overlay-best-mobile{
  background:url(/public/images/lavoratore.png) right bottom no-repeat, url(/public/images/pulmino.png) left bottom no-repeat, url(/public/images/palma.png) center bottom no-repeat ;
  cursor: pointer;
  background-color:  rgb(101, 115, 222);
  background-size: 25%;
  height: 61vw;
  right: 0.1%;
  
  width: 100%;
  z-index: 9;
  position: absolute;
  border-radius: 10px;
}
   .close-sidebar-button-best-mobile{
    position: relative;
    left: 20%;
   }
   #logo{
    width: 100%;
    height: 12rem;
    position: relative;
    background: url(/public/images/logostone.png) left no-repeat;
    background-size: 18%;
    z-index: 2;
    top: 10%;
    left:3%;
}
#write3{
  margin-top:5rem;
}
#sfa{
    font-family: cursive;
    top:44%;
    left: 20%;
    position: absolute;
}
#sfa h1{
    font-size: 4vw;
    color: rgb(43, 5, 235);
}
.flex-bottom-container details h3{
    font-size: 4vw;
}
.back{
   border-radius: 0 0 40px 40px;
   width: 100%;
   height: 80em;
   z-index: -2;
   position: absolute;
   background: linear-gradient(-90deg, rgba(1, 62, 12, 0), rgba(1,62,12,0.05), rgb(11, 223, 71));
   animation: gradient 25s ease;
   background-size: 200%;
   content: '';
}
#projects-bottom-section h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 29vw;
}
}
.dev{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:2vw;
    margin-top: 2%;
    color: white;
   text-shadow: 10px 8px 8px black;
   margin-bottom: 5%;
}