*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    background-color:  rgb(15, 175, 154);
   margin-top: 5%;
    
}
#grid{
    display:flex;
    flex-direction: column;
    
    align-items: center;
}
#logo{
    margin-top: 3%;
    
}




/*#final{
    
   text-align: center;
   margin-top: 8%;
  padding: 3%;
}
#final {
	background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}*/
@media(max-width: 800px){

#logo{
    grid-column: 1/16;
    grid-row: 1/2;
   
}
#nav{
    grid-column: 1/ 16;
    grid-row: 2/4;
}
#center{
    grid-column: 1/ 16;
    grid-row: 4/14;
}
#bottom{
    grid-column: 1/16;
    grid-row: 14/16;
}
}