:root{
    --accent-nav-color: rgb(0, 42, 255);
    --primary-nav-color: rgb(2, 26, 98);
    --secondary-nav-color: rgb(4, 4, 152);
    --text-nav-color: white;
    --secondary-nav-text-color: rgb(131, 230, 241);
}
#nav{
   display:flex;
   flex-direction: column;
    color: var(--text-nav-color);
   background-color: antiquewhite;
   margin-top: -1%;
   
  }
#skill-section{
     grid-column: 1/ 8;
    grid-row: 4/ 8;
}
.read-more{
display: inline-block;
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
color: aliceblue;
font-size: 1.5rem;
margin-left: 5px;
border-radius: 1000px;
padding: .5em 1.25em;
text-decoration: none;
margin-bottom: 80px;
transition: 200ms ease;
cursor: pointer;
}
.read-more:hover{
    background-color: var(--secondary-nav-color);
}
#skill-section h3{
   font-size: 2rem;
   text-align: start;
}
.say{
    padding-top: 5%;
}
.wrapper li{
    color: aquamarine;
}
progress {
  border: none;
  margin-left: 30px;
  height: 20px;
  width: 80%;
}
progress::-webkit-progress-value {
  background: rgb(2, 92, 44);
}
progress::-webkit-progress-bar {
  background: rgb(162, 162, 211);
}
li{
    font-size: 18px;
    margin-bottom: 2%;
    margin-top: 5px;
    
}
li::marker {
  color: rgb(151, 234, 42);
}
#skill{
     display: grid;
    grid-template-columns:repeat(8, 1ft);
    gap:2%;
    
    margin-top: 1%;
    margin-bottom: 20%;
}
#skill01{
     grid-column: 1/ 8;
    grid-row: 1/ 4;
    width: 165vh;
    max-width: 100%;
    height: 40vh;
    
}
#skill02{
     grid-column: 1/ 8;
    grid-row: 4/ 8;
    width: 165vh;
    max-width: 100%;
     height: 45vh;
}
.skill-container{
    width: 200px;
    max-width: 100%;
    border: 10px solid var(--secondary-nav-color);
    border-top: none;
    margin-bottom: 50px;
}
.skill-container h3{
    background-color: var(--secondary-nav-color);
    padding: 15px 0;
    text-align: center;

}
.skill-container ul{
    margin-bottom: -60px;
    list-style: none;
}

#skill01 h3{
padding-bottom: 30px;
}


@media(max-width: 800px){
    #skill{
    display: flex;
    flex-direction: column;
}
   
#nav-img{
    display: none;
}
.container{
   text-align: center; 
}
.skill-container{
    height: 350px;
   
    
}



}
@media(max-width:450px){
   #skill-section{
    padding-left: 9%;
   }
}




