:root{
    --accent-nav-color: rgb(0, 42, 255);
    --primary-nav-color: rgb(2, 26, 98);
    --secondary-nav-color: rgb(4, 4, 152);
    --text-nav-color: white;
    --secondary-nav-text-color: rgb(131, 230, 241);
}

#nav{
    display: grid;
    grid-template-columns:repeat(8, 1ft);
    background-color: var(--primary-nav-color);
    color: var(--text-nav-color);
  }
.header-nav{
    margin-top: 30%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap-reverse;
    grid-column: 1/ 8;
    grid-row: 1/ 4;
}
#skill-section{
     grid-column: 1/ 8;
    grid-row: 4/ 8;
}
#nav img{
    height: 30vh;
    width: 20vh;
}
.header-nav h2{
   font-weight: 200;
   margin-left: 5px;
}
.h2{
    margin: 10px 0 10px 0;
}
.header-nav p{
margin-left: 5px;
color: var(--secondary-nav-text-color);
}
.read-more{
display: inline-block;
background-color: var(--accent-nav-color);
color: aliceblue;
font-size: 1.25rem;
margin-left: 5px;
border-radius: 1000px;
padding: .5em 1.25em;
text-decoration: none;
margin-bottom: 80px;
transition: 200ms ease;
cursor: pointer;
}
.read-more:hover{
    background-color: var(--secondary-nav-color);
}
#skill-section h3{
   font-size: 1rem;
   text-align: start;
}
.say{
    padding-top: 5%;
}
.wrapper li{
    color: aquamarine;
}

progress {
  border: none;
  margin-left: 3%;
  height: 5px;
  width: 70%;
 
}
progress::-webkit-progress-value {
  background: rgb(2, 92, 44);
}
progress::-webkit-progress-bar {
  background: rgb(162, 162, 211);
}
li{
    font-size: 12px;
    margin-bottom: 5%;
}
li::marker {
  color: rgb(151, 234, 42);
}
#skill{
     display: grid;
    grid-template-columns:repeat(8, 1ft);
    gap: 5%;
    margin-left: 5%;
    margin-top: 20%;
    margin-bottom: 20%;
}
#skill01{
     grid-column: 1/ 4;
    grid-row: 1/ 8;
}
#skill02{
     grid-column: 4/ 8;
    grid-row: 1/ 8;
}
.skill-container{
    width: 200px;
    max-width: 100%;
    border: 10px solid var(--secondary-nav-color);
    border-top: none;
    margin-bottom: 50px;
}
.skill-container h3{
    background-color: var(--secondary-nav-color);
    padding: 15px 0;
    text-align: center;

}
.skill-container ul{
    margin-bottom: -60px;
    list-style: none;
}

#skill01 h3{
padding-bottom: 30px;
}

@media(max-width: 800px){
    #skill{
    display: grid;
    grid-template-columns:repeat(8, 1ft);
    gap:10px;
    margin-left: 5%;
    margin-top: 10%;
}
    #skill01{
     grid-column: 1/ 8;
    grid-row: 1/ 4;
}
#skill02{
     grid-column: 1/ 8;
    grid-row: 4/ 8;
    
}
#nav-img{
    display: none;
}
.container{
   text-align: center; 
}
.skill-container{
    height: 350px;
    
}
#nav{
    min-height: 800px;
}

}
@media(max-width:450px){
   #skill-section{
    padding-left: 6%;
   }
}




