@media(min-width:640px){


#aurora2 {
  display:none;
}
#casacicala2{
  display:none;
}
:root{
    --primary-nav-color: #0a192f;
    --secondary-nav-color: #112240;
}
#nav{
   display:flex;
   flex-direction: column;
   color: white;
   width: 100%;
   margin-top: 10%;
  }
#skill-section{
     grid-column: 1/ 8;
    grid-row: 4/ 8;
}

#skill-section h3{
   font-size: 2rem;
   text-align: start;
}
.say{
    padding-top: 5%;
}
.wrapper li{
    color: aquamarine;
}
progress {
  border: none;
  margin-left: 30px;
  height: 20px;
  width: 80%;
}
progress::-webkit-progress-value {
  background: rgb(2, 92, 44);
}
progress::-webkit-progress-bar {
  background: rgb(162, 162, 211);
  
}
li{
    font-size: 18px;
    margin-bottom: 2%;
    margin-top: 5px;
}
li::marker {
  color: rgb(151, 234, 42);
}
#skill{
    display: flex;
    flex-direction: column;
    
    margin-top: 1%;
    margin-bottom: 20%;
}
#skill01{
    
    width: 165vh;
    max-width: 100%;
    height: 40vh;
    
}
#skill02{
    
    width: 1vh;
    max-width: 100%;
     height: 45vh;
}
.skill-container{
    width: 200px;
    max-width: 100%;
    border: 10px solid var(--secondary-nav-color);
    border-top: none;
    margin-bottom: 50px;
}
.skill-container h3{
    background-color: var(--secondary-nav-color);
    padding: 15px 0;
    text-align: center;

}
.skill-container ul{
    margin-bottom: -60px;
    list-style: none;
}

#skill01 h3{
padding-bottom: 30px;
}
#chisiamo{
    background: linear-gradient(-30deg, rgb(238, 119, 82), rgba(231, 60, 126), rgba(35, 166, 213), rgb(35, 213, 171));
 animation: gradient 10s ease infinite;
   background-size: 200%;
   content: '';
}
#casacicala{
  background: url(/public/images/logocicala.jpeg)center no-repeat;
  font-weight:700;
  color: rgb(3, 1, 22);
 font-size: 1.6vw;
 background-size: 6vw;
}
#aurora{
  background: url(/public/images/logocentro.png)center no-repeat;
 font-weight:700;
 color: rgb(3, 1, 22);
 font-size: 1.6vw;
  background-size: 9vw;
}
#aurora:hover{
background: rgb(151, 234, 42);
}
#casacicala:hover{
background: rgb(151, 234, 42);
}
#chisiamo:hover{
background: rgb(151, 234, 42);
}
}


@media(max-width: 988px){
    #skill{
    display: flex;
    flex-direction: column;
}
   

.container{
   text-align: center; 
}
.skill-container{
    height: 350px;
   
    
}
}





