@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-1: rgb(145, 156, 235);
    --text-color: rgb(18, 20, 19);
    --accent-color: rgb(8, 230, 60);

}
html{
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
@media(min-width:640px){
nav{
position:fixed;
width: 100%;
padding:0 5% 0 0s;
height: 5vw;
background-color: var(--color-1);
opacity: 0.8;
display: flex;
justify-content: flex-end;
align-items: center;
text-align: center;
margin-top: -5%;
z-index: 11;
}
 
}
.links-container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
}



nav a{
    height: 100%;
    padding:0 20px ;
    display: flex;
    align-items: center;
    color:var(--text-color);
    text-decoration: none;
    font-size: 1.6vw;

}
 nav a:hover{
    background-color: var(--accent-color);
}
nav .home-link{
    margin-right:auto;
}
nav svg{
fill: var(--text-color);
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button {
    display: none;
    
}
#logo{
    padding-bottom:2%;
    padding-left: 0%;
    width: 100%;
    height: 18rem;
    position: relative;
    background: url(/public/images/logostone.png) top left no-repeat ;
    background-size: 10%;
    z-index: 2;
    text-shadow: 3px 2px 2px rgb(108, 165, 226);
   
}
#write2{
   
    width: 100%;
    font-size: 1.8vw;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center ;
    display: relative;
    color:rgb(2, 2, 60);
    position:absolute;
}


@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
       
	}
	50% {
		background-position: 100% 50%;
        
	}
	100% {
		background-position: 0% 50%;
	}
}
@media(max-width: 640px){
   .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        
        background-color: var(--color-1);
        box-shadow: -10px 0 5px rgba(7, 53, 163, 1.0);
        transition: 0.8s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height:auto;
        width: 100%;
       padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button,  .close-sidebar-button{
    display: block;
    padding: 20px;
   }
   #sidebar-active:checked ~ .links-container{
    right: 0;
   }
   #sidebar-active:checked ~ #overlay{
    background: rgb(217, 234, 165);
    height: 100%;
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 9;
   }
   
   
 
    
}