@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color-1: rgb(145, 156, 235);
    --text-color: rgb(18, 20, 19);
    --accent-color: rgb(8, 230, 60);

}
*{
   margin: 0;
   padding: 0;
}

html{
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
nav{
position: fixed;
z-index: 1;
width: 100%;
 height: 80px;
 background-color: var(--color-1);
 opacity: 0.8;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 text-align: center;
 margin-top: -5%;
 z-index: 3;
 
}
.links-container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
nav a{
    height: 100%;
    padding:0 20px ;
    display: flex;
    align-items: center;
    color:var(--text-color);
    text-decoration: none;
}
 nav a:hover{
    background-color: var(--accent-color);
}
nav .home-link{
    margin-right:auto;
}
nav svg{
fill: var(--text-color);
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button {
    display: none;
    
}
#logo{
    width: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns:repeat(16, 10vh);
    margin-top: -0.6%;
    z-index: 2;
    font-size: 1.8vh;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
 grid-column: 2/ 2;
    grid-row: 1/ 16;
   
   
}

#write{
 grid-column: 3/ 8;
    grid-row: 1/ 16;
    margin-left: 15%;
    
}
.poetry{
     grid-column: 9/ 14;
    grid-row: 4/ 12;
    text-align: end;
}
.h2{
     grid-column: 3/ 15;
    grid-row: 10/ 16;
    margin-left: 8%;
}
.read-more{
     grid-column: 14/ 16;
    grid-row: 14/ 16;
   text-align: center;
   width: 140%;
}
#img{
    margin-top: 8%;
    margin-bottom: 3%;
     grid-column: 15/ 16;
    grid-row: 4/ 12;
    align-self: second baseline;
    width: 120%;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
       
	}
	50% {
		background-position: 100% 50%;
        
	}
	100% {
		background-position: 0% 50%;
	}
}

@media(min-width:800px){
    .mediadiv{
        display: none;
    }
}
@media(max-width: 800px){
   .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        
        background-color: var(--color-1);
        box-shadow: -10px 0 5px rgba(7, 53, 163, 1.0);
        transition: 0.8s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height:auto;
        width: 100%;
       padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button,  .close-sidebar-button{
    display: block;
    padding: 20px;
   }
   #sidebar-active:checked ~ .links-container{
    right: 0;
   }
   #sidebar-active:checked ~ #overlay{
    background: rgb(217, 234, 165);
    height: 100%;
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 9;
   }
   #write{
    display: none;
   }
   .mediadiv{
    text-align: left;
    }
 
    
}