<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro L'Aurora</title>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/centrocss/maincentro.css">
</head>
<body>
   <header>
    <nav>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
              <li>
                <a href="">Dove siamo</a>
            </li>
              <li>
                <a href="">Istagram</a>
            </li>
              <li>
                <a href="">Facebook</a>
            </li>
              <li>
                <a href="">Chi Siamo</a>
            </li>
        </ul>
    </nav>
    <div class="flex-container">
        <img height="400px" width="500px" src="/public/images/centropictures/logo centro (1).png">
        <div class="text-container">
            <h1>
                Centro Socio Educativo, Servizio di Formazione all'Autonomia
            </h1>
            <p><strong> Centro socio Educativo e Servizio di Formazione all'Autonomia</strong> è un servizio rivolto a persone con disabilità, maggiorenni</p>
            <a href="" class="cta-button">Seguici su Facebook</a>
            <a href="#Laboratori" class="cta-button secondary">I Nostri Laboratori</a>
        </div>
    </div>
   </header> 
</body>
</html>