<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro L'Aurora</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/centrocss/maincentro.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/centrocss/nav2.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/centrocss/mobile.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/centrocss/menu-schedule.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bottom.css">


    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4252528.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>

    <link rel="stylesheet" id="silktide-consent-manager-css" href="/assets/css/silktide-consent-manager.css">
<script src="/assets/js/silktide-consent-manager.js" lang="ita"></script>
<script src="/assets/js/cookies.js" lang="ita"></script>
 <script>
/* Cookie Consent Manager */
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}

if(localStorage.getItem('consentMode') === 'null'){
    gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': 'denied',
        'personalization_storage': 'denied',
        'security_storage': 'denied',
        'functionality_storage': 'denied',
    });
} else {
    gtag('consent', 'default', JSON.parse(localStorage.getItem('consentMode')));}

</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6X8KEP5KMG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6X8KEP5KMG');
</script>
</head>
<body>
   <header>
    <nav>
        <ul>
            <li>
                <a href="/stone">Home</a>
            </li>
              <li>
                <a href="/soon_ava">Dove siamo</a>
            </li>
              <li>
                <a href="https://www.instagram.com/stonesociale/" >Istagram</a>
            </li>
              <li>
                <a href="https://www.facebook.com/profile.php?id=61561618764897" >Facebook</a>
            </li>
            <li>
                <a href="https://www.youtube.com/@noneiltitolo" >YouTube</a>
            </li>
              <li>
                <a href="/chi_siamo">Chi Siamo</a>
            </li>
        </ul>
    </nav>
    
    <div class="flex-container-center">
        <div class="img"></div>
        <div class="text-container-center">
           <h1>
                Centro Socio Educativo
           </h1>
            <h1>
                 Servizio di Formazione all'Autonomia
            </h1>
            <p>Centro socio Educativo e Servizio di Formazione all'Autonomia</p>

        </div>
        <div class="social-center">
          <a href="https://www.facebook.com/profile.php?id=61561618764897"  class="cta-button-center" id="facebook-center"></a>
          <a href="https://www.instagram.com/stonesociale/" class="cta-button-center" id="instagram-center"></a>
          <a href="https://www.youtube.com/@noneiltitolo" class="cta-button-center" id="youtube-center"></a>
          
        </div>
    </div>
  </header>
<!--laboratori-->
  <section id="section">
    <div class="mobile-laboratory">
      <input type="checkbox" id="sidebar-active-laboratory" >
      <label for="sidebar-active-laboratory" class="open-sidebar-laboratory">
        <h1 class="laboratory">I Nostri Laboratori</h1>
        <svg xmlns="http://www.w3.org/2000/svg" height="52px" viewBox="0 -960 960 960" width="52px" fill="#2532e4">
          <path d="M419-80q-28 0-52.5-12T325-126L107-403l19-20q20-21 48-25t52 11l74 45v-328q0-17 11.5-28.5T340-760q17 0 29 11.5t12 28.5v472l-97-60 104 133q6 7 14 11t17 4h221q33 0 56.5-23.5T720-240v-160q0-17-11.5-28.5T680-440H461v-80h219q50 0 85 35t35 85v160q0 66-47 113T640-80H419ZM167-620q-13-22-20-47.5t-7-52.5q0-83 58.5-141.5T340-920q83 0 141.5 58.5T540-720q0 27-7 52.5T513-620l-69-40q8-14 12-28.5t4-31.5q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 17 4 31.5t12 28.5l-69 40Zm335 280Z"/>
        </svg>
      </label>
      <div class="links-container-laboratory" id="laboratory-mobile-images">
        <label for="sidebar-active-laboratory"  class="close-sidebar-laboratory">
          <div id="box01" class="mobile-box"><h1><a href="/artistico">Artistico</a></h1></div>
          <div id="box02" class="mobile-box"><h1><a href="/laboratorio_cucina">Cucina</a></h1></div>
          <div id="box03" class="mobile-box"><h1><a href="/informatica">Informatica</a></h1></div>
          <div id="box04" class="mobile-box"><h1><a href="/cineforum">Cineforum</a></h1></div>
          <div id="box05" class="mobile-box"><h1><a href="/scrittura">Scrittura</a></h1></div>
          <div id="box06" class="mobile-box"><h1><a href="/piscina">Piscina</a></h1></div>
          <div id="box07" class="mobile-box"><h1><a href="/ginnastica">Ginnastica Dolce</a></h1></div>
          <div id="box08" class="mobile-box"><h1><a href="/lettura">Lettura</a></h1></div>
          <div id="box09" class="mobile-box"><h1><a href="/musica_passiva">Musica Passiva</a></h1></div>
          <div id="box10" class="mobile-box"><h1><a href="/musicoterapia">MusicoTerapia</a></h1></div>
          <div id="box11" class="mobile-box"><h1><a href="/walking">Walking</a></h1></div>
        </label>
        </div>
    </div>
    
      <div class="labo">
              <div style="grid-area: box-1" class="box" id="box01"><a href="/artistico">Artistico</a></div>
              <div style="grid-area: box-2" class="box" id="box02"><a href="/informatica">Informatica</a></div>
              <div style="grid-area: box-3" class="box" id="box03"><a href="/walking">Walking</a></div>
              <div style="grid-area: box-4" class="box" id="box04"><a href="/ginnastica">Ginnastica Dolce</a></div>
              <div style="grid-area: box-5" class="box" id="box05"><a href="/laboratorio_cucina">Cucina</a></div>
              <div style="grid-area: box-6" class="box" id="box06"><a href="/lettura">Lettura</a></div>
              <div style="grid-area: box-7" class="box" id="box07"><a href="/cineforum">Cineforum</a></div>
              <div style="grid-area: box-8" class="box" id="box08"><a href="/musicoterapia">MusicoTerapia</a></div>
              <div style="grid-area: box-9" class="box" id="box09"><a href="/piscina">Piscina</a></div>
              <div style="grid-area: box-10" class="box" id="box10"><a href="/scrittura">Scrittura</a></div>
              <div style="grid-area: box-11" class="box" id="box11"><a href="/musica_passiva">Musica Passiva</a></div>
      </div>
    
</section>

<section id="our-work">
  <div class="schedule-menu">
    <div class="menu"><a href="/menu" target="_blank">Cosa c'è Oggi a Pranzo</a></div>
  </div>
  <div class="dropdown">
    <input type="checkbox" id="schedule">
    <label for="schedule" class="open-schedule">
      <a>Giorni di Chiusura</a>
    </label>
    <label for="schedule" id="overlay-schedule">
      <div class="dropdown-content">
        <ul>
          <li id="january">
             <input type="checkbox" id="january-schedule">
             <label for="january-schedule" class="open-january">
              <a id="mounth">Gennaio</a>
             </label>
             <label for="january-schedule" id="overlay-january">
              <div class="dropdown-january">
                <h1 class="january-closed">
                  dal 01 Gennaio al 06 Gennaio</br>
                  Buon Anno!!!
                </h1>
              </div>
             </label>
          </li>
          <li id="february">
            <input type="checkbox" id="february-schedule">
             <label for="february-schedule" class="open-february">
              <a id="mounth">Febbraio</a>
             </label>
             <label for="february-schedule" id="overlay-february">
              <div class="dropdown-february">
                <h1 class="february-closed">
                  Aperti tutto il mese!</br>
                  Buon Carnevale il 17!!!
                </h1>
              </div>
             </label>
          </li>
          <li id="march">
           <input type="checkbox" id="march-schedule">
             <label for="march-schedule" class="open-march">
              <a id="mounth">Marzo</a>
             </label>
             <label for="march-schedule" id="overlay-march">
              <div class="dropdown-march">
                <h1 class="march-closed">
                  Aperti tutto il mese!</br>
                  19 san Giuseppe, Auguri ai Papà!!!
                </h1>
              </div>
             </label> 
          </li>
          <li id="april">
            <input type="checkbox" id="april-schedule">
             <label for="april-schedule" class="open-april">
              <a id="mounth">Aprile</a>
             </label>
             <label for="april-schedule" id="overlay-april">
              <div class="dropdown-april">
                <h1 class="april-closed">
                  06 Lunedì dell'Angelo</br>
                </h1>
              </div>
             </label>
          </li>
          <li id="may">
            <input type="checkbox" id="may-schedule">
             <label for="may-schedule" class="open-may">
              <a id="mounth">Maggio</a>
             </label>
             <label for="may-schedule" id="overlay-may">
              <div class="dropdown-may">
                <h1 class="may-closed">
                  01 Venerdì Festa dei Lavoratori</br>
                  Auguri a tutti i Faticanti!
                </h1>
              </div>
             </label>
          </li>
          <li id="june">
             <input type="checkbox" id="june-schedule">
             <label for="june-schedule" class="open-june">
              <a id="mounth">Giugno</a>
             </label>
             <label for="june-schedule" id="overlay-june">
              <div class="dropdown-june">
                <h1 class="june-closed">
                  01 Lunedì, chiusura per ponte</br>
                  02 Martedì Festa della Repubblica</br>
                  Evviva L'Italia!
                </h1>
              </div>
             </label>
          </li>
          <li id="july">
             <input type="checkbox" id="july-schedule">
             <label for="july-schedule" class="open-july">
              <a id="mounth">Luglio</a>
             </label>
             <label for="may-schedule" id="overlay-july">
              <div class="dropdown-july">
                <h1 class="july-closed">
                  Chiusi da Lunedì 13 a Venerdì 17</br>
                  Buon'Estate!
                </h1>
              </div>
             </label>

          </li>
          <li id="august">
            <input type="checkbox" id="august-schedule">
            <label for="august-schedule" class="open-august">
              <a id="mounth">Agosto</a>
            </label>
            <label for="august-schedule" id="overlay-august">
              <div class="dropdown-august">
                <h1 class="august-closed">
                  Chiusi dal Lunedì 10 a Venerdì 14</br>
                  Buone Vacanze!
                </h1>
              </div>
            </label>
            </li>
          <li id="september">
            <input type="checkbox" id="september-schedule">
            <label for="september-schedule" class="open-september">
              <a id="mounth">Settembre</a>
            </label>
            <label for="september-schedule" id="overlay-september">
              <div class="dropdown-september">
                <h1 class="september-closed">
                  Sempre Aperti!</br>
                  Inizia l'Autunno!!!
                </h1>
              </div>
            </label>
          </li>
          <li id="october">
            <input type="checkbox" id="october-schedule">
            <label for="october-schedule" class="open-october">
              <a id="mounth">Ottobre</a>
            </label>
            <label for="october-schedule" id="overlay-october">
              <div class="dropdown-october">
                <h1 class="october-closed">
                  Sempre Aperti!</br>
                  Happy ad Halloween!!!
                </h1>
              </div>
            </label>
          </li>
          <li id="november">
            <input type="checkbox" id="november-schedule">
            <label for="november-schedule" class="open-november">
              <a id="mounth">Novembre</a>
            </label>
            <label for="november-schedule" id="overlay-november">
              <div class="dropdown-november">
                <h1 class="november-closed">
                  Sempre Aperti!</br>
                 Ognissanti!!!
                </h1>
              </div>
            </label>
          </li>
          <li id="december">
            <input type="checkbox" id="december-schedule">
            <label for="december-schedule" class="open-december">
              <a id="mounth">Dicembre</a>
            </label>
            <label for="december-schedule" id="overlay-december">
              <div class="dropdown-december">
                <h1 class="december-closed">
                  Lunedì 07 e Martedì 8</br>
                  Da Venerdì 25 </br>
                  a Giovedì 31</br>
                  Buone Feste!
                </h1>
              </div>
            </label> 
          </li>
          <li><a href="https://drive.google.com/file/d/1zhAywhrovYRn3Q_3XZYgf4IGE-ezNuNh/view?usp=sharing">intero calendario anno 2026</a></li>
        </ul>
      </div>
    </label>
  </div>
</section>
   
</body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5SQ524Z"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="bottom">
           <div class="reference">
               <div id="come">
                <input type="checkbox" id="sidebar-come" >
                  <label for="sidebar-come" class="open-come">
                    <h1 class="w-come">Unisciti a noi<br>Destina il 5 per mille</h1>
                    <svg id="svg-mobile" xmlns="http://www.w3.org/2000/svg" height="52px" viewBox="0 -960 960 960" width="52px" fill="#d9eaa5">
                      <path d="M419-80q-28 0-52.5-12T325-126L107-403l19-20q20-21 48-25t52 11l74 45v-328q0-17 11.5-28.5T340-760q17 0 29 11.5t12 28.5v472l-97-60 104 133q6 7 14 11t17 4h221q33 0 56.5-23.5T720-240v-160q0-17-11.5-28.5T680-440H461v-80h219q50 0 85 35t35 85v160q0 66-47 113T640-80H419ZM167-620q-13-22-20-47.5t-7-52.5q0-83 58.5-141.5T340-920q83 0 141.5 58.5T540-720q0 27-7 52.5T513-620l-69-40q8-14 12-28.5t4-31.5q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 17 4 31.5t12 28.5l-69 40Zm335 280Z"/>
                    </svg>
                  </label>
                  <label for="sidebar-come" id="overlay-come">
                     <h2 class="bestbh-come">DESTINA IL TUO 5 PER MILLE<br>
                                       UN GESTO SEMPLICE CHE NON TI COSTA NULLA<br>
                                       INSERISCI IL CODICE: 02842630127 GRAZIE!
                      </h2>
                  </label>
          
                </div>

               <div id="donation">
                <input type="checkbox" id="sidebar-donation" >
                  <label for="sidebar-donation" class="open-donation">
                    <h1 class="w-donation">Un Gesto Utile, Dona Ora!</h1>
                    <svg id="svg-mobile" xmlns="http://www.w3.org/2000/svg" height="52px" viewBox="0 -960 960 960" width="52px" fill="#d9eaa5">
                      <path d="M419-80q-28 0-52.5-12T325-126L107-403l19-20q20-21 48-25t52 11l74 45v-328q0-17 11.5-28.5T340-760q17 0 29 11.5t12 28.5v472l-97-60 104 133q6 7 14 11t17 4h221q33 0 56.5-23.5T720-240v-160q0-17-11.5-28.5T680-440H461v-80h219q50 0 85 35t35 85v160q0 66-47 113T640-80H419ZM167-620q-13-22-20-47.5t-7-52.5q0-83 58.5-141.5T340-920q83 0 141.5 58.5T540-720q0 27-7 52.5T513-620l-69-40q8-14 12-28.5t4-31.5q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 17 4 31.5t12 28.5l-69 40Zm335 280Z"/>
                    </svg>
                  </label>
                  <label for="sidebar-donation" id="overlay-donation">
                    <h2 class="bestbh-donation">DONA ORA<br>
                      AIUTA DAVVERO LE PERSONE<br>
                      DELLA TUA COMUNITA'!<br>
                      Stone Soc Coop IBAN: IT50S0306909606100000003453<br>
                      <a class="button" href="https://www.paypal.com/donate/?hosted_button_id=4R8KNTDTP6RKN">DONA CLICCA QUI<br>
                         <img src="/images/paypaldonation.png" width="20%">
                      </a>
                    </h2>
                  </label>
                  <div class="links-container-donation">
                    <label for="sidebar-donation" class="close-donation">
                     
                    </label>
                  </div>
                </div>
            </div>
            <div id="howabout">
              <input type="checkbox" id="sidebar-how">
               <label for="sidebar-how" class="open-how">
                <h1 class="w-how">clicca qui per i contatti:<br>Stone Società Cooperativa Sociale a r.l.</h1>
               </label>
               <label for="sidebar-how" id="overlay-how">
                  <h2 href="maito:infcoopstone@gmail.com" class="bestbh-how">
                    Stone Società Cooperativa Sociale a r.l.<br>
                    via San Rocco s.n.c.<br>
                    21030 Castello Cabiaglio (VA)<br>
                    P.IVA: 02842630127<br>
                    Iscritta Registro Unico Terzo Settore<br>
                    Scrivici: infocoopstone@gmail.com<br>
                    tel.: 0332-1808064<br>
                    Facebook: stonesocial, YouTube: @noneiltitolo
                  </h2>
               </label>
            </div>
              <div class="policy">
                <a href="https://www.iubenda.com/privacy-policy/44804857"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Privacy Policy ">Privacy Policy
                </a>
                <a href="https://www.iubenda.com/privacy-policy/44804857/cookie-policy"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Cookie Policy ">Cookie Policy
                </a>
              </div>
              <div class="dev">
              CatRobotics DevSolutions
            </div>
            <div class="tailcentro"></div>
  </div>
</html>