<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro L'Aurora</title>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/centrocss/maincentro.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/centrocss/nav2.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/centrocss/mobile.css">
</head>
<body>
   <header>
    <nav>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
              <li>
                <a href="">Dove siamo</a>
            </li>
              <li>
                <a href="">Istagram</a>
            </li>
              <li>
                <a href="">Facebook</a>
            </li>
              <li>
                <a href="">Chi Siamo</a>
            </li>
        </ul>
    </nav>
    <div class="flex-container">
        <img height="400px" width="500px" src="/public/images/centropictures/logo centro (1).png">
        <div class="text-container">
            <h1>
                Centro Socio Educativo, Servizio di Formazione all'Autonomia
            </h1>
            <p><strong> Centro socio Educativo e Servizio di Formazione all'Autonomia,</strong> Costruisci il tuo Futuro investendo Adesso sul tuo presente</p>
            <a href="" class="cta-button">Seguici su Facebook</a>
            <a href="#Laboratori" class="cta-button secondary">I Nostri Laboratori</a>
        </div>
    </div>
   </header>
<!--laboratori-->
   <section>
     <div class="mobile-laboratory">
       <input type="checkbox" id="sidebar-active-laboratory" >
       <label for="sidebar-active-laboratory" class="open-sidebar-laboratory">
         <h1 class="laboratory">I Nostri Laboratoi</h1>
         <svg xmlns="http://www.w3.org/2000/svg" height="52px" viewBox="0 -960 960 960" width="52px" fill="#d9eaa5">
           <path d="M419-80q-28 0-52.5-12T325-126L107-403l19-20q20-21 48-25t52 11l74 45v-328q0-17 11.5-28.5T340-760q17 0 29 11.5t12 28.5v472l-97-60 104 133q6 7 14 11t17 4h221q33 0 56.5-23.5T720-240v-160q0-17-11.5-28.5T680-440H461v-80h219q50 0 85 35t35 85v160q0 66-47 113T640-80H419ZM167-620q-13-22-20-47.5t-7-52.5q0-83 58.5-141.5T340-920q83 0 141.5 58.5T540-720q0 27-7 52.5T513-620l-69-40q8-14 12-28.5t4-31.5q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 17 4 31.5t12 28.5l-69 40Zm335 280Z"/>
         </svg>
       </label>
       <label for="sidebar-active-laboratory" id="overlay-laboratory"></label>
       <div class="links-container-laboratory" id="laboratory-mobile-images">
              <label for="sidebar-active-laboratory"  class="close-sidebar-laboratory">
                 <div id="box01" class="mobile-box"> <h1>Artistico</h1></div>
                 <div id="box02" class="mobile-box"><h1>Cucina</h1></div>
                 <div id="box03" class="mobile-box"><h1>Informatica</h1></div>
                 <div id="box04" class="mobile-box"><h1>Cineforum</h1></div>
                 <div id="box05" class="mobile-box"><h1>Lettura</h1></div>
                 <div id="box06" class="mobile-box"><h1>Piscina</h1></div>
                 <div id="box07" class="mobile-box"><h1>Ginnastica Dolce</h1></div>
                 <div id="box08" class="mobile-box"><h1>Lettura</h1></div>
                 <div id="box09" class="mobile-box"><h1>Musica Passiva</h1></div>
              </label>
        </div>
     </div>
       
      <div class="labo">
              <div><img style="grid-area: box-1"  class="labo-grid" id="box01"> <h1>Artistico</h1></div>
              <div><img style="grid-area: box-2"  class="labo-grid" id="box02" ><h1>Cucina</h1></div>
              <div><img style="grid-area: box-3"  class="labo-grid" id="box03"><h1>Informatica</h1></div>
              <div><img style="grid-area: box-4"  class="labo-grid" id="box04"><h1>Cineforum</h1></div>
              <div><img style="grid-area: box-5"  class="labo-grid" id="box05"><h1>Lettura</h1></div>
              <div><img style="grid-area: box-6"  class="labo-grid" id="box06"><h1>Piscina</h1></div>
              <div><img style="grid-area: box-7"  class="labo-grid" id="box07"><h1>Ginnastica Dolce</h1></div>
             <div><img style="grid-area: box-8"  class="labo-grid" id="box08"><h1>Lettura</h1></div>
              <div><img style="grid-area: box-9"  class="labo-grid" id="box09"><h1>Musica Passiva</h1></div>
      </div>
    </div>
    
   </section>

   <section id="our-work">
    <h2>Le Attività del Nostro Centro</h2>
     <div class="grid-container">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
     </div>

   </section>
</body>
</html>