<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Siamo</title>
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/public/assets/css/chi_siamo.css">
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/public/assets/css/silktide-consent-manager.css">
    <script src="/public/assets/js/silktide-consent-manager.js"></script>

    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4252528.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</head>
<body>
    <div class="menu">
        <ul>
            <li class="home">
                <a href="/views/html/index.html" target="_blank">
                    Home
                </a>
            </li>
            <li>
                <div class="cat">

                </div>
            </li>
        </ul>
    </div>
    <div class="nav">
        <h1 class="title">Chi Siamo</h1>
        <div class="idea">
            <h1 class="ideaexplain">
STONE:</br></br> è pietra, come pietre sono le rocce dei torrenti di montagna. </br>
Sdraiati lungo gli alvei che scendono e si stendono dalle vette delle montagne, bianche, silenziose, sembrano immobili ed eterni. </br>
Eppure a chi sa cogliere la bellezza di questo paesaggio ed osservare con attenzione, scoprirà che, in realtà, </br>
nel loro insieme le pietre trasmettono a tutti noi un messaggio,anche loro sono vive e in movimento, lentamente, con i loro tempi,</br>
ma inesorabilmente si spingono fino a raggiungere il mare.</br>
Stone è un progetto che pone al centro un modo diverso di aiutare la persona. Anche se la sua natura la rende inevitabilmente diversa dai nostri canoni di valutazione,</br>
siamo consapevoli che in realtà ha delle potenzialità e capacità. Se comprese, condivise, valorizzate, possono migliorare la qualità della vita del soggetto e di tutta la comunità. 
            </h1>
        </div>
        <div class="what">
            <h1>
COME NASCE LA STONE:</br></br> la Stone è stata un'idea del suo fondatore, dopo aver fatto diverse esperienze presso sevizi per persone con disabilità, persone affette da tossico dipendenza,</br>
centri di aggregazione giovanile, educatore "di strada", ha iniziato a lavorare sempre più per il "servizio educativo domiciliare", in favore di persone con disabilità.</br>
La collaborazione con i Comuni, il contatto diretto con i bisogni delle famiglie e delle persone, ed infine la collaborazione con tutti i servizi presenti della zona,</br>
ha permesso di creare il progetto Stone come risposta ai molti bisogni a cui mancavano una concreta risposta.
L'obiettivo della Stone è IL BENESSERE DELLA PERSONA attraverso il saper valorizzare la persona ponendo le competenze al centro del suo agire.</br>
La Stone ha un approccio professionale ai bisogni, l'osservazione e la pianificazione, attraverso il porgetto educativo e la condivisione sono
gli strumenti fondamentali per costruire efficaci percorsi.

            </h1>

        </div>
        <div class="next">
            <h1>
                CHI SONO I SOCI DELLA STONE:</br></br> Dr. Davide Cattan: Fondatore e Presidente, Educatore Professionale.</br></br>
                Dr.ssa Emanuela Espostito: Consigliera, Tecnico della Riabilitazione Psichiatrica, vice Presidente.
                Mediatrice Familiare</br></br>
                Dr.ssa Rosanna Marotta: Consigliera, Psicologa e Psicoterapeuta abilitata alla professione.</br></br>
                Dr.ssa Elena Li Pizzi: Educatrice Professionale.</br></br>
                Dr.ssa Marta Magistrali: Educatrice Professionale, Animatrice, Musicoterapista.</br></br>
                Marinella: Socia Volontaria, Fisioterapista.






            </h1>
        </div>

        <div class="write">
            <a href="mailto:infocoopstone@gmail.com" target="_blank"  class="scrivi">scrivi: infocoopstone@gmail.com</a>
        </div>

        <div class="dev">
            CatRobotics DevSolutions
        </div>
        <div class="help">
            <a class="button" href="https://www.paypal.com/donate/?hosted_button_id=4R8KNTDTP6RKN">DONA CLICCA QUI<br>
                <img src="/public/images/paypaldonation.png" target="_blank"  rel="noopener noreferrer" width="20%">
            </a>
        </div>

        <div class="policy">
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Privacy Policy ">Privacy Policy
                </a>
            </div>
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857/cookie-policy"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Cookie Policy ">Cookie Policy
                </a>
            </div>