<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Casa della Cicala</title>
     <link rel="stylesheet" type="text/css" href="/public/assets/css/cicala.css">
</head>
<body>
    <div class="title">
        <div class="text">
            <h1>Benvenuti!</h1>
            <h1>Nella Casa della Cicala</h1> 
        </div>
    </div>
    <div class="explain">
        <div class="intro">
            <div class="problem">
                <h1>IL BISOGNO</h1>
            </div>
            <div class="idea">
                <h1>L'IDEA!</h1>
            </div>
        </div>
        <h1 class="house">LA CASA DELLA CICALA</h1>
        <p>Un giorno di fine estate, mentre la formica era intenta a metter via le scorte necessarie per affrontare l’inverno, la cicala suonava la chitarra. Con l’arrivo del gelido vento che smuoveva i frastagliati fili d’erba, la cicala si trovò senza neanche una briciola da mangiare nella sua dispensa; così pensò di bussare alla porticina dell’animaletto nero per chiedere ospitalità. La formica acconsentì e la cicala per ringraziarla suonò per tutto l’inverno così da allietare le giornate grigie.
           Si può quindi notare come le capacità inserite in un diverso contesto arricchiscono l’altro portando dei benefici per tutta la collettività, è proprio questo il concetto che sta alla base de “La casa della cicala” nata come luogo di condivisione e di allenamento alle autonomie.
        </p>
        <div class="grid">
                <img style="grid-area: box-1"  class="box" id="box01">
                <img style="grid-area: box-2"  class="box" id="box02">
                <img style="grid-area: box-3"  class="box" id="box03">
                <img style="grid-area: box-4"  class="box" id="box04">
                <img style="grid-area: box-5"  class="box" id="box05">
        </div>
        <h1 class="how">COME FUNZIONA:</h1>
        <p>Presso un appartamento, la "Casa della Cicala" offre un percorso di 24 ore nel quale la persona con disabilità supportata e guidata dagli educatori, faccia esperienza di soggiorno extrafamiliare per sperimentare l'allontanamento del contesto d'origine ed aumentare le proprie autonomie di gestione della vita quotidiana.
           Gli obiettivi sono i seguenti:</br>
            • Imparare a vivere e a condividere momenti della giornata con altre persone.</br>
            • Organizzare la giornata: colazione, pranzo cena, ecc.</br>
            • Imparare a comunicare le proprie esigenze ed i propri bisogni.</br>
            • Coinvolgere la persona e i familiari per aiutare a pensare e a progettare il "dopo di noi".</br>
           Le 24 ore iniziano il venerdì alle ore 18 e 30 circa e si concludono il sabato alle 20 e 30 circa. I trasporti da e per casa sono sempre garantiti.
        </p>
    </div>
 </body>
</html>