<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Casa della Cicala</title>
     <link rel="stylesheet" type="text/css" href="/assets/css/cicala.css">

    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4252528.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
     <!--paypal-->
<script 
  src="https://www.paypal.com/sdk/js?client-id=BAAXmcr7di5rPXMv7o5gM_XDhxK6igrd0h-03FPacsBzFndrTlDlefTW4bBFpHBzNGAfJPv8ri95yDbI94&components=hosted-buttons&disable-funding=venmo&currency=EUR">
</script>

<link rel="stylesheet" id="silktide-consent-manager-css" href="/assets/css/silktide-consent-manager.css">
<script src="/assets/js/silktide-consent-manager.js" lang="ita"></script>
<script src="/assets/js/cookies.js" lang="ita"></script>
 <script>
/* Cookie Consent Manager */
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}

if(localStorage.getItem('consentMode') === 'null'){
    gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': 'denied',
        'personalization_storage': 'denied',
        'security_storage': 'denied',
        'functionality_storage': 'denied',
    });
} else {
    gtag('consent', 'default', JSON.parse(localStorage.getItem('consentMode')));}

</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6X8KEP5KMG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6X8KEP5KMG');
</script>
</head>
<body>

    <div class="title">
        <div class="home">
            <a href="/stone">Home</a>
        </div>

        <div class="text">
            <h1>Benvenuti!</h1>
            <h1>Nella Casa della Cicala</h1> 
        </div>

    </div>
    <div class="explain">
        <div class="intro">
            <div class="problem">
                <h1>IL BISOGNO</h1>
            </div>
            <div class="idea">
                <h1>L'IDEA!</h1>
            </div>
        </div>
        <div class="description">
            <h1 class="house">LA CASA DELLA CICALA</h1>
            <br> C’era una volta, in un prato adagiato tra le verdi valli della Valcuvia, una Formica operosa e una
Cicala sognatrice.</br>
La Formica non conosceva riposo. Ogni giorno, sfidando il sole cocente, il vento o la pioggia,
esplorava il prato in lungo e in largo. Raccoglieva semi, piccoli insetti ormai privi di vita e frammenti
di frutta selvatica. </br>Caricava sulle spalle pesi enormi e, con infinita pazienza, li trasportava verso la
sua casetta al limitare del bosco. Lì la attendeva una splendida dispensa, pronta per essere riempita.
La Formica sapeva bene che l'inverno sarebbe arrivato, portando con sé gelo e neve che avrebbero
cancellato ogni traccia di cibo. Grazie alle sue scorte, però, avrebbe potuto godersi un meritato riposo
senza alcuna preoccupazione.</br>
Anche la Cicala sapeva del freddo imminente. Gli altri animali del prato glielo avevano accennato e
la Formica stessa l'aveva avvertita più volte. Dopotutto, di inverni ne aveva già superato più di uno.
Eppure, alla Cicala non sembrava importare. Appollaiata sugli steli d'erba più alti, passava le giornate
a cantare e a suonare senza sosta. Nulla poteva fermarla: né il sole splendente, né la pioggia battente,
né il vento forte. Trascorse così l'intera estate.</br>
Poi, inevitabilmente, arrivarono i primi freddi. Le brine mattutine fecero ingiallire e piegare gli steli
d'erba, spingendo la Formica a ritirarsi nel tepore della sua tana. Fu allora che la Cicala comprese la
realtà. Con le ultime forze rimaste, sfinita e tremante per il gelo, si trascinò fino alla porta della
Formica e bussò.</br>
La Formica si affacciò e vide l'amica triste e provata. In quel momento, le tornarono in mente i giorni
estivi: ricordò quando faticava sotto il sole cocente, madida di sudore, mentre la Cicala suonava
imperturbabile, senza temere il domani.</br> Ma la Formica comprese anche una grande verità: la Cicala
possedeva un talento unico, diverso dal suo, ma altrettanto prezioso. Le sue esili zampette non erano
fatte per trasportare carichi pesanti o fare lunghe camminate, ma erano perfette per aggrapparsi agli
steli più alti, da dove il suo canto poteva raggiungere e confortare tutti gli abitanti del prato.
Nei mesi passati, la Formica aveva imparato a conoscere e a voler bene alla Cicala. Le sue melodie
l'avevano distratta nei momenti di fatica, rincuorata nello sconforto e rinvigorita quando le forze
venivano meno. </br>Quel canto l'aveva fatta sentire amata. Capendo quanto fosse importante la Cicala
proprio per la sua diversità, la Formica aprì la porta del suo caldo salotto e la accolse a braccia aperte.
In fondo, se quella casa era così accogliente, era anche merito del sostegno morale ricevuto durante
l'estate.
Insieme trascorsero l’inverno incoraggiandosi a vicenda, condividendo il cibo e cantando con
nostalgia dell'estate passata e con speranza dei giorni futuri. Da quel momento in poi, quella non fu
più solo la tana della Formica, ma divenne, soprattutto, "La Casa della Cicala".
            </p>
            <div class="grid">
                <img style="grid-area: box-1"  class="box" id="box01">
                <img style="grid-area: box-2"  class="box" id="box02">
                <img style="grid-area: box-3"  class="box" id="box03">
                <img style="grid-area: box-4"  class="box" id="box04">
                <img style="grid-area: box-5"  class="box" id="box05">
            </div>
            <h1 class="how">COME FUNZIONA:</h1>
            <br>Presso un appartamento, la "Casa della Cicala" offre due percorsi:</br></br>
                 Il "Laboratorio" per l'Autonomia,</br>
                 un percorso di 24 ore nel quale la persona con disabilità supportata e guidata dagli educatori, faccia esperienza di soggiorno extrafamiliare per sperimentare l'allontanamento del contesto d'origine ed aumentare le proprie autonomie di gestione della vita quotidiana.</br></br>
                 Il secondo servizio è "La Settimana del sollievo"</br>
                 una settimana da lunedì a domenica, dove le persone con disabilità vivono assieme in un contesto di "vita quotidiana", seguiti dagli educatori faranno esperienza di vita Autonomia, sgravando la famiglia di origine dalle cure giornaliere permettendo ai genitori di avere del tempo per attività che normalmente per loro precluse a causa delle cure che i loro cai necessitano</br></br>
               Vacanze e Gite</br>
                Durante l'anno sono previste delle uscite giornaliere o delle gite di più giorni per vivere esperienze di socializzazione e divertimento in contesti diversi da quello abituale. Vengono fatte in piccoli gruppi ed anche con volontari non abituali per aiutare le persone con disabilità a relazionarsi con dinamiche sociali diverse.</br></br>
                 Gli obiettivi sono i seguenti:</br>
            • Imparare a vivere e a condividere momenti della giornata con altre persone.</br>
            • Organizzare la giornata: colazione, pranzo cena, ecc.</br>
            • Imparare a comunicare le proprie esigenze ed i propri bisogni.</br>
            • Coinvolgere la persona e i familiari per aiutare a pensare e a progettare il "dopo di noi".</br>
           Le 24 ore iniziano il venerdì alle ore 18 e 30 circa e si concludono il sabato alle 20 e 30 circa. I trasporti da e per casa sono sempre garantiti.
            </p>
        </div>
    </div>
</body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5SQ524Z"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="bottom">
    <div class="donationtext">
        <h1 class="h1endfirst">LA CICALA CERCA CASA!</h1>
        <h1 class="h1endsecond">AIUTACI, FAI UNA DONAZIONE!</h1>
    </div>
    <div class="end">
        <div class="pay">
            <div id="paypal-container-VZRTB9BWJJ44N"></div>
            <script>paypal.HostedButtons({hostedButtonId: "VZRTB9BWJJ44N",}).render("#paypal-container-VZRTB9BWJJ44N")
            </script>
        </div>
    </div>
    <div id="howabout">
        <input type="checkbox" id="sidebar-how">
        <label for="sidebar-how" class="open-how">
            <h1 class="w-how">clicca qui per i contatti:</h1>
        </label>
        <label for="sidebar-how" id="overlay-how">
            <h2 href="maito:infcoopstone@gmail.com" class="bestbh-how">
                Stone Società Cooperativa Sociale a r.l.<br>
                via San Rocco s.n.c.<br>
                21030 Castello Cabiaglio (VA)<br>
                P.IVA: 02842630127<br>
                Iscritta Registro Unico Terzo Settore<br>
                Scrivici: infocoopstone@gmail.com<br>
                tel.: 0332-1808064<br>
                Facebook: stonesocial, YouTube: @noneiltitolo
            </h2>
        </label>
    </div>
</div>
<div class="policy">
    <a href="https://www.iubenda.com/privacy-policy/44804857"
       class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
       title="Privacy Policy ">Privacy Policy
    </a>
    <a href="https://www.iubenda.com/privacy-policy/44804857/cookie-policy"
       class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
       title="Cookie Policy ">Cookie Policy
    </a>
</div>
<div class="dev">
    CatRobotics DevSolutions
</div>



 
</html>