<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Casa della Cicala</title>
     <link rel="stylesheet" type="text/css" href="/public/assets/css/cicala.css">

    <link rel="stylesheet" id="silktide-consent-manager-css" href="/public/assets/css/silktide-consent-manager.css">
    <script src="/public/assets/js/silktide-consent-manager.js"></script>

    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4252528.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
     <!--paypal-->
<script 
  src="https://www.paypal.com/sdk/js?client-id=BAAXmcr7di5rPXMv7o5gM_XDhxK6igrd0h-03FPacsBzFndrTlDlefTW4bBFpHBzNGAfJPv8ri95yDbI94&components=hosted-buttons&disable-funding=venmo&currency=EUR">
</script>
</head>
<body>
    <div class="title">
        <div class="text">
            <h1>Benvenuti!</h1>
            <h1>Nella Casa della Cicala</h1> 
        </div>
    </div>
    <div class="explain">
        <div class="intro">
            <div class="problem">
                <h1>IL BISOGNO</h1>
            </div>
            <div class="idea">
                <h1>L'IDEA!</h1>
            </div>
        </div>
        <div class="description">
            <h1 class="house">LA CASA DELLA CICALA</h1>
            <p>Un giorno di fine estate, mentre la formica era intenta a metter via le scorte necessarie per affrontare l’inverno, la cicala suonava la chitarra. Con l’arrivo del gelido vento che smuoveva i frastagliati fili d’erba, la cicala si trovò senza neanche una briciola da mangiare nella sua dispensa; così pensò di bussare alla porticina dell’animaletto nero per chiedere ospitalità. La formica acconsentì e la cicala per ringraziarla suonò per tutto l’inverno così da allietare le giornate grigie.
               Si può quindi notare come le capacità inserite in un diverso contesto arricchiscono l’altro portando dei benefici per tutta la collettività, è proprio questo il concetto che sta alla base de “La casa della cicala” nata come luogo di condivisione e di allenamento alle autonomie.
            </p>
            <div class="grid">
                <img style="grid-area: box-1"  class="box" id="box01">
                <img style="grid-area: box-2"  class="box" id="box02">
                <img style="grid-area: box-3"  class="box" id="box03">
                <img style="grid-area: box-4"  class="box" id="box04">
                <img style="grid-area: box-5"  class="box" id="box05">
            </div>
            <h1 class="how">COME FUNZIONA:</h1>
            <br>Presso un appartamento, la "Casa della Cicala" offre due percorsi:</br></br>
                 Il "Laboratorio" per l'Autonomia,</br>
                 un percorso di 24 ore nel quale la persona con disabilità supportata e guidata dagli educatori, faccia esperienza di soggiorno extrafamiliare per sperimentare l'allontanamento del contesto d'origine ed aumentare le proprie autonomie di gestione della vita quotidiana.</br></br>
                 Il secondo servizio è "La Settimana del sollievo"</br>
                 una settimana da lunedì a domenica, dove le persone con disabilità vivono assieme in un contesto di "vita quotidiana", seguiti dagli educatori faranno esperienza di vita Autonomia, sgravando la famiglia di origine dalle cure giornaliere permettendo ai genitori di avere del tempo per attività che normalmente per loro precluse a causa delle cure che i loro cai necessitano</br></br>
               Vacanze e Gite</br>
                Durante l'anno sono previste delle uscite giornaliere o delle gite di più giorni per vivere esperienze di socializzazione e divertimento in contesti diversi da quello abituale. Vengono fatte in piccoli gruppi ed anche con volontari non abituali per aiutare le persone con disabilità a relazionarsi con dinamiche sociali diverse.</br></br>
                 Gli obiettivi sono i seguenti:</br>
            • Imparare a vivere e a condividere momenti della giornata con altre persone.</br>
            • Organizzare la giornata: colazione, pranzo cena, ecc.</br>
            • Imparare a comunicare le proprie esigenze ed i propri bisogni.</br>
            • Coinvolgere la persona e i familiari per aiutare a pensare e a progettare il "dopo di noi".</br>
           Le 24 ore iniziano il venerdì alle ore 18 e 30 circa e si concludono il sabato alle 20 e 30 circa. I trasporti da e per casa sono sempre garantiti.
            </p>
        </div>
    </div>
</body>
<div class="bottom">
    <div class="donationtext">
        <h1 class="h1endfirst">LA CICALA CERCA CASA!</h1>
        <h1 class="h1endsecond">AIUTACI, FAI UNA DONAZIONE!</h1>
    </div>
    <div class="end">
        <div class="pay">
            <div id="paypal-container-VZRTB9BWJJ44N"></div>
            <script>paypal.HostedButtons({hostedButtonId: "VZRTB9BWJJ44N",}).render("#paypal-container-VZRTB9BWJJ44N")
            </script>
        </div>
    </div>
    <div id="howabout">
        <input type="checkbox" id="sidebar-how">
        <label for="sidebar-how" class="open-how">
            <h1 class="w-how">clicca qui per i contatti:</h1>
        </label>
        <label for="sidebar-how" id="overlay-how">
            <h2 href="maito:infcoopstone@gmail.com" class="bestbh-how">
                Stone Società Cooperativa Sociale a r.l.<br>
                via San Rocco s.n.c.<br>
                21030 Castello Cabiaglio (VA)<br>
                P.IVA: 02842630127<br>
                Iscritta Registro Unico Terzo Settore<br>
                Scrivici: infocoopstone@gmail.com<br>
                tel.: 0332-1808064<br>
                Facebook: stonesocial, YouTube: @noneiltitolo
            </h2>
        </label>
    </div>
</div>
<div class="policy">
    <a href="https://www.iubenda.com/privacy-policy/44804857"
       class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
       title="Privacy Policy ">Privacy Policy
    </a>
    <a href="https://www.iubenda.com/privacy-policy/44804857/cookie-policy"
       class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
       title="Cookie Policy ">Cookie Policy
    </a>
</div>
<div class="dev">
    CatRobotics DevSolutions
</div>


 
</html>