<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/cssgrid.css">
    <title>Document</title>
</head>
<body>
<div style="grid-area: box-1" class="box" id="1">1</div>
<div style="grid-area: box-2" class="box" id="2">2</div>
<div style="grid-area: box-3" class="box" id="3">3</div>
<div style="grid-area: box-4" class="box" id="4">4</div>
<div style="grid-area: box-5" class="box" id="5">5</div>
<div style="grid-area: box-6" class="box" id="6">6</div>
<div style="grid-area: box-7" class="box" id="7">7</div>
<div style="grid-area: box-8" class="box" id="8">8</div>
<div style="grid-area: box-9" class="box" id="9">9</div>
  
    
    
</body>
</html>
