<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio di Cucina</title>
    <link rel="stylesheet" href="/assets/css/laboratori/cucina.css">
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/assets/css/silktide-consent-manager.css">
    <script src="/public/assets/js/silktide-consent-manager.js"></script>

    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4252528.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async=""></script>

<script src="/assets/js/cucinaInsert.js" defer=""></script>
</head>
<body>
    <div class="menu">
        <ul>
            <li class="home">
                <a href="/stone">
                    Home
                </a>
            </li>
            <li>
                <div class="cat">

                </div>
            </li>
        </ul>
    </div>
    <div class="nav">
        <h1 class="title">Laboratorio di Cucina</h1>
        <div class="idea">
            <h1 class="ideaexplain">
                LABORATORIO DI CUCINA:<br><br>un laboratorio che coinvolge tutti i ragazzi del centro, si parte dal cercare la ricetta su internet, individiare gli ingredienti.<br>
                Le tecniche di cucina pone la persona al centro dell'agire, proporre qualcosa di buono signigìfica essere responsabile e capace delle techìniche che portano al risultato.<br>
                Gruppo cucina significa competenze, collaborazione, capacità. 
            </h1>
        </div>
        <div id="blog">
            <input type="checkbox" id="sidebar">
            <label for="sidebar" class="open">
                <h1>La Ricetta della Settimana: Clicca Qui!</h1>
            </label>
            <label for="sidebar" id="overlay">
             <div class="ricetta">
               <div class="intro">
                    <br class="intro1">Questa Settimana poroniamo:<br><br>
                    <h1 id="titolop">riso bianco</h1>
                    <h1 id="titolodefSecondo">frittata</h1>
                    <h1 id="titdefConto">insalata verde</h1>
                    <p class="description">
                        Questi piatti sono molto buoni per un pranzo della domenica in compagnia di amici e parenti 
                    </p>
               </div>
               
               <div class="svolgimento">

                <div id="primo"></div>

                <h1 id="titolop">riso bianco</h1> 

                <p>INGREDIENTI PER 4 PERSONE</p>
                <p id="ingredientiPrimo">riso sale acqua</p>
                
                <p>PREPARAZIONE</p>
         
                <p id="descrizionePrimo">prendi butta mescola</p>

               
               
                <h1 id="titolodefSecondo">frittata</h1>               
 
                <div id="secondo"></div>

               <p>INGREDIENTI PER 4 PERSONE</p>
               <p id="ingredientiSecondo">uova sale burro</p>

               <p>PREPARAZIONE </p>
               <p id="descrizioneSecondo">rompi le uova sbatti</p>


                <h1 id="titdefConto">insalata verde</h1>  

                <div id="contorno"></div>

                <p>INGREDIENTI PER 4 PERSONE</p>
                <p id="ingredientiContorno">insalata pomodori cipolla</p>
               
                <p>PREPARAZIONE</p>

                <p id="descrizioneContorno">taglia e lettili li</p>
                
                <div class="download">
                    <a href="/images/menu_settimanale/ricetta.pdf" target="_blank" rel="noopener noreferrer">
                        Scarica le Ricette del Menu della settimana
                    </a>
                   </div>



        </div>
            
            
        </div>
         <div class="write">
            <a href="mailto:infocoopstone@gmail.com" target="_blank" class="scrivi">scrivi: infocoopstone@gmail.com</a>
        </div>

        <div class="dev">
            CatRobotics DevSolutions
        </div>
        <div class="help">
            <a class="button" href="https://www.paypal.com/donate/?hosted_button_id=4R8KNTDTP6RKN">DONA CLICCA QUI<br>
                <img src="/images/paypaldonation.png" target="_blank" rel="noopener noreferrer" width="20%">
            </a>
        </div>

        <div class="policy">
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" title="Privacy Policy ">Privacy Policy
                </a>
            </div>
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857/cookie-policy" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" title="Cookie Policy ">Cookie Policy
                </a>
            </div>
        </div>

        </label></div>

    

     
        </div></body></html>