<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/main.css">
    <title>Document</title>
  </head>
  <body>
      <div class="main">

          <nav class="top_left">

                     <div id="thead">
                           <div >
                             <img class="img" src="/././public/images/logostone.png">
                           </div>
                           <div class="nav_li">
                              <div class="icon">Stone Società Cooperativa Sociale a r.l.</div>
                          </div>
                      </div>
              
                 
                  <table>
                     
                     <tr class="nav_left">
                           <th class="nav_li">
                             <img class="img" src="/././public/images/icons/home.png">
                           </th>
                           <th>
                              <p class="icon" alt="why">Home</p>
                           </th>
                     </tr>
                     <tr class="nav_left">
                           <th class="nav_li">
                             <img src="/././public/images/icons/sole.png">
                           </th>
                           <th>
                              <p class="icon">Centro L'Aurora</p>
                           </th>
                     </tr>  
                       
                       <tr class="nav_left">
                           <th class="nav_li">
                            <img src="/././public/images/icons/tenda.png">
                           </th>
                             <th>
                              <p class="icon">Dopo di Noi</p>
                           </th>
                       </tr>
                       <tr class="nav_left">
                           <th class="nav_li">
                            <img src="/././public/images/icons/animali.png">
                           </th>
                             <th>
                              <p class="icon">Chi Siamo</p>
                           </th>
                       </tr>
                       <tr class="nav_left">
                           <th class="nav_li">
                            <img src="/././public/images/icons/mappa.png">
                           </th>
                             <th>
                              <p class="icon" alt="who">Dove Siamo</p>
                           </th>
                       </tr>
                  </table>
              
           </nav>
              <div class="top_center">baus</div>
      </div>
      <bottom>
          <div class="bottom">
              ciao
          </div>
      </bottom>
      <div id="popup">
        <h2>Accept Cookies</h2>
        <button>Yes</button>
        <button>No</button>
      </div>
      <div id="overlay"></div>
  </body>
</html>