<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <title>navbar</title>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/nav_logo.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/cssgrid.css">

  </head>
  <body id="body">
     <nav>
         <input type="checkbox" id="sidebar-active" >
         <label for="sidebar-active" class="open-sidebar-button">
          <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#1f1f1f"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
         </label>
         <label for="sidebar-active" id="overlay"></label>
         <div class="links-container">
         <label for="sidebar-active" class="close-sidebar-button">
          <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#1f1f1f"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
         </label>
         <a class="home-link" href="#home">Home</a>
         <a href="#Centro">Centro L'Aurora</a>
         <a href="#Cicala">La Casa della Cicala</a>
         <a href="#Chi Siamo">Chi Siamo</a>
         <a href="#Shop">Shop</a>
         <a href="#Login">Login</a>
         </div>
     </nav>
     <div id="grid">
         <div id="logo" class="box">
          <img src="/public/images/logostone.png" >
          <p id="write">Stone Società Cooperativa Sociale a r.l.</p>
          <div class="mediadiv"> 
            <p>Stone Soc. Coop. Sociale a r.l.</p>
          </div>
         
         </div>
         <div id="nav" class="box">
            <div class="header-nav">
              <div>
                <img id="nav-img" src="/public/images/lago.jpg">
              </div>
              <div class="container">
              <p>Lungo un sentiero </p>
              <p>allargando lo sguardo,</p>
              <p>vedresti le </p>
              <p>pietre dei torrenti.  </p>
              <p>Osservandole,</p>
              <p>noteresti che sono molte, </p>
              <p> e non sono li ferme. </p>
               <p>ma scavano valli</p>
               <p>giungendo fino al mare</p>
             
              <div class="h2">
                <h2>Stone progetti educativi </h2>
              </div>
              <a class="read-more">Read More</a>
             </div>
           </div>
           <div class="section" id="skill-section">
            <div class="wrapper" id="skill">
              <div class="skill-container" id="skill01">
                <h3 class="say">Dicono di Noi:</h3>
                <ul>
                  <li>Sono Attenti ai bisogni<progress max="100" value="90"></progress></li>
                  <li>Hanno esperienza<progress max="100" value="90"></progress></li>
                  <li>Le Attivtià sono utili<progress max="100" value="80"></progress></li>
                  <li>Sono simpatici<progress max="100" value="80"></progress></li>
                  <li>E' bello collaborare<progress max="100" value="80"></progress></li>
                </ul>
              </div>
              <div class="skill-container" id="skill02">
                <h3> Utenti e famiglie sono soddisfatti:</h3>
                <ul>
                  <li>Laboratori innovativi<progress max="100" value="90"></progress></li>
                  <li>Progetti Personalizzati<progress max="100" value="90"></progress></li>
                  <li>Esperienze Lavorative<progress max="100" value="80"></progress></li>
                  <li>Gite e vacanze<progress max="100" value="90"></progress></li>
                  <li>Attività per l'Autonomia<progress max="100" value="80"></progress></li>
                  <li>Attività Sportive<progress max="100" value="80"></progress></li>
                </ul>
              </div>
             </div>
            </div>
          </div>
         <div id="center" class="box">
          <div id="center-body">
           <div style="grid-area: box-1" class="center-box" id="b-one">1</div>
           <div style="grid-area: box-2" class="center-box" id="b-two">2</div>
           <div style="grid-area: box-3" class="center-box" id="b-three">3</div>
           <div style="grid-area: box-4" class="center-box" id="b-four">4</div>
           <div style="grid-area: box-5" class="center-box" id="b-five">5</div>
           <div style="grid-area: box-6" class="center-box" id="b-six">6</div>
           <div style="grid-area: box-7" class="center-box" id="b-seven">7</div>
           <div style="grid-area: box-8" class="center-box" id="b-eigth">8</div>
           <div style="grid-area: box-9" class="center-box" id="b-nine">9</div>
          </div>
          
        </div>
         <div id="bottom" class="box">bottom</div>
     </div>
  </body>
</html>