<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oggi a Pranzo</title>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/centrocss/menu.css/menu.css">
</head>
<body>
  <h1 class="title"> OGGI A PRANZO </h1>
  <input type="checkbox" id="menu">
    <label for="menu" class="open-menu">
      <a>SCEGLI IL MESE</a>
    </label>
<label for="menu" id="overlay-menu">
 <div class="dropdown">
   <ul>
    <li id="january-menu">
      <input type="checkbox" id="januari-schedule-menu">
      <label for="januari-schedule-menu" class="open-januari-menu">
        <a id="mounth">Gennaio</a>
      </label>
      <label for="januari-schedule-menu" id="overlay-januari-menu">
        <div class="dropdown-januari-menu">
          <div class="filters" id="january-closed">
            <select name="day" id="day">
              <option><h1>- Gennaio -</h1></option>
              <option value="mercoledì07g"> Mercoledì 07</option>
              <option value="giovedì08g"> Giovedì 08</option>
              <option value="venerdì09g"> Venerdì 09</option>
              <option value="lunedì12g"> Lunedì 12</option>
              <option value="martedì13g"> Martedì 13</option>
              <option value="mercoledì14g"> Mercoledì 14</option>
              <option value="giovedì15g"> Giovedì 15</option>
              <option value="venerdì16g"> Venerdì 16</option>
              <option value="lunedì19g"> Lunedì 19</option>
              <option value="martedì20g"> Martedì 20</option>
              <option value="mercoledì21g"> Mercoledì 21</option>
              <option value="giovedì22g"> Giovedì 22</option>
              <option value="venerdì23g"> Venerdì 23</option>
              <option value="lunedì26g"> Lunedì 26</option>
              <option value="martedì27g"> Martedì 27</option>
              <option value="mercoledì28g"> Mercoledì 28 </option>
              <option value="giovedì29g"> Giovedì 29</option>
              <option value="venerdì30g"> Venerdì 30</option>
            </select>
            <select name="type" id="type">
              <option><h1 class="staff-menu-list">- PRIMI -</h1></option>
              <option value="rigatoni">Rigatoni all'Amatriciana</option>
              <option value="piadina">Piadina</option>
              <option value="riso-piselli">Riso con Piselli</option>
              <option value="orecchiette">Orecchiette con Cime di Rapa</option>
              <option value="gnocchi-pesto"> Gnocchi al Pesto </option>
              <option value="tortellini-panna"> Tortellini Panna e Prosciutto </option>
              <option value="pennette-gamberetti">Pennette con Gamberetti e Salmone</option>
              <option value="polenta">Polenta</option>
              <option value="pasta-ragu">Pasta al Ragù</option>
              <option value="riso-basmati">Riso Basmati al Curry con Pollo</option>
              <option value="cannelloni">Cannelloni Ricotta e Spinaci</option>
              <option value="zuppa-legumi">Pasta o Zuppa di Legumi</option>
              <option value="vellutata">Vellutata di Verdure con Crostini</option>
              <option value="pizzocheri">Pizzocheri</option>
              <option><h1 class="staff-menu-list">- SECONDI -</h1></option>
              <option value="omlette">Omlette con Formaggio e Prosciutto</option>
              <option value="cotoletta">Cotoletta</option>
              <option value="tomino">Tomino</option>
              <option value="hamburger-vegetale">Hamburger Vegetale</option>
              <option value="pesce">Pesce al Forno</option>
              <option value="zola">Formaggio Gorgonzola</option>
              <option value="salamino">Salamino</option>
              <option value="mozzarella">Mozzarella</option>
              <option value="frittata">Frittata</option>
              <option value="rolle">Rollè di Pollo</option>
              <option value="spinacine">Spinacine</option>
              <option value="formaggio-philadelphia">Formaggio Philadelphia</option>
              <option><h1 class="staff-menu-list">- CONTORNI -</h1></option>
              <option value="piselli">Piselli</option>
              <option value="broccoli">Broccoli</option>
              <option value="insalata">Insalata</option>
              <option value="verdure-miste">Verdure Miste</option>
              <option value="fagiolini">Fagiolini</option>
              <option value="patatine">Patatine</option>
              <option value="cavolfiori">Cavolfiori</option>
              <option value="taccole">Taccole</option>
              <option value="patate-novelle">Patate Novelle</option>
              <option value="finocchi">Finocchi Cotti</option>
              <option value="pure">Purè</option>
              <option value="spinaci">Spinaci</option>
              <option value="carote">Carote Lesse</option>
              <option value="barbabietole">Barbabietole</option>
              <option><h1 class="staff-menu-list">- DOLCI -</h1></option>
              <option value="croissant"> Croissant </option>
              <option value="cappuccio-caffè"> Cappuccio o caffè </option>
              <option value="yogurt-dessert">Yogurt o Dessert</option>
              <option value="gruppo-cucina">Gruppo Cucina!</option>
            </select>
          </div>
<!-- Cards Menu Januari -->
         <!--Second Week-->
        <div class="daily-menu-list">

          <div class="daily-menu" >
            <p>Menu Mercoledì 07 Gennaio</p>
            <img src="/public/images/menu/pasta.jpeg" height="300px">
            <span id="day-list" class="mercoledì07g"></span>
            <span class="piadina">Piadina</span>
            <span class="yogurt-dessert">Yogurt o Dessert</span>
          </div>

          <div class="daily-menu">
            <p> Menu Giovedì 08 Gennaio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="giovedì08g"></span>
              <span class="riso-piselli">Riso con Piselli</span>
              <span class="tomino">Tomino</span>
              <span class="fagiolini">Gagiolini</span>
          </div>

          <div class="daily-menu">
            <p> Menu Venerdì 09 Gennaio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="venerdì09g"></span>
              <span class="croissant">Colazione con Croissant Cappuccio o Caffè</span>
              <span id="day-list" class="cappuccio-caffè"></span>
              <span class="hamburger-vegetale">Hamburger Vegetale</span>
              <span class="patatine">Patatine</span>
          </div>
          <!--Third Week-->
          <div class="daily-menu">
            <p> Menu Lunedì 12 Gennaio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="lunedì12g"></span>
              <span class="pennette-gamberetti">Pennette con Gamberetti e Salmone</span>
              <span class="pesce">Pesce al Forno</span>
              <span class="piselli">Piselli</span>
          </div>

          <div class="daily-menu">
            <p> Menu Martedì 13 Gennaio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
            <span id="day-list" class="martedì13g"></span>
            <span class="gruppo-cucina">Gruppo Cucina!</span>
          </div>

          <div class="daily-menu">
            <p> Menu Mercoledì 14 Gennaio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="mercoledì14g"></span>
              <span class="piadina">Piadina</span>
              <span class="yogurt-dessert">Yogurt o Dessert</span>
          </div>

          <div class="daily-menu">
            <p> Menu Giovedì 15 Gennaio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="giovedì15g"></span>
              <span class="pasta-ragu">Pasta al Ragù</span>
              <span class="omlette">Omlette con Formaggio e Prosciutto</span>
              <span class="broccoli">Broccoli</span>
          </div>

          <div class="daily-menu">
              <p> Menu Venerdì 16 Gennaio</p>
              <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="venerdì16g"></span>
              <span class="croissant">Colazione con Croissant Cappuccio o Caffè</span>
              <span id="day-list" class="cappuccio-caffè"></span>
              <span class="polenta">Polenta</span>
              <span class="zola">Gorgonzola</span>
              <span class="salamino">Salamino</span>
              <span class="insalata">Insalata</span>
          </div>
          <!--Fourty Week-->
          <div class="daily-menu">
            <p> Menu Lunedì 19 Gennaio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="lunedì19g"></span>
              <span class="orecchiette">Orecchiette con Cime di Rapa</span>
              <span class="mozzarella">Mozzarella</span>
              <span class="Cavolfiori">Cavolfiori</span>
          </div>

          <div class="daily-menu">
            <p> Menu Martedì 20 Gennaio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
            <span id="day-list" class="martedì20g"></span>
            <span class="gruppo-cucina">Gruppo Cucina!</span>
          </div>
          
          <div class="daily-menu">
            <p> Menu Mercoledì 21 Gennaio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="mercoledì21g"></span>
              <span class="piadina">Piadina</span>
              <span class="yogurt-dessert">Yogurt o Dessert</span>
          </div>

            <div class="daily-menu">
            <p> Menu Giovedì 22 Gennaio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="giovedì22g"></span>
              <span class="cannelloni">cannelloni Ricotta e Spinaci </span>
              <span class="frittata">Frittata</span>
              <span class="taccole">Taccole</span>
          </div>

          <div class="daily-menu">
              <p> Menu Venerdì 23 Gennaio</p>
              <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="venerdì23g"></span>
              <span class="croissant">Colazione con Croissant Cappuccio o Caffè</span>
              <span id="day-list" class="cappuccio-caffè"></span>
              <span class="riso-basmati">Riso Basmati con Pollo al Curry </span>
              <span class="zola">Gorgonzola</span>
              <span class="pollo" id="day-list"></span>
              <span class="patate">Patate Novelle</span>
          </div>
          <!--Fifty Week-->
          <div class="daily-menu">
            <p> Menu Lunedì 26 Gennaio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="lunedì26g"></span>
              <span class="zuppa-legumi">Pasta o Zuppa Legumi</span>
              <span class="formaggio-philadelphia">Formaggio Philadelphia</span>
              <span class="finocchi">Finocchi Cotti</span>
          </div>

          <div class="daily-menu">
            <p> Menu Martedì 27 Gennaio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
            <span id="day-list" class="martedì27g"></span>
            <span class="gruppo-cucina">Gruppo Cucina!</span>
          </div>

           <div class="daily-menu">
            <p> Menu Mercoledì 28 Gennaio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="mercoledì28g"></span>
              <span class="piadina">Piadina</span>
              <span class="yogurt-dessert">Yogurt o Dessert</span>
           </div>

          <div class="daily-menu">
            <p> Menu Giovedì 29 Gennaio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="giovedì29g"></span>
              <span class="vellutata">Vellutata di Verdure con Crostini</span>
              <span class="rolle">Rollè di Pollo</span>
              <span class="pure">Purè</span>
          </div>

          <div class="daily-menu">
              <p> Menu Venerdì 30 Gennaio</p>
              <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="venerdì30g"></span>
              <span class="croissant">Colazione con Croissant Cappuccio o Caffè</span>
              <span id="day-list" class="cappuccio-caffè"></span>
              <span class="pizzocheri">Pizzocheri</span>
              <span class="spinaci">Spinaci</span>
          </div>
        </div>
     </label>
    </li>

    <li id="february-menu">
      <input type="checkbox" id="february-schedule-menu">
      <label for="february-schedule-menu" class="open-february-menu">
        <a id="mounth">Febbraio</a>
      </label>
      <label for="february-schedule-menu" id="overlay-february-menu">
        <div class="dropdown-february-menu">
          <div class="filters" id="february-closed">
            <select name="day" id="day">
              <option><h1>- Febbraio -</h1></option>
              <option value="lunedì02f"> Lunedì 2</option>
              <option value="martedì03f"> Martedì 3</option>
              <option value="mercoledì04f"> Mercoledì 4</option>
              <option value="giovedì05f"> Giovedì 5</option>
              <option value="venerdì06f"> Venerdì 6</option>
              <option value="lunedì09f"> Lunedì 9</option>
              <option value="martedì10f"> Martedì 10</option>
              <option value="mercoledì11f"> Mercoledì 11</option>
              <option value="giovedì12f"> Giovedì 12</option>
              <option value="venerdì13f"> Venerdì 13</option>
              <option value="lunedì16f"> Lunedì 16</option>
              <option value="martedì17f"> Martedì 17</option>
              <option value="mercoledì18f"> Mercoledì 18</option>
              <option value="giovedì19f"> Giovedì 19</option>
              <option value="venerdì20f"> Venerdì 20</option>
              <option value="lunedì23f"> Lunedì 23  </option>
              <option value="martedì24f"> Martedì 24</option>
              <option value="mercoledì25f"> Mercoledì 25</option>
              <option value="giovedì26f"> Giovedì 26</option>
              <option value="venerdì27f"> Venerdì 27</option>
            </select>
            <select name="type" id="type">
              <option><h1 class="staff-menu-list">- PRIMI -</h1></option>
              <option value="rigatoni">Rigatoni all'Amatriciana</option>
              <option value="piadina">Piadina</option>
              <option value="riso-piselli">Riso con Piselli</option>
              <option value="orecchiette">Orecchiette con Cime di Rapa</option>
              <option value="gnocchi-pesto"> Gnocchi al Pesto </option>
              <option value="tortellini-panna"> Tortellini Panna e Prosciutto </option>
              <option value="pennette-gamberetti">Pennette con Gamberetti e Salmone</option>
              <option value="polenta">Polenta</option>
              <option value="pasta-ragu">Pasta al Ragù</option>
              <option value="riso-basmati">Riso Basmati al Curry con Pollo</option>
              <option value="cannelloni">Cannelloni Ricotta e Spinaci</option>
              <option value="zuppa-legumi">Pasta o Zuppa di Legumi</option>
              <option value="vellutata">Vellutata di Verdure con Crostini</option>
              <option value="pizzocheri">Pizzocheri</option>
              <option><h1 class="staff-menu-list">- SECONDI -</h1></option>
              <option value="omlette">Omlette con Formaggio e Prosciutto</option>
              <option value="cotoletta">Cotoletta</option>
              <option value="tomino">Tomino</option>
              <option value="hamburger-vegetale">Hamburger Vegetale</option>
              <option value="pesce">Pesce al Forno</option>
              <option value="zola">Formaggio Gorgonzola</option>
              <option value="salamino">Salamino</option>
              <option value="mozzarella">Mozzarella</option>
              <option value="frittata">Frittata</option>
              <option value="rolle">Rollè di Pollo</option>
              <option value="spinacine">Spinacine</option>
              <option value="formaggio-philadelphia">Formaggio Philadelphia</option>
              <option><h1 class="staff-menu-list">- CONTORNI -</h1></option>
              <option value="piselli">Piselli</option>
              <option value="broccoli">Broccoli</option>
              <option value="insalata">Insalata</option>
              <option value="verdure-miste">Verdure Miste</option>
              <option value="fagiolini">Fagiolini</option>
              <option value="patatine">Patatine</option>
              <option value="cavolfiori">Cavolfiori</option>
              <option value="taccole">Taccole</option>
              <option value="patate-novelle">Patate Novelle</option>
              <option value="finocchi">Finocchi Cotti</option>
              <option value="pure">Purè</option>
              <option value="spinaci">Spinaci</option>
              <option value="carote">Carote Lesse</option>
              <option value="barbabietole">Barbabietole</option>
              <option><h1 class="staff-menu-list">- DOLCI -</h1></option>
              <option value="croissant"> Croissant </option>
              <option value="cappuccio-caffè"> Cappuccio o caffè </option>
              <option value="yogurt-dessert">Yogurt o Dessert</option>
              <option value="gruppo-cucina">Gruppo Cucina!</option>
            </select>
          </div>
<!-- Cards Menu February -->
          <!--First Week-->
        <div class="daily-menu-list">
          <div class="daily-menu">
            <p> Menu Lunedì 2 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="lunedì02f"></span>
              <span class="gnocchi-pesto">Gnocchi al Pesto</span>
              <span class="spinacine">Spinacine</span>
              <span class="carote">Carote Lesse</span>
          </div>

          <div class="daily-menu">
            <p> Menu Martedì 3 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="martedì03f"></span>
              <span class="gruppo-cucina">Gruppo Cucina!</span>
            </div>

          <div class="daily-menu">
            <p> Menu Mercoledì 4 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="mercoledì04f"></span>
              <span class="piadina">Piadina</span>
              <span class="yogurt-dessert">Yogurt o Dessert</span>
          </div>

          <div class="daily-menu">
            <p> Menu Giovedì 5 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="giovedì05f"></span>
              <span class="tortellini-panna">Tortellini con Panna e Prosciutto</span>
              <span class="frittata">Frittata</span>
              <span class="barbabietole">Barbabietole</span>
          </div>

          <div class="daily-menu">
              <p> Menu Venerdì 6 Febbraio</p>
              <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="venerdì06f"></span>
              <span class="croissant">Colazione con Croissant Cappuccio o Caffè</span>
              <span id="day-list" class="cappuccio-caffè"></span>
              <span class="pizza">Pizza!</span>
              <span class="insalata">Insalata</span>
          </div>
           <!--Second Week-->

          <div class="daily-menu">
            <p> Menu Lunedì 9 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="lunedì09f"></span>
              <span class="rigatoni">Rigatoni all'Amatriciana</span>
              <span class="cotolette">Cotolette</span>
              <span class="verdure-miste">Verdure Miste</span>
          </div>

          <div class="daily-menu">
            <p> Menu Martedì 10 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="martedì10f"></span>
              <span class="gruppo-cucina">Gruppo Cucina!</span>
            </div>
          <div class="daily-menu-list">

          <div class="daily-menu" >
            <p>Menu Mercoledì 11 Febbraio</p>
            <img src="/public/images/menu/pasta.jpeg" height="300px">
            <span id="day-list" class="mercoledì11f"></span>
            <span class="piadina">Piadina</span>
            <span class="yogurt-dessert">Yogurt o Dessert</span>
        </div>

        <div class="daily-menu">
            <p> Menu Giovedì 12 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="giovedì12f"></span>
              <span class="riso-piselli">Riso con Piselli</span>
              <span class="tomino">Tomino</span>
              <span class="fagiolini">Gagiolini</span>
        </div>

          <div class="daily-menu">
            <p> Menu Venerdì 13 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="venerdì13f"></span>
              <span class="croissant">Colazione con Croissant Cappuccio o Caffè</span>
              <span id="day-list" class="cappuccio-caffè"></span>
              <span class="hamburger-vegetale">Hamburger Vegetale</span>
              <span class="patatine">Patatine</span>
          </div>
          <!--Third Week-->
          <div class="daily-menu">
            <p> Menu Lunedì 16 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="lunedì16f"></span>
              <span class="pennette-gamberetti">Pennette con Gamberetti e Salmone</span>
              <span class="pesce">Pesce al Forno</span>
              <span class="piselli">Piselli</span>
          </div>

          <div class="daily-menu">
            <p> Menu Martedì 17 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
            <span id="day-list" class="martedì17f"></span>
            <span class="gruppo-cucina">Gruppo Cucina!</span>
          </div>

          <div class="daily-menu">
            <p> Menu Mercoledì 18 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="mercoledì18f"></span>
              <span class="piadina">Piadina</span>
              <span class="yogurt-dessert">Yogurt o Dessert</span>
          </div>

          <div class="daily-menu">
            <p> Menu Giovedì 19 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="giovedì19f"></span>
              <span class="pasta-ragu">Pasta al Ragù</span>
              <span class="omlette">Omlette con Formaggio e Prosciutto</span>
              <span class="broccoli">Broccoli</span>
          </div>

          <div class="daily-menu">
              <p> Menu Venerdì 20 Febbraio</p>
              <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="venerdì20f"></span>
              <span class="croissant">Colazione con Croissant Cappuccio o Caffè</span>
              <span id="day-list" class="cappuccio-caffè"></span>
              <span class="polenta">Polenta</span>
              <span class="zola">Gorgonzola</span>
              <span class="salamino">Salamino</span>
              <span class="insalata">Insalata</span>
          </div>
           <!--Fourty Week-->
          <div class="daily-menu">
            <p> Menu Lunedì 23 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="lunedì23f"></span>
              <span class="orecchiette">Orecchiette con Cime di Rapa</span>
              <span class="mozzarella">Mozzarella</span>
              <span class="Cavolfiori">Cavolfiori</span>
          </div>

          <div class="daily-menu">
            <p> Menu Martedì 24 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
            <span id="day-list" class="martedì24f"></span>
            <span class="gruppo-cucina">Gruppo Cucina!</span>
          </div>
          
          <div class="daily-menu">
            <p> Menu Mercoledì 25 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="mercoledì25f"></span>
              <span class="piadina">Piadina</span>
              <span class="yogurt-dessert">Yogurt o Dessert</span>
          </div>

            <div class="daily-menu">
            <p> Menu Giovedì 26 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="giovedì26f"></span>
              <span class="cannelloni">cannelloni Ricotta e Spinaci </span>
              <span class="frittata">Frittata</span>
              <span class="taccole">Taccole</span>
          </div>

          <div class="daily-menu">
              <p> Menu Venerdì 27 Febbraio</p>
              <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="venerdì27f"></span>
              <span class="croissant">Colazione con Croissant Cappuccio o Caffè</span>
              <span id="day-list" class="cappuccio-caffè"></span>
              <span class="riso-basmati">Riso Basmati con Pollo al Curry </span>
              <span class="zola">Gorgonzola</span>
              <span class="pollo" id="day-list"></span>
              <span class="patate">Patate Novelle</span>
          </div>
        </div>
       </label>
      </li>
      <!--March-->
      <li>
      <input type="checkbox" id="march-schedule-menu">
      <label for="march-schedule-menu" class="open-march-menu">
        <a id="mounth">Marzo</a>
      </label>
      <label for="march-schedule-menu" id="overlay-march-menu">
        <div class="dropdown-march-menu">
          <div class="filters" id="march-closed">
            <select name="day" id="day">
              <option><h1>- Marzo -</h1></option>
              <option value="lunedì02mar"> Lunedì 2</option>
              <option value="martedì03mar"> Martedì 3</option>
              <option value="mercoledì04mar"> Mercoledì 4</option>
              <option value="giovedì05mar"> Giovedì 5</option>
              <option value="venerdì06mar"> Venerdì 6</option>
              <option value="lunedì0mar"> Lunedì 9</option>
              <option value="martedì10mar"> Martedì 10</option>
              <option value="mercoledì11mar"> Mercoledì 11</option>
              <option value="giovedì12mar"> Giovedì 12</option>
              <option value="venerdì13mar"> Venerdì 13</option>
              <option value="lunedì16mar"> Lunedì 16</option>
              <option value="martedì17mar"> Martedì 17</option>
              <option value="mercoledì18f"> Mercoledì 18</option>
              <option value="giovedì19mar"> Giovedì 19</option>
              <option value="venerdì20mar"> Venerdì 20</option>
              <option value="lunedì23mar"> Lunedì 23  </option>
              <option value="martedì24mar"> Martedì 24</option>
              <option value="mercoledì25mar"> Mercoledì 25</option>
              <option value="giovedì26mar"> Giovedì 26</option>
              <option value="venerdì27mar"> Venerdì 27</option>
              <option value="lunedì30mar"> Lunedì 30</option>
              <option value="martedì31mar"> Martedì 31</option>
            </select>
            <select name="type" id="type">
              <option><h1 class="staff-menu-list">- PRIMI -</h1></option>
              <option value="rigatoni">Rigatoni all'Amatriciana</option>
              <option value="piadina">Piadina</option>
              <option value="riso-piselli">Riso con Piselli</option>
              <option value="orecchiette">Orecchiette con Cime di Rapa</option>
              <option value="gnocchi-pesto"> Gnocchi al Pesto </option>
              <option value="tortellini-panna"> Tortellini Panna e Prosciutto </option>
              <option value="pennette-gamberetti">Pennette con Gamberetti e Salmone</option>
              <option value="polenta">Polenta</option>
              <option value="pasta-ragu">Pasta al Ragù</option>
              <option value="riso-basmati">Riso Basmati al Curry con Pollo</option>
              <option value="cannelloni">Cannelloni Ricotta e Spinaci</option>
              <option value="zuppa-legumi">Pasta o Zuppa di Legumi</option>
              <option value="vellutata">Vellutata di Verdure con Crostini</option>
              <option value="pizzocheri">Pizzocheri</option>
              <option><h1 class="staff-menu-list">- SECONDI -</h1></option>
              <option value="omlette">Omlette con Formaggio e Prosciutto</option>
              <option value="cotoletta">Cotoletta</option>
              <option value="tomino">Tomino</option>
              <option value="hamburger-vegetale">Hamburger Vegetale</option>
              <option value="pesce">Pesce al Forno</option>
              <option value="zola">Formaggio Gorgonzola</option>
              <option value="salamino">Salamino</option>
              <option value="mozzarella">Mozzarella</option>
              <option value="frittata">Frittata</option>
              <option value="rolle">Rollè di Pollo</option>
              <option value="spinacine">Spinacine</option>
              <option value="formaggio-philadelphia">Formaggio Philadelphia</option>
              <option><h1 class="staff-menu-list">- CONTORNI -</h1></option>
              <option value="piselli">Piselli</option>
              <option value="broccoli">Broccoli</option>
              <option value="insalata">Insalata</option>
              <option value="verdure-miste">Verdure Miste</option>
              <option value="fagiolini">Fagiolini</option>
              <option value="patatine">Patatine</option>
              <option value="cavolfiori">Cavolfiori</option>
              <option value="taccole">Taccole</option>
              <option value="patate-novelle">Patate Novelle</option>
              <option value="finocchi">Finocchi Cotti</option>
              <option value="pure">Purè</option>
              <option value="spinaci">Spinaci</option>
              <option value="carote">Carote Lesse</option>
              <option value="barbabietole">Barbabietole</option>
              <option><h1 class="staff-menu-list">- DOLCI -</h1></option>
              <option value="croissant"> Croissant </option>
              <option value="cappuccio-caffè"> Cappuccio o caffè </option>
              <option value="yogurt-dessert">Yogurt o Dessert</option>
              <option value="gruppo-cucina">Gruppo Cucina!</option>
            </select>
          </div>
<!-- Cards Menu March -->
          <!--First Week-->
        <div class="daily-menu-list">
          <div class="daily-menu">
            <p> Menu Lunedì 2 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
            <span id="day-list" class="lunedì02mar"></span>
            <span class="gnocchi-pesto">Gnocchi al Pesto</span>
            <span class="spinacine">Spinacine</span>
            <span class="carote">Carote Lesse</span>
          </div>

          <div class="daily-menu">
            <p> Menu Martedì 3 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="martedì03mar"></span>
              <span class="gruppo-cucina">Gruppo Cucina!</span>
            </div>

          <div class="daily-menu">
            <p> Menu Mercoledì 4 Febbraio</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="mercoledì04mar"></span>
              <span class="piadina">Piadina</span>
              <span class="yogurt-dessert">Yogurt o Dessert</span>
          </div>

          <div class="daily-menu">
            <p> Menu Giovedì 5 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="giovedì05mar"></span>
              <span class="tortellini-panna">Tortellini con Panna e Prosciutto</span>
              <span class="frittata">Frittata</span>
              <span class="barbabietole">Barbabietole</span>
          </div>

          <div class="daily-menu">
              <p> Menu Venerdì 6 Marzo</p>
              <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="venerdì06mar"></span>
              <span class="croissant">Colazione con Croissant Cappuccio o Caffè</span>
              <span id="day-list" class="cappuccio-caffè"></span>
              <span class="pizza">Pizza!</span>
              <span class="insalata">Insalata</span>
          </div>
           <!--Second Week-->

          <div class="daily-menu">
            <p> Menu Lunedì 9 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="lunedì09mar"></span>
              <span class="rigatoni">Rigatoni all'Amatriciana</span>
              <span class="cotolette">Cotolette</span>
              <span class="verdure-miste">Verdure Miste</span>
          </div>

          <div class="daily-menu">
            <p> Menu Martedì 10 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="martedì10mar"></span>
              <span class="gruppo-cucina">Gruppo Cucina!</span>
            </div>
            
            <div class="daily-menu">
            <p>Menu Mercoledì 11 Marzo</p>
            <img src="/public/images/menu/pasta.jpeg" height="300px">
            <span id="day-list" class="mercoledì11mar"></span>
            <span class="piadina">Piadina</span>
            <span class="yogurt-dessert">Yogurt o Dessert</span>
          </div>

         <div class="daily-menu">
            <p> Menu Giovedì 12 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="giovedì12mar"></span>
              <span class="riso-piselli">Riso con Piselli</span>
              <span class="tomino">Tomino</span>
              <span class="fagiolini">Gagiolini</span>
        </div>

          <div class="daily-menu">
            <p> Menu Venerdì 13 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="venerdì13mar"></span>
              <span class="croissant">Colazione con Croissant Cappuccio o Caffè</span>
              <span id="day-list" class="cappuccio-caffè"></span>
              <span class="hamburger-vegetale">Hamburger Vegetale</span>
              <span class="patatine">Patatine</span>
          </div>

          <!--Third Week-->
          <div class="daily-menu">
            <p> Menu Lunedì 16 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="lunedì16mar"></span>
              <span class="pennette-gamberetti">Pennette con Gamberetti e Salmone</span>
              <span class="pesce">Pesce al Forno</span>
              <span class="piselli">Piselli</span>
          </div>

          <div class="daily-menu">
            <p> Menu Martedì 17 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
            <span id="day-list" class="martedì17mar"></span>
            <span class="gruppo-cucina">Gruppo Cucina!</span>
          </div>

          <div class="daily-menu">
            <p> Menu Mercoledì 18 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="mercoledì18mar"></span>
              <span class="piadina">Piadina</span>
              <span class="yogurt-dessert">Yogurt o Dessert</span>
          </div>

          <div class="daily-menu">
            <p> Menu Giovedì 19 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="giovedì19mar"></span>
              <span class="pasta-ragu">Pasta al Ragù</span>
              <span class="omlette">Omlette con Formaggio e Prosciutto</span>
              <span class="broccoli">Broccoli</span>
          </div>

          <div class="daily-menu">
              <p> Menu Venerdì 20 Marzo</p>
              <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="venerdì20mar"></span>
              <span class="croissant">Colazione con Croissant Cappuccio o Caffè</span>
              <span id="day-list" class="cappuccio-caffè"></span>
              <span class="polenta">Polenta</span>
              <span class="zola">Gorgonzola</span>
              <span class="salamino">Salamino</span>
              <span class="insalata">Insalata</span>
          </div>

           <!--Fourty Week-->
          <div class="daily-menu">
            <p> Menu Lunedì 23 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="lunedì23mar"></span>
              <span class="orecchiette">Orecchiette con Cime di Rapa</span>
              <span class="mozzarella">Mozzarella</span>
              <span class="cavolfiori">Cavolfiori</span>
          </div>

          <div class="daily-menu">
            <p> Menu Martedì 24 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
            <span id="day-list" class="martedì24mar"></span>
            <span class="gruppo-cucina">Gruppo Cucina!</span>
          </div>
          
          <div class="daily-menu">
            <p> Menu Mercoledì 25 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="mercoledì25mar"></span>
              <span class="piadina">Piadina</span>
              <span class="yogurt-dessert">Yogurt o Dessert</span>
          </div>

            <div class="daily-menu">
            <p> Menu Giovedì 26 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="giovedì26mar"></span>
              <span class="cannelloni">cannelloni Ricotta e Spinaci </span>
              <span class="frittata">Frittata</span>
              <span class="taccole">Taccole</span>
          </div>

          <div class="daily-menu">
              <p> Menu Venerdì 27 Marzo</p>
              <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="venerdì27mar"></span>
              <span class="croissant">Colazione con Croissant Cappuccio o Caffè</span>
              <span id="day-list" class="cappuccio-caffè"></span>
              <span class="riso-basmati">Riso Basmati con Pollo al Curry </span>
              <span class="zola">Gorgonzola</span>
              <span class="pollo" id="day-list"></span>
              <span class="patate">Patate Novelle</span>
          </div>
          
          <!--Fifty Week-->
          <div class="daily-menu">
            <p> Menu Lunedì 30 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
              <span id="day-list" class="lunedì30mar"></span>
              <span class="zuppa-legumi">Pasta o Zuppa Legumi</span>
              <span class="formaggio-philadelphia">Formaggio Philadelphia</span>
              <span class="finocchi">Finocchi Cotti</span>
          </div>

          <div class="daily-menu">
            <p> Menu Martedì 31 Marzo</p>
            <img src="/public/images/menu/orecchiette.jpeg" height="300px">
            <span id="day-list" class="martedì31mar"></span>
            <span class="gruppo-cucina">Gruppo Cucina!</span>
          </div>
         </div>
        </label>
      </li>
     </ul>
   </div>
  </label>
 </body>
</html>