<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oggi a Pranzo</title>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/centrocss/menu.css/menu.css">
</head>
<body>
  <h1 class="title"> OGGI A PRANZO </h1>
  <input type="checkbox" id="menu">
    <label for="menu" class="open-menu">
      <a>SCEGLI IL MESE</a>
    </label>
<label for="menu" id="overlay-menu">
 <div class="dropdown">
   <ul class="dropdown-content">
    <li>
      <a href="/views/html/month-menu/januari-menu.html">Gennaio</a>
    </li>
    <li>
      <a href="/html/mounth-menu/february-menu.html">Febbraio</a>
    </li>
    <li>
      <a href="/html/mounth-menu/march-menu.html">Marzo</a>
    </li>
        <li>
      <a href="/views/html/month-menu/april-menu.html">Aprile</a>
    </li>
    <li>
      <a href="/html/mounth-menu/may-menu.html">Maggio</a>
    </li>
    <li>
      <a href="/html/mounth-menu/june-menu.html">Giugno</a>
    </li>
        <li>
      <a href="/views/html/month-menu/july-menu.html">Luglio</a>
    </li>
    <li>
      <a href="/html/mounth-menu/august-menu.html">Agosto</a>
    </li>
    <li>
      <a href="/html/mounth-menu/september-menu.html">Settembre</a>
    </li>
        <li>
      <a href="/views/html/month-menu/october-menu.html">Ottobre</a>
    </li>
    <li>
      <a href="/html/mounth-menu/november-menu.html">Novembre</a>
    </li>
    <li>
      <a href="/html/mounth-menu/december-menu.html">Dicembre</a>
    </li>
  </ul>
 </div>
</label>

   

    
</body>

</html>