<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/shopcss/mainshop.css">
    <title>Soli Shop</title>
 </head>
 <body>
    <div class="menu">
        <ul class="menul">
            <li>
               <a href="/views/html/index.html">
                Home
               </a>
            </li>
            <li>
                <a>Ma Che Cos'è?</a>
            </li>
        </ul>
    </div>
    <div class="title">
        <h1>SOLI SHOP</h1>
        <h1>Il Negozio Della Solidarietà</h1>
    </div>
    
  <input type="checkbox" id="shop">
  <label for="shop" class="open-shop">
    <a class="what">Cosa Vuoi Comprare?</a>
  </label>
  <label for="shop" id="overlay-shop">
    <div class="dropdown">
        <ul>
          <li id="our-menu">
            <input type="checkbox" id="our-schedule-shop">
            <label for="our-schedule-shop" class="open-our-shop" id="do">
                <a id="product-type">Fatti da Noi!</a>
            </label>
            <label for="our-schedule-shop" id="overlay-our-shop">
                <div class="dropdown-our-shop">
                    <div class="filters" id="our-closed">
                        <select name="price" id="price">
                            <option value="allprice">Qualsiasi Prezzo</option>
                            <option value="cipper">da 5euro a 15euro</option>
                            <option value="medium">da 16euro a 50euro</option>
                            <option value="expensive">più di 50euro</option>
                        </select>
                        <select name="type" id="type">
                            <option value="all">Tutti i Prodotti </option>
                            <option value="stella">Centro Tavola Natalizio</option>
                            <option value="lavoretto">Decorazione</option>
                            <option value="borsa">Borsa Shopper</option>
                        </select>
                    </div>
<!-- Cards Our Products -->
              <div class="product-shop-list" id="our-list">
                <div class="back">
                    <div class="product" id="stella">
                        <span class="stella">
                            <h1>Centro Tavola Natalizio</h1>
                        </span>
                        <span class="all"></span>
                        <span class="allprice"></span>
                        <span class="medium">
                            <h1>Costo: 28,00euro</h1>
                        </span>
                    </div>
                </div>
                <div class="back">
                    <div class="product" id="lavoretto">
                        <span class="lavoretto">
                            <h1>Lavoretto</h1>
                        </span>
                        <span class="all"></span>
                        <span class="allprice"></span>
                        <span class="cipper">
                            <h1>Costo: 10,00euro</h1>
                        </span>
                    </div>
                </div>
                <div class="back">
                    <div class="product" id="borsa">
                        <span class="borsa">
                            <h1>Borsa</h1>
                        </span>
                        <span class="all"></span>
                        <span class="allprice"></span>
                        <span class="expensive">
                            <h1>Costo: 80,00euro</h1>
                        </span>
                    </div>
                </div>
            </div>
               </div>
             </label>
          </li>
            <li id="them-shop">
                <input type="checkbox" id="them-schedule-shop">
                <label for="them-schedule-shop" class="open-them-shop" id="them">
                  <a id="product-type">Dai Nostri Amici</a>
                </label>
            <label for="them-schedule-shop" id="overlay-them-shop">
                <div class="dropdown-them-shop">
                    <div class="filters" id="them-closed">
                        <select name="price" id="price">
                            <option value="allprice">Qualsiasi Prezzo</option>
                            <option value="cipper">da 5euro a 15euro</option>
                            <option value="medium">da 16euro a 50euro</option>
                            <option value="expensive">più di 50euro</option>
                        </select>
                        <select name="type" id="type">
                            <option value="all">Tutti i Prodotti </option>
                            <option value="centro">Centro Tavola</option>
                            <option value="vaso">Vaso</option>
                            <option value="tazza">Tazza</option>
                        </select>
                    </div>
<!-- Cards them Products -->
              <div class="product-shop-list" id="them-list">
                 <div class="back">
                    <div class="product" id="stella">
                        <span class="centro">
                            <h1>Centro Tavola</h1>
                        </span>
                        <span class="all"></span>
                        <span class="allprice"></span>
                        <span class="medium">
                            <h1>Costo: 30,00euro</h1>
                        </span>
                    </div>
                </div>
                <div class="back">
                    <div class="product" id="vaso">
                        <span class="vaso">
                            <h1>Vaso</h1>
                        </span>
                        <span class="all"></span>
                        <span class="allprice"></span>
                        <span class="cipper">
                            <h1>Costo: 11,00euro</h1>
                        </span>
                    </div>
                </div>
                <div class="back">
                    <div class="product" id="borsa">
                        <span class="tazza">
                            <h1>Tazza</h1>
                        </span>
                        <span class="all"></span>
                        <span class="allprice"></span>
                        <span class="expensive">
                            <h1>Costo: 80,00euro</h1>
                        </span>
                    </div>
                </div>
            </div>
                </div>
            </label>
            </li>
        </ul>
    </div>

  </label>
 </body>
</html>