<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/shopcss/mainshop.css">
        <link rel="stylesheet" id="silktide-consent-manager-css" href="/public/assets/css/silktide-consent-manager.css">
    <script src="/public/assets/js/silktide-consent-manager.js"></script>

    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4252528.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
    <title>Soli Shop</title>
 </head>
 <body>
    <div class="menu">
        <ul class="menul">
            <li>
               <a href="/views/html/index.html">
                Home
               </a>
            </li>
            <li>
                <a>Ma Che Cos'è?</a>
            </li>
        </ul>
    </div>
    <div class="title">
        <h1>SOLI SHOP</h1>
        <h1>Il Negozio Della Solidarietà</h1>
    </div>
    
  <input type="checkbox" id="shop">
  <label for="shop" class="open-shop">
    <a class="what">Cosa Vuoi Comprare?</a>
  </label>
  <label for="shop" id="overlay-shop">
    <ul>
        <li id="clothes">
            <input type="checkbox" id="shirt-schedule-list">
            <label for="shirt-schedule-list" class="open-shirt-menu">
                <a>Vestiti Stone!</a>
                <a>T-Shirt Solidali</a>
            </label>
            <label for="shirt-schedule-list" id="overlay-shirt-list">
                <div class="dropdown-shirt-list">
                    <div class="filters" id="shirt-closed">
                        <select name="colors" id="colors">
                            <option value="all-color">TUTTI I COLORI</option>
                            <option value="blue">BLUE</option>
                            <option value="green">VERDE</option>
                            <option value="pink">ROSA</option>
                        </select>
                        <select name="tail" id="tail">
                            <option value="s">S</option>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                        </select>
                    </div>
                    <!--Cards T-Shirt  -->
                    <div class="shirt-card-list" id="shirt-card-list">
                        <div class="t-back">
                            <div class="single" id="all-color">
                                <span class="all-color" >
                                    <h1>TUTTI I COLORI</h1>
                                </span>
                                <span class="s" >
                                    <h1>TAGLIA "SMALL"</h1>
                                </span>
                            </div>
                        </div>
                        <div class="t-back">
                            <div class="single" id="all-color">
                                <span class="all-color" >
                                    <h1>TUTTI I COLORI</h1>
                                </span>
                                <span class="m" >
                                    <h1>TAGLIA "MEDIUM"</h1>
                                </span>
                            </div>
                        </div>
                        <div class="t-back">
                            <div class="single" id="all-color">
                                <span class="all-color" >
                                    <h1>TUTTI I COLORI</h1>
                                    </span>
                                <span class="l" >
                                    <h1>TAGLIA "LARGE"</h1>
                                </span>
                            </div>
                        </div>
                        <div class="t-back">
                            <div class="single" id="all-color">
                                <span class="all-color" >
                                    <h1>TUTTI I COLORI</h1>
                                </span>
                                <span class="x" >
                                    <h1>EXTRA"</h1>
                                </span>
                            </div>
                        </div>
                        <div class="t-back">
                            <div class="single" id="all-color">
                                <span class="all-color" >
                                    <h1>TUTTI I COLORI</h1>
                                    </span>
                                <span class="xl" >
                                    <h1>EXTRA-LARGE</h1>
                                </span>
                            </div>
                        </div>
                        <div class="t-back">
                            <div class="single" id="blue">
                                <span class="blue" >
                                    <h1>Colore BLUE</h1>
                                </span>
                                <span class="s" >
                                    <h1>TAGLIA "SMALL"</h1>
                                </span>

                               
                            </div>
                        </div>
                        <div class="t-back">
                            <div class="single" id="blue">
                                <span class="blue" >
                                    <h1>Colore BLUE</h1>
                                </span>
                                <span class="m" >
                                    <h1>TAGLIA "MEDIUM"</h1>
                                </span>
                             
                            </div>
                        </div>
                        <div class="t-back">
                            <div class="single" id="blue">
                                <span class="blue" >
                                    <h1>Colore BLUE</h1>
                                </span>
                                <span class="l" >
                                    <h1>TAGLIA "LARGE"</h1>
                                </span>
                               
                            </div>
                        </div>
                        <div class="t-back">
                            <div class="single" id="blue">
                                <span class="blue" >
                                    <h1>Colore BLUE</h1>
                                </span>
                                <span class="xl" >
                                    <h1>TAGLIA "EXTRA-LARGE"</h1>
                                </span>
                            </div>
                          
                        </div>
                        <!--Green-->
                        <div class="t-back">
                            <div class="single" id="green">
                                <span class="green" >
                                    <h1>Colore VERDE</h1>
                                </span>
                                <span class="s" >
                                    <h1>TAGLIA "SMALL"</h1>
                                </span>
                            </div>
                        </div>
                        <div class="t-back">
                            <div class="single" id="green">
                                <span class="green" >
                                    <h1>Colore VERDE</h1>
                                </span>
                                <span class="m" >
                                    <h1>TAGLIA "MEDIUM"</h1>
                                </span>
                            </div>
                        </div>
                        <div class="t-back">
                            <div class="single" id="green">
                                <span class="green" >
                                    <h1>Colore VERDE</h1>
                                </span>
                                <span class="l" >
                                    <h1>TAGLIA "LARGE"</h1>
                                </span>
                            </div>
                        </div>
                        <div class="t-back">
                            <div class="single" id="green">
                                <span class="green" >
                                    <h1>Colore VERDE</h1>
                                </span>
                                <span class="xl" >
                                    <h1>TAGLIA "EXTRA-LARGE"</h1>
                                </span>
                            </div>
                        </div>
                        <!--Pink-->
                        <div class="t-back">
                            <div class="single" id="pink">
                                <span class="pink" >
                                    <h1>Colore PINK</h1>
                                </span>
                                <span class="s" >
                                    <h1>TAGLIA "SMALL"</h1>
                                </span>
                            </div>
                        </div>
                        <div class="t-back">
                            <div class="single" id="pink">
                                <span class="pink" >
                                    <h1>Colore PINK</h1>
                                </span>
                                <span class="m" >
                                    <h1>TAGLIA "MEDIUM"</h1>
                                </span>
                            </div>
                        </div>
                        <div class="t-back">
                            <div class="single" id="pink">
                                <span class="pink" >
                                    <h1>Colore PINK</h1>
                                </span>
                                <span class="l" >
                                    <h1>TAGLIA "LARGE"</h1>
                                </span>
                            </div>
                        </div>
                        <div class="t-back">
                            <div class="single" id="pink">
                                <span class="pink" >
                                    <h1>Colore PINK</h1>
                                </span>
                                <span class="xl" >
                                    <h1>TAGLIA "EXTRA-LARGE"</h1>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </label>

        </li>
    </ul>
  </label>

          <div class="dev">
            CatRobotics DevSolutions
        </div>
        <div class="help">
            <a class="button" href="https://www.paypal.com/donate/?hosted_button_id=4R8KNTDTP6RKN">DONA CLICCA QUI<br>
                <img src="/public/images/paypaldonation.png" target="_blank"  rel="noopener noreferrer" width="20%">
            </a>
        </div>

        <div class="policy">
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Privacy Policy ">Privacy Policy
                </a>
            </div>
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857/cookie-policy"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Cookie Policy ">Cookie Policy
                </a>
            </div>
        </div>

                
 </body>
</html>