<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina in Costruzione</title>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/stack.css">

</head>
<body>
        <div class="menu">
        <ul>
            <li class="home">
                <a href="/views/html/index.html" target="_blank">
                    Home
                </a>
            </li>
            <li>
                <div class="cat">

                </div>
            </li>
        </ul>
    </div>
    <div class="on_work"></div>
</body>
</html>