<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/stack.css">

</head>
<body>
  <nav>
    <ul>
      <li><img src="/public/images/logocentro.png" ></li>
      <li><a href="about.html">About us</a></li>
      <li><a href="products.html.html">Products</a>
        <div class="dropdown">
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </li>
      <li><a href="login.html">Login</a></li>
    </ul>
  
  </nav>
          
</body>
</html>