<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Social City</title>
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/public/assets/css/virtualsocialcity.css">
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/public/assets/css/silktide-consent-manager.css">
    <script src="/public/assets/js/silktide-consent-manager.js"></script>

    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4252528.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K5SQ524Z');</script>
<!-- End Google Tag Manager -->
</head>
<body>
    <div class="menu">
        <ul>
            <li class="home">
                <a href="/index.html" >
                    Home
                </a>
            </li>
            <li>
                <div class="cat">

                </div>
            </li>
        </ul>
    </div>
    <div class="nav">
        <h1 class="title">Virtual Social City</h1>
        <div class="idea">
            <h1 class="ideaexplain">
                L'IDEA: Un Luogo Virtuale nel quale le persone si incontrano, si conoscono, giocano, trovano risposte ai loro problemi, dubbi, curiosità.</br>
                E' per tutti, ognuno all'ingresso, verrà valutato in base alle proprie richieste e indirizzato nell'area o "isola", più adatta ai suoi bisogni. </br>
                Ognuno avrà un avatar con cui si muoverà negli ambienti dedicati, e potrà fare diverse esperienze, come giochi, partecipare a feste ed eventi. </br>
                Ad accogliere le persone ci saranno "Virtual Educator", guidati da persone esperte e formate come educatori professionali, psicologi, tecnici delle professioni sociali.</br>
                I "VEducator", sono sempre presenti, animeranno le feste, potranno ascoltare, chattare, aiutare, guidare, dare consigli, garantendo il divertimento, e soprattutto la sicurezza di tutta la piattaforma.</br>
                Virtual Social City sarà l'unico e primo a dare reali garanzie sulla sicurezza delle relazioni tra persone e sui consigli che vengono dati.</br>
                I genitori non dovranno temere che i propri figli corrano pericoli, troveranno invece reali alleati per la loro educazione.</br>
                Le persone che hanno avuto problemi con i normali social qui troveranno chi li affiancherà e gli aiuterà a comprendere come interagire con gli altri.</br>
                Chi ha o ha avuto problemi personali e non sa a chi rivolgersi qui troverà chi ascolta e indirizza, oppure persone che hanno gia affrontato gli stessi problemi e che potrebbe essere di grande aiuto. 
            </h1>
        </div>
        <div class="what">
            <h1>
                COSA E' STATO FATTO: Il Laboratorio di informatica ha stimolato nello studio dell'informatica.</br>
                Da un situazione di analfabetismo informatico, ad una buona competenza dei "linguaggi" HTML e CSS, questo sito, infatti, è interamente costruito
                con questa tecnologia. </br> I progressi nell'apprendimento sono evidenti nell'analisi del codice, dalle prime alle ultime pagine costruite.</br>
                Curiosità, impegno, studio, voglia di capire e mettersi alla prova, hanno caratterizzato un anno di lavoro.</br>
                Lo studio, in modo preliminare, si è esteso anche ad altri linguaggi, programmi, aiutando a definire un percorso che giungerà presto 
                alla costruzione di Virtual Social City!

            </h1>

        </div>
        <div class="next">
            <h1>
                I PROSSIMI PASSI: Terminato la costruzione e la pubblicazione del sito,
                ci si immergerà nello studio del liguaggio Javascript, che verrà man mano applicato a questo sito rendendolo più dinamico
                efficente, ma soprattutto si concretizzerà la realizzazione della pagina "Login" offrendo nuovi servizi
                a tutti gli utenti e ai soci.</br>
                Non secondaria sarà la messa in ordine del codice che sarà fruibile gratuitamente su github, sperando in proficue condivisioni.</br>
                Javascript sarà utilizzato attraverso l'ambiente di "run time" Nodejs, e verrà sfruttando il databese "mongodb", </br>
                tutte tecnologie che renderanno anche l'e-shop più fruibile e gestibile dagli sviluppatori e non solo.  
            </h1>
        </div>
        <div class="future">
            <h1>
                IL FUTURO: Prossimamente lo studio approfondito del linguaggio C++ da applicare  alla piattaforma di sviluppo 3D "Ureal-Engine".</br>
                Queste competenze permetteranno lo sviluppo concreto del porgetto "VSCity", sarà un percorso lungo a cause della sua complessità, per questo chiediamo un aiuto.</br>
                Se possedete le competenze necessarie, una condivisione e un confronto sarebbero davvero graditi, </br>
                potrebbero diminuire i tempi per la sua realizzazione e soprattutto la sua efficacia.</br>
                E' già iniziata la creazione di un soggetto, la "CatRoboticsDev" ora solo una specie di libreria e tante idee, </br>che sta raccogliendo esperienza, progetti
                e tutto ciò che sarà utile al raggiungimento dell'obiettivo,
            </h1>
        </div>
        <div class="write">
            <a href="mailto:catroboticsdev@gmail.com" target="_blank"  class="scrivi">scrivi: catroboticsdev@gmail.com</a>
        </div>

        <div class="dev">
            CatRobotics DevSolutions
        </div>
        <div class="help">
            <a class="button" href="https://www.paypal.com/donate/?hosted_button_id=4R8KNTDTP6RKN">DONA CLICCA QUI<br>
                <img src="/public/images/paypaldonation.png" target="_blank"  rel="noopener noreferrer" width="20%">
            </a>
        </div>

        <div class="policy">
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Privacy Policy ">Privacy Policy
                </a>
            </div>
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857/cookie-policy"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Cookie Policy ">Cookie Policy
                </a>
            </div>

    

</div>
    </div>



</body>


</div>
    
</body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5SQ524Z"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>