@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --base-color: rgb(246, 247, 188);
    --text-color:rgb(50, 2, 9);
    --primary-color:rgb(239, 125, 38);
    --secondary-color:rgb(150, 33, 150);
    --color-1: rgb(250, 166, 143);
    --color-2: rgb(243, 213, 168);
    --color-3: green;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: Merryweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    
}
body{
    padding: 1em;
    background-color: var(--base-color);
}
h1, h2, h3 {
    font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, section{
    margin: 2em auto;
    width: 100%;
    border-radius: 1em;
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}
.flex-container{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 gap:3em;
 
}
header img{
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}
.text-container{
    flex: 0 1 34em;
}
h1{
    font-size: 2em;
}
.flex-container p{
    margin: .75em 0 1em 0;
    font-size: 1.1em;
}

.cta-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
    
}
.secondary{
    background-color: var(--secondary-color);
}
section{
    padding: 3em min(2em, 15%);
    background-color: var(--color-2);
    text-align: center;
}
h2{
    font-size: 2rem;
}
section p{
    margin-top: 1em;
    font-size: 1.25em;
}
@media(min-width:640px){
/*labo-grid*/
.mobile-laboratory{
    display: none;
}
.labo{
   position: relative;
   width: 100%;
   min-width: 100%;
   height: 100%;
   min-height: 100%;
   display: grid;
   grid-template-columns:repeat(3,1fr);
   grid-template-rows:repeat(3,1fr);
   grid-template-areas:
    "box-1 box-2 box-3"
    "box-4 box-5 box-6"
    "box-7 box-8 box-9";
    gap: 1em;
    z-index: 2;
}
}
#box01{
    background-image:url(/public/images/grid-img/site09.jpg);
   background-size:cover; 
}
#box02{
    background-image:url(/public/images/grid-img/cucina.png);
   background-size:cover; 
}
#box03{
    background-image:url(/public/images/grid-img/informatica.png);
   background-size:100% 100%; 
}
#box04{
    background-image:url(/public/images/grid-img/cinema.jpeg);
   background-size:cover; 

}
#box05{
   background-image:url(/public/images/grid-img/site09.jpg);
   background-size:cover;
   
  
}
#box06{
    background-image:url(/public/images/grid-img/gruppomusica.jpeg);
   background-size:cover; 
  
}
#box07{
    background-image:url(/public/images/grid-img/gruppomusica.jpeg);
   background-size:cover; 
  
}
#box08{
    background-image:url(/public/images/grid-img/gruppomusica.jpeg);
   background-size:cover; 
}
#box09{
    background-image:url(/public/images/grid-img/gruppomusica.jpeg);
   background-size:cover; 
  
}
.labo img{
    height: 20vw;
    width: 100%;
    border-radius: .5em .5em 0 0;
    transition: 100ms ease;
}
.labo h1{
    font-size: 2vw;
    background-color: aqua;
    
}
.labo div{
    display:flex;
    flex-direction: column;
    
}




