<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cineforum</title>
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/assets/css/laboratori/cineforum.css?v=1.1">
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/assets/css/silktide-consent-manager.css">
    <script src="/assets/js/silktide-consent-manager.js"></script>
  

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&amp;icon_names=close">

    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4252528.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async=""></script>

</head>
<body>
    <img id="locandina-film-settimana" alt="locandina" width="200" src="https://res.cloudinary.com/ddojtr6uq/image/upload/v1780154594/cineforum/gvweftkditf2f1orkibl.jpg" style="display: block;">
     
    <div class="menu">
        <ul>
            <li class="home">
                <a href="/stone">
                    Home
                </a>
            </li>
            <li>
                <div class="cat">

                </div>
            </li>
        </ul>
    </div>
    <div class="nav">
        <h1 class="title">Cineforum</h1>

        <div class="idea">
            <h1 class="ideaexplain">
                CINEFORUM:<br><br>Ogni settimana viene proposta la cvisione di un film. Alla fine si discute della trama cercando di trovare spunti utili <br>
                    per la riflessione rispetto le vicende sociali, personali o del nostro gruppo. Un importante momento ludico che stimola la persona a pensare <br>
                    se stesso in un contesto più ampio traendo strumenti utili alla propria crescita.
            </h1>
        </div>
    </div>

    <div id="blog">
    <input type="checkbox" id="sidebar-how">
    
    <!-- Toggle Button -->
    <label for="sidebar-how" class="open-how">
        <h1 class="w-how">clicca qui:<br>Il Film della Settimana</h1>
    </label>
    
    <!-- Overlay Modal -->
    <label for="sidebar-how" id="overlay-how">
        <div class="bestbh-how">
            <!-- Titolo -->
            <div class="film-section">
                <h1 id="titoloFilm">
    <div class="film-section">
        
        <p>gatto5555</p>
    </div>
</h1>
</div>
            
                        <!-- Immagine Dinamica da Cloudinary -->
             <img id="locandina-film-settimana" alt="locandina" width="200" src="https://res.cloudinary.com/ddojtr6uq/image/upload/v1780154594/cineforum/gvweftkditf2f1orkibl.jpg" style="display: block;">

            
            <!-- Contenitore Trama e Discussione -->
            <div class="spec">
                <!-- Trama -->
                <div class="film-section">
                   
                    <div id="tramaFilm" class="trama">
    <label for="toggle-blog" id="toggle-trama" style="cursor: pointer;">
        <div class="film-section">
            <h4>📖 Trama</h4>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in quam vel odio dignissim tincidunt nec a ante. Mauris a libero bibendum, suscipit magna vitae, pharetra tellus. Sed cursus porttitor pharetra. Nullam consectetur finibus lectus. Proin aliquet rhoncus turpis at rutrum. Praesent et purus aliquet, sodales nisi nec, sollicitudin odio. Pellentesque ut commodo nisi, a dapibus velit</p>
        </div>
    </label>

</div>
                </div>
                
                <!-- Discussione -->
                <div class="film-section">
                    
                    <div id="discussione" class="discussione">
    <label for="toggle-blog" class="toggle-discussione" style="cursor: pointer;">
        <div class="film-section">
            <h4>💬 Discussione</h4>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in quam vel odio dignissim tincidunt nec a ante. Mauris a libero bibendum, suscipit magna vitae, pharetra tellus. Sed cursus porttitor pharetra. Nullam consectetur finibus lectus. Proin aliquet rhoncus turpis at rutrum. Praesent et purus aliquet, sodales nisi nec, sollicitudin odio. Pellentesque ut commodo nisi, a dapibus velit</p>
        </div>
    </label>
   
</div>
                </div>
            </div>
        </div>
    </label>
</div>
        

  
  <input type="checkbox" id="sidebar-archivio">
               <label for="sidebar-archivio" class="open-archivio">
                 <h1 class="w-archivio">Archivio</h1>
                 </label>
            <label for="sidebar-archivio" id="overlay-archivio">
                  
            <div id="archivio">
               
                
                
    
<div id="30_05_2026" class="film-archiviato" data-folder="gatto-pazzo">
    <h1>gatto pazzo</h1>
    <h3>Film del 30/05/2026</h3>
    <input type="checkbox" id="sidebar-film-16-22-53-712">
    <label for="sidebar-film-16-22-53-712" class="toggle-img">
        <img src="http://res.cloudinary.com/ddojtr6uq/image/upload/c_scale,f_auto,q_auto,w_600/v1/cineforum/zhns1ttgskhsvnyipeg8" width="100">
    </label>
    <br>
    <div class="film-details">
        <label for="sidebar-film-16-22-53-712" class="toggle-archivio">

            <div class="film-section">
                <h4>📖 Trama</h4>
                <p>.
<br>
<br>Nam placerat eu neque non cursus. Nullam a aliquam odio. Praesent vulputate ligula dapibus pharetra malesuada. Donec a est ullamcorper, porta orci vitae, rhoncus turpis. Sed arcu sapien, laoreet in mauris vel, mollis ultricies est. Nunc rhoncus faucibus tincidunt. Aliquam ac porttitor est, et sodales augue. Nulla sit amet lectus a mauris imperdiet aliquam vel at nibh. Mauris ac enim eget elit efficitur vulputate. Curabitur ac velit augue. Phasellus pellentesque, enim at consectetur facilisis, velit elit rutrum tellus, sit amet aliquam mauris sapien eu tellus. Suspendisse libero lorem, pulvinar a eros vel, suscipit efficitur nisi.</p>
            </div>
            <div class="film-section">
                <h4>💬 Discussione</h4>
                <p>.
<br>
<br>Nam placerat eu neque non cursus. Nullam a aliquam odio. Praesent vulputate ligula dapibus pharetra malesuada. Donec a est ullamcorper, porta orci vitae, rhoncus turpis. Sed arcu sapien, laoreet in mauris vel, mollis ultricies est. Nunc rhoncus faucibus tincidunt. Aliquam ac porttitor est, et sodales augue. Nulla sit amet lectus a mauris imperdiet aliquam vel at nibh. Mauris ac enim eget elit efficitur vulputate. Curabitur ac velit augue. Phasellus pellentesque, enim at consectetur facilisis, velit elit rutrum tellus, sit amet aliquam mauris sapien eu tellus. Suspendisse libero lorem, pulvinar a eros vel, suscipit efficitur nisi.</p>
            </div>
        </label>
    </div>
</div><div id="30_05_2026" class="film-archiviato" data-folder="beef">
    <h1>beef</h1>
    <h3>Film del 30/05/2026</h3>
    <input type="checkbox" id="sidebar-film-16-56-30-599">
    <label for="sidebar-film-16-56-30-599" class="toggle-img">
        <img src="http://res.cloudinary.com/ddojtr6uq/image/upload/c_scale,f_auto,q_auto,w_600/v1/cineforum/ysuxm2bvkam87dlmymlp" width="100">
    </label>
    <br>
    <div class="film-details">
        <label for="sidebar-film-16-56-30-599" class="toggle-archivio">

            <div class="film-section">
                <h4>📖 Trama</h4>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in quam vel odio dignissim tincidunt nec a ante. Mauris a libero bibendum, suscipit magna vitae, pharetra tellus. Sed cursus porttitor pharetra. Nullam consectetur finibus lectus. Proin aliquet rhoncus turpis at rutrum. Praesent et purus aliquet, sodales nisi nec, sollicitudin odio. Pellentesque ut commodo nisi, a dapibus velit</p>
            </div>
            <div class="film-section">
                <h4>💬 Discussione</h4>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in quam vel odio dignissim tincidunt nec a ante. Mauris a libero bibendum, suscipit magna vitae, pharetra tellus. Sed cursus porttitor pharetra. Nullam consectetur finibus lectus. Proin aliquet rhoncus turpis at rutrum. Praesent et purus aliquet, sodales nisi nec, sollicitudin odio. Pellentesque ut commodo nisi, a dapibus velit</p>
            </div>
        </label>
    </div>
</div><div id="30_05_2026" class="film-archiviato" data-folder="cat34">
    <h1>cat34</h1>
    <h3>Film del 30/05/2026</h3>
    <input type="checkbox" id="sidebar-film-16-59-15-163">
    <label for="sidebar-film-16-59-15-163" class="toggle-img">
        <img src="http://res.cloudinary.com/ddojtr6uq/image/upload/c_scale,f_auto,q_auto,w_600/v1/cineforum/xoc8cojhohpvwfdcgikf" width="100">
    </label>
    <br>
    <div class="film-details">
        <label for="sidebar-film-16-59-15-163" class="toggle-archivio">

            <div class="film-section">
                <h4>📖 Trama</h4>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in quam vel odio dignissim tincidunt nec a ante. Mauris a libero bibendum, suscipit magna vitae, pharetra tellus. Sed cursus porttitor pharetra. Nullam consectetur finibus lectus. Proin aliquet rhoncus turpis at rutrum. Praesent et purus aliquet, sodales nisi nec, sollicitudin odio. Pellentesque ut commodo nisi, a dapibus velit</p>
            </div>
            <div class="film-section">
                <h4>💬 Discussione</h4>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in quam vel odio dignissim tincidunt nec a ante. Mauris a libero bibendum, suscipit magna vitae, pharetra tellus. Sed cursus porttitor pharetra. Nullam consectetur finibus lectus. Proin aliquet rhoncus turpis at rutrum. Praesent et purus aliquet, sodales nisi nec, sollicitudin odio. Pellentesque ut commodo nisi, a dapibus velit</p>
            </div>
        </label>
    </div>
</div><div id="30_05_2026" class="film-archiviato" data-folder="salade">
    <h1>salade</h1>
    <h3>Film del 30/05/2026</h3>
    <input type="checkbox" id="sidebar-film-17-03-44-991">
    <label for="sidebar-film-17-03-44-991" class="toggle-img">
        <img src="http://res.cloudinary.com/ddojtr6uq/image/upload/c_scale,f_auto,q_auto,w_600/v1/cineforum/h706taxqwggrecnodpjm" width="100">
    </label>
    <br>
    <div class="film-details">
        <label for="sidebar-film-17-03-44-991" class="toggle-archivio">

            <div class="film-section">
                <h4>📖 Trama</h4>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in quam vel odio dignissim tincidunt nec a ante. Mauris a libero bibendum, suscipit magna vitae, pharetra tellus. Sed cursus porttitor pharetra. Nullam consectetur finibus lectus. Proin aliquet rhoncus turpis at rutrum. Praesent et purus aliquet, sodales nisi nec, sollicitudin odio. Pellentesque ut commodo nisi, a dapibus velit</p>
            </div>
            <div class="film-section">
                <h4>💬 Discussione</h4>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in quam vel odio dignissim tincidunt nec a ante. Mauris a libero bibendum, suscipit magna vitae, pharetra tellus. Sed cursus porttitor pharetra. Nullam consectetur finibus lectus. Proin aliquet rhoncus turpis at rutrum. Praesent et purus aliquet, sodales nisi nec, sollicitudin odio. Pellentesque ut commodo nisi, a dapibus velit</p>
            </div>
        </label>
    </div>
</div><div id="30_05_2026" class="film-archiviato" data-folder="risissimo">
    <h1>risissimo</h1>
    <h3>Film del 30/05/2026</h3>
    <input type="checkbox" id="sidebar-film-17-14-12-785">
    <label for="sidebar-film-17-14-12-785" class="toggle-img">
        <img src="http://res.cloudinary.com/ddojtr6uq/image/upload/c_scale,f_auto,q_auto,w_600/v1/cineforum/bacboraaekpcrudb4zlg" width="100">
    </label>
    <br>
    <div class="film-details">
        <label for="sidebar-film-17-14-12-785" class="toggle-archivio">

            <div class="film-section">
                <h4>📖 Trama</h4>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in quam vel odio dignissim tincidunt nec a ante. Mauris a libero bibendum, suscipit magna vitae, pharetra tellus. Sed cursus porttitor pharetra. Nullam consectetur finibus lectus. Proin aliquet rhoncus turpis at rutrum. Praesent et purus aliquet, sodales nisi nec, sollicitudin odio. Pellentesque ut commodo nisi, a dapibus velit</p>
            </div>
            <div class="film-section">
                <h4>💬 Discussione</h4>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in quam vel odio dignissim tincidunt nec a ante. Mauris a libero bibendum, suscipit magna vitae, pharetra tellus. Sed cursus porttitor pharetra. Nullam consectetur finibus lectus. Proin aliquet rhoncus turpis at rutrum. Praesent et purus aliquet, sodales nisi nec, sollicitudin odio. Pellentesque ut commodo nisi, a dapibus velit</p>
            </div>
        </label>
    </div>
</div><div id="30_05_2026" class="film-archiviato" data-folder="pastissima">
    <h1>pastissima</h1>
    <h3>Film del 30/05/2026</h3>
    <input type="checkbox" id="sidebar-film-17-18-19-111">
    <label for="sidebar-film-17-18-19-111" class="toggle-img">
        <img src="http://res.cloudinary.com/ddojtr6uq/image/upload/c_scale,f_auto,q_auto,w_600/v1/cineforum/zzrzqsxujxwxvmgz1jvl" width="100">
    </label>
    <br>
    <div class="film-details">
        <label for="sidebar-film-17-18-19-111" class="toggle-archivio">

            <div class="film-section">
                <h4>📖 Trama</h4>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in quam vel odio dignissim tincidunt nec a ante. Mauris a libero bibendum, suscipit magna vitae, pharetra tellus. Sed cursus porttitor pharetra. Nullam consectetur finibus lectus. Proin aliquet rhoncus turpis at rutrum. Praesent et purus aliquet, sodales nisi nec, sollicitudin odio. Pellentesque ut commodo nisi, a dapibus velit</p>
            </div>
            <div class="film-section">
                <h4>💬 Discussione</h4>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in quam vel odio dignissim tincidunt nec a ante. Mauris a libero bibendum, suscipit magna vitae, pharetra tellus. Sed cursus porttitor pharetra. Nullam consectetur finibus lectus. Proin aliquet rhoncus turpis at rutrum. Praesent et purus aliquet, sodales nisi nec, sollicitudin odio. Pellentesque ut commodo nisi, a dapibus velit</p>
            </div>
        </label>
    </div>
</div><div id="30_05_2026" class="film-archiviato" data-folder="gatto5555">
    <h1>gatto5555</h1>
    <h3>Film del 30/05/2026</h3>
    <input type="checkbox" id="sidebar-film-17-23-42-634">
    <label for="sidebar-film-17-23-42-634" class="toggle-img">
        <img src="http://res.cloudinary.com/ddojtr6uq/image/upload/c_scale,f_auto,q_auto,w_600/v1/cineforum/gvweftkditf2f1orkibl" width="100">
    </label>
    <br>
    <div class="film-details">
        <label for="sidebar-film-17-23-42-634" class="toggle-archivio">

            <div class="film-section">
                <h4>📖 Trama</h4>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in quam vel odio dignissim tincidunt nec a ante. Mauris a libero bibendum, suscipit magna vitae, pharetra tellus. Sed cursus porttitor pharetra. Nullam consectetur finibus lectus. Proin aliquet rhoncus turpis at rutrum. Praesent et purus aliquet, sodales nisi nec, sollicitudin odio. Pellentesque ut commodo nisi, a dapibus velit</p>
            </div>
            <div class="film-section">
                <h4>💬 Discussione</h4>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in quam vel odio dignissim tincidunt nec a ante. Mauris a libero bibendum, suscipit magna vitae, pharetra tellus. Sed cursus porttitor pharetra. Nullam consectetur finibus lectus. Proin aliquet rhoncus turpis at rutrum. Praesent et purus aliquet, sodales nisi nec, sollicitudin odio. Pellentesque ut commodo nisi, a dapibus velit</p>
            </div>
        </label>
    </div>
</div></div>
                 </label>
              
         
           
<div class="write">
            <a href="mailto:infocoopstone@gmail.com" target="_blank" class="scrivi">scrivi: infocoopstone@gmail.com</a>
        </div>

        <div class="dev">
            CatRobotics DevSolutions
        </div>
        <div class="help">
            <a class="button" href="https://www.paypal.com/donate/?hosted_button_id=4R8KNTDTP6RKN">DONA CLICCA QUI<br>
                <img src="/images/paypaldonation.png" target="_blank" rel="noopener noreferrer" width="20%">
            </a>
        </div>

        <div class="policy">
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" title="Privacy Policy ">Privacy Policy
                </a>
            </div>
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857/cookie-policy" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" title="Cookie Policy ">Cookie Policy
                </a>
            </div>
        </div>
    


<script>
document.addEventListener('DOMContentLoaded', () => {
    // Cerchiamo l'immagine usando l'ID esatto che abbiamo aggiunto
    const imgComponent = document.getElementById('locandina-film-settimana');
    
    if (!imgComponent) {
        console.error("Errore: Il tag immagine con ID 'locandina-film-settimana' non esiste nella pagina!");
        return;
    }

    // Leggiamo il file JSON salvato da Cloudinary
    fetch('/uploads/cineforum/locandina.json')
        .then(response => {
            if (!response.ok) throw new Error('File locandina.json non trovato sul server');
            return response.json();
        })
        .then(data => {
            if (data && data.url) {
                console.log("Link Cloudinary trovato con successo:", data.url);
                imgComponent.src = data.url;            // Inserisce il link dell'immagine
                imgComponent.style.setProperty('display', 'block', 'important'); // Forza l'apparizione sovrascrivendo il CSS
            } else {
                console.warn("Il file JSON esiste ma non contiene la proprietà .url");
            }
        })
        .catch(err => {
            console.error('Impossibile caricare la locandina da Cloudinary:', err.message);
            imgComponent.style.display = 'none';
        });
});
</script>



</body></html>