<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cineforum</title>
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/assets/css/laboratori/cineforum.css">
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/assets/css/silktide-consent-manager.css">
    <script src="/assets/js/silktide-consent-manager.js"></script>

    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4252528.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</head>
<body>
    <div class="menu">
        <ul>
            <li class="home">
                <a href="/stone" >
                    Home
                </a>
            </li>
            <li>
                <div class="cat">

                </div>
            </li>
        </ul>
    </div>
    <div class="nav">
        <h1 class="title">Cineforum</h1>
        <div class="idea">
            <h1 class="ideaexplain">
CINEFORUM:</br></br>Ogni settimana viene proposta la cvisione di un film. Alla fine si discute della trama cercando di trovare spunti utili </br>
per la riflessione rispetto le vicende sociali, personali o del nostro gruppo. Un importante momento ludico che stimola la persona a pensare </br>
se stesso in un contesto più ampio traendo strumenti utili alla propria crescita.
            </h1>
        </div>
        <div id="blog">
            <input type="checkbox" id="sidebar-how">
               <label for="sidebar-how" class="open-how">
                 <h1 class="w-how">clicca qui:<br>Il Film della Settimana</h1>
               </label>
               <label for="sidebar-how" id="overlay-how">
                  <div class="bestbh-how">
                    <h2 class="tittrama">LA TRAMA</h2>
                    <h2 class="trama">Iris, giornalista inglese, e Amanda, montatrice cinematografica, non potrebbero essere più diverse tra loro ma hanno in comune il fatto di essere state entrambe tradite dai rispettivi fidanzati. Conosciutesi su internet, le due decidono di scambiarsi momentaneamente la residenza, con la prima che si trasferisce così in una lussuosa villa di Los Angeles e la seconda che arriva nella cittadina di Surrey. Entrambe dopo le iniziali difficoltà troveranno molti vantaggi nella loro nuova collocazione, con il destino pronto a regalar loro alcune sorprese</h2>
                  <h2 class="titdiscussione">DISCUSSIONE</h2>
                <h2 class="discussione">
                    Visti gli avvenimenti del film abbiamo fantastico su dove andare a vivere con molte mete differenti: da chi predilige le grandi città come New York oppure Amsterdam a chi invece vorrebbe isolarsi dal caos sulle montagne trentine. Anche il tipo di abitazione varia, infatti se molti andrebbero in hotel altri affitterebbero un appartamento con tutti i confort. Un altro aspetto che abbiamo preso in considerazione è la compagnia: se alcuni andrebbero via con la loro famiglia altri si farebbero accompagnare dai loro amici. Infine abbiamo ragionato sulla durata: molti si trasferirebbero definitivamente mentre altri sarebbero propensi a fare un soggiorno di una settimana per poi ritornare alle loro vite.

Sicuramente il punto centrale della trama è con chi ci vorremmo scambiare dei nostri amici del centro, tutti noi ne abbiamo indicato uno, non tenendo in considerazione che “L’erba del vicino è sempre più verde”.
                </h2>
                </div>
               </label>
        </div>
         <div class="write">
            <a href="mailto:infocoopstone@gmail.com" target="_blank"  class="scrivi">scrivi: infocoopstone@gmail.com</a>
        </div>

        <div class="dev">
            CatRobotics DevSolutions
        </div>
        <div class="help">
            <a class="button" href="https://www.paypal.com/donate/?hosted_button_id=4R8KNTDTP6RKN">DONA CLICCA QUI<br>
                <img src="/images/paypaldonation.png" target="_blank"  rel="noopener noreferrer" width="20%">
            </a>
        </div>

        <div class="policy">
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Privacy Policy ">Privacy Policy
                </a>
            </div>
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857/cookie-policy"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Cookie Policy ">Cookie Policy
                </a>
            </div>
        </div>
    </div>
</body>
</html>