<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio di Cucina</title>
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/public/assets/css/laboratori/cucina.css">
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/public/assets/css/silktide-consent-manager.css">
    <script src="/public/assets/js/silktide-consent-manager.js"></script>

    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4252528.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</head>
<body>
    <div class="menu">
        <ul>
            <li class="home">
                <a href="/views/html/index.html" target="_blank">
                    Home
                </a>
            </li>
            <li>
                <div class="cat">

                </div>
            </li>
        </ul>
    </div>
    <div class="nav">
        <h1 class="title">Laboratorio di Cucina</h1>
        <div class="idea">
            <h1 class="ideaexplain">
LABORATORIO DI CUCINA:</br></br>un laboratorio che coinvolge tutti i ragazzi del centro, si parte dal cercare la ricetta su internet, individiare gli ingredienti.</br>
Le tecniche di cucina pone la persona al centro dell'agire, proporre qualcosa di buono signigìfica essere responsabile e capace delle techìniche che portano al risultato.</br>
Gruppo cucina significa competenze, collaborazione, capacità. 
            </h1>
        </div>
        <div id="blog">
            <input type="checkbox" id="sidebar">
            <label for="sidebar" class="open">
                <h1>La Ricetta della Settimana: Clicca Qui!</h1>
            </label>
            <label for="sidebar" id="overlay">
             <div class="ricetta">
               <div class="intro">
                    <p class="intro1">Questa Settimana poroniamo:</br></br>
                    PASTA CON CAVOLO NERO</br>
                    POLPETTE DI TONNO E RICOTTA</br>
                    PURE' DI PATATE</br>
                    </p>
                    <p class="description">
                        Una ricetta semplice, abasta veloce, adatto per una cena o un pranzo in famiglia. Gli ingredienti sono poveri, economici e si conservano facilmente. Piatto gustoso adatto a tutti.
                    </p>
                </div>
                <div class="svolgimento">
                        <h2>
                        PASTA CON CAVOLO NERO  
                        </h2>
                        <div class="imgprimo"></div>
                        <p>INGREDIENTI</p>
                        <p>Fusilli 320 g</br>
                        Cavolo nero (da pulire) 270 g</br>
                        Pecorino toscano poco stagionato 60 g</br>
                        Aglio 1 spicchio</br>
                        Peperoncino secco q.b.</br>
                        Olio extravergine d'oliva 40 g</br>
                        Sale fino q.b.
                        </p>
                        <p>PREPARAZIONE</p>
                        <p>
                            Per realizzare la pasta con il cavolo nero, iniziate dalla pulizia del
                            cavolo: dopo averlo lavato, spuntate la base e tagliate la parte più
                            dura e coriacea del gambo senza necessariamente eliminare il
                            resto della costa centrale se non è troppo coriacea. Valutate quindi
                            foglia per foglia per ridurre lo scarto, eliminando la costa solo dove
                            non sia abbastanza tenera. Tagliate il cavolo pulito a striscioline
                            piuttosto fini. Tuffate il cavolo in una pentola capiente con acqua
                            bollente salata che avrete già messo sul fuoco per la pasta.
                            Attendete un paio di minuti per la ripresa del bollore e aggiungete
                            anche la pasta. Mescolate e cuocete per 2-3 minuti in meno rispetto
                            al tempo indicato sulla confezione. Intanto in un tegame capiente
                            lasciate insaporire dolcemente un giro d’olio con uno spicchio
                            d’aglio privato dell’anima e spremuto. Il fuoco dovrà essere
                            bassissimo.   
                        </p>
                        <h2>
                        POLPETTE DI TONNO E RICOTTA  
                        </h2>
                        <div class="imgsecondo"></div>
                        <p>INGREDIENTI</p>
                        <p>Tonno sott'olio (peso sgocciolato) 230 g</br>
                            Ricotta vaccina 200 g Galbani</br>
                            Acciughe sott'olio 20 g</br>
                            Capperi sotto sale 20 g</br>
                            Parmigiano Reggiano DOP (da grattugiare) 50 g</br>
                            Pangrattato 50 g</br>
                            Uova medie 2</br>
                            Prezzemolo (da tritare) 8 g</br>
                            Sale fino q.b.</br>
                            Pepe nero q.b.</br>
                            Per impanare e friggere</br>
                            Pangrattato 40 g</br>
                            Olio di semi di arachide qb
                        </p>
                        <p>PREPARAZIONE</p>
                        <p>
                            Per preparare le polpette di tonno e ricotta iniziate dalla
                            preparazione dell'impasto. Scolate la ricotta in un colino per
                            mezzora o il tempo necessario perché non rilasci il suo siero. Unite
                            in una ciotola la ricotta scolata, il parmigiano grattugiato il tonno
                            sbriciolato e le acciughe Aggiungete i capperi (precedentemente
                            sciacquati), il prezzemolo tritato, il pangrattato e in ultimo le uova
                            leggermente sbattute quindi iniziate a mescolare il composto con
                            una forchetta. Miscelate insieme tutti gli ingredienti aggiungete il
                            sale e il pepe e terminate di impastare con le mani fino ad avere un
                            composto compatto ed omogeneo se il composto dovesse risultare
                            troppo morbido potete aggiungere ancora un po' di formaggio, in
                            caso contrario potete ammorbidirlo con qualche goccia di latte. A
                            questo punto inumidite leggermente le mani e prelevate delle
                            piccole porzioni di impasto del peso di circa 30 grammi a cui darete
                            la classica forma a polpetta, tonda e leggermente schiacciata. Dopo
                            aver formato tutte le polpette passarle nel pangrattato e scaldate
                            l'olio di semi in un pentolino fino alla temperatura di 180°. Friggere
                            poche polpette alla volta basteranno pochi istanti per farle diventare
                            belle dorate.
                            Quando le polpettine si saranno dorate, scolatele e trasferite su
                            della carta assorbente da cucina per eliminare l'olio in eccesso.
                            Servite le vostre polpettine di tonno e ricotta ancora calde!   
                        </p>
                        <h2>
                        PURÈ DI PATATE  
                        </h2>
                        <div class="imgcontorno"></div>
                        <p>INGREDIENTI</p>
                        <p>Patate (a pasta gialla) 1 kg</br>
                            Latte intero 250 g</br>
                            Burro 50 g</br>
                            Sale fino q.b.</br>
                            Noce moscata q.b.
                        </p>
                        <p>PREPARAZIONE</p>
                        <p>
                            Per preparare il purè di patate cominciate lessando queste ultime.
                            Quindi versatele in una pentola capiente e coprite con abbondante
                            acqua fredda. Mettete il tegame sul fuoco e, dal momento in cui
                            l’acqua avrà raggiunto il bollore, contate dai 30 ai 40 minuti.
                            Ricordate che i tempi sono sempre indicativi e dipendono dalla
                            grandezza delle patate. Perciò di tanto in tanto è opportuno fare la
                            prova forchetta: se i rebbi entrano facilmente allora i tuberi sono
                            cotti. Scolate e lasciate intiepidire giusto per qualche minuto le
                            patate andranno sbucciate calde per facilitare l'operazione Dopo
                            aver pelato le patate schiacciatele utilizzando uno schiacciapatate
                            in alternativa andrà bene un passaverdure o una forchetta (se
                            utilizzerete quest’ultima otterrete una consistenza meno fine). Poi
                            regolate con un pizzico di sale e profumate grattugiando un po’ di
                            noce moscata. Nel frattempo in un pentolino da parte mettete a
                            scaldare il latte. Versate la purea di patate in una pentola,
                            accendete a fiamma bassa e non appena il latte sarà caldo
                            versatelo all'interno. Mescolate con una frusta sino a che non sarà
                            completamente assorbito, poi spegnete il fuoco e aggiungete il
                            burro a pezzetti. Mescolate sino a che non si sarà sciolto. Trasferite
                            in una ciotola e servite il vostro purè di patate. 
                        </p>
   
                    
                   </div>
                   <div class="download">
                    <a href="https://drive.google.com/file/d/1doWxo1vILoq9BFskU26keMi2LlNS67Mz/view?usp=drive_link">
                        Scarica le Ricette del Menu della settimana
                    </a>
                   </div>
                </div>
            </label>
            
        </div>
         <div class="write">
            <a href="mailto:infocoopstone@gmail.com" target="_blank"  class="scrivi">scrivi: infocoopstone@gmail.com</a>
        </div>

        <div class="dev">
            CatRobotics DevSolutions
        </div>
        <div class="help">
            <a class="button" href="https://www.paypal.com/donate/?hosted_button_id=4R8KNTDTP6RKN">DONA CLICCA QUI<br>
                <img src="/public/images/paypaldonation.png" target="_blank"  rel="noopener noreferrer" width="20%">
            </a>
        </div>

        <div class="policy">
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Privacy Policy ">Privacy Policy
                </a>
            </div>
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857/cookie-policy"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Cookie Policy ">Cookie Policy
                </a>
            </div>
        </div>

        </div>
    </body>
</html>
     
        