<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio di Cucina</title>
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/public/assets/css/laboratori/cucina.css">
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/public/assets/css/silktide-consent-manager.css">
    <script src="/public/assets/js/silktide-consent-manager.js"></script>

    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4252528.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</head>
<body>
    <div class="menu">
        <ul>
            <li class="home">
                <a href="/index.html" >
                    Home
                </a>
            </li>
            <li>
                <div class="cat">

                </div>
            </li>
        </ul>
    </div>
    <div class="nav">
        <h1 class="title">Laboratorio di Cucina</h1>
        <div class="idea">
            <h1 class="ideaexplain">
LABORATORIO DI CUCINA:</br></br>un laboratorio che coinvolge tutti i ragazzi del centro, si parte dal cercare la ricetta su internet, individiare gli ingredienti.</br>
Le tecniche di cucina pone la persona al centro dell'agire, proporre qualcosa di buono signigìfica essere responsabile e capace delle techìniche che portano al risultato.</br>
Gruppo cucina significa competenze, collaborazione, capacità. 
            </h1>
        </div>
        <div id="blog">
            <input type="checkbox" id="sidebar">
            <label for="sidebar" class="open">
                <h1>La Ricetta della Settimana: Clicca Qui!</h1>
            </label>
            <label for="sidebar" id="overlay">
             <div class="ricetta">
               <div class="intro">
                    <p class="intro1">Questa Settimana poroniamo:</br></br>
                    PASTA CON CAVOLO NERO</br>
                    POLPETTE DI TONNO E RICOTTA</br>
                    PURE' DI PATATE</br>
                    </p>
                    <p class="description">
                        Una ricetta semplice, abasta veloce, adatto per una cena o un pranzo in famiglia. Gli ingredienti sono poveri, economici e si conservano facilmente. Piatto gustoso adatto a tutti.
                    </p>
                </div>
                <div class="svolgimento">
                        <h2>
                        PASTA BIANCOVERDE  
                        </h2>
                        <div class="imgprimo"></div>
                        <p>INGREDIENTI PER 4 PERSONE</p>
                        <p>Maccheroni 320 g</br>
                        Mozzarella 125g</br>
                        Un Mazzetto di Rucola</br>
                        Aglio 1 spicchio</br>
                        Olio extravergine d'oliva 5 chucchiai</br>
                        Sale e Pepe fino q.b.
                        </p>
                        <p>PREPARAZIONE</p>
                        <p>
                            Mondate e asciugate la rucola, quindi tagliatela a striscioline sottili.
                            Mettete a bollire l'acqua per la pasta e, al bollore, salatela poco, quindi gettate i maccheroni.
                            Unite alla pasta in cottura circa la metà della rucola.
                            Scaldate in una padella l'olio e aromatizzato con uno spicchio di aglio, sbucciato e
                            leggermente schiacciato. Toglietelo quando comincia a diventare scuro. Scolate la pasta,
                            quindi fatela saltare in padella con l'olio aromatizzato. Unite la restante rucola a striscioline.
                            Versatela nel piatto dove avrete già tagliato a cubetti la Mozzarella.
                            Servite subito la preparazione abbondantemente cosparsa di pepe appena  
                        </p>
                        <h2>
                            FRITTATA DI CARCIOFI
                        </h2>
                        <div class="imgsecondo"></div>
                        <p>INGREDIENTI PER 4 PERSONE</p>
                        <p> Carciofi 6</br>
                            Uova 6</br>
                            Parmiggiano 70 g</br>
                            Aglio 1 spicchio</br>
                           Sale, Pepe e Olio EVO
                        </p>
                        <p>PREPARAZIONE</p>
                        <p>
                            Pulite i carciofi togliendo le foglie esterne più dure fino ad arrivare a quelle più tenere.
                            Tagliate le punte. Tagliate il gambo.Tagliate i carciofi a metà e, con l’aiuto di un
                            coltellino, togliete la barbetta interna. Tagliate i carciofi a fette.
                            Mettete in una grande padella 4 cucchiai di olio extravergine di oliva e uno
                            spicchio di aglio tagliato a metà e fateli scaldare.
                            Unite i carciofi a fettine e fateli saltare per qualche minuto. Continuate la cottura dei
                            carciofi a fuoco lento per 10/15 minuti fino a che saranno completamente cotti.
                            Salate, mescolate, tagliateli in piccoli pezzi e metteteli da parte. 
                        </p>
   
                        
                        <h2>
                        CAPONATA DI VERDURE 
                        </h2>
                        <div class="imgcontorno"></div>
                        <p>INGREDIENTI</p>
                        <p> Zucca 250 g</br>
                            Cavolfiore 250 g</br>
                            Sedano 300 g</br>
                            Biete Erbette Millefoglie 150 g</br>
                            Pomodori Pelati in scatola</br>
                            Cipolla Rossa 1</br>
                            Capperi Sott'Aceto 40 g</br>
                            Olive 80 g</br>
                            Pinoli 30 g</br>
                            Aceto di Mele</br>
                            Zucchero di Canna 30 g</br>
                            Sale o Olio EVO
                        </p>
                        <p>PREPARAZIONE</p>
                        <p>
                           Per preparare questo piatto, la prima cosa da fare è tagliare il sedano e lasciarlo sobbollire
                            per pochi minuti in acqua bollente.
                            Dopodiché soffriggere in padella con della zucca tagliata a dadini e del cavolfiore,
                            aggiungendo un po’ di sale. Versa poi le Biete Erbette Millefoglie e fai cuocere la verdura
                            secondo i tempi riportati sulla confezione. Taglia la cipolla a rondelle e disponi le verdure
                            cotte in precedenza all’interno di una pirofila con i pomodori pelati, i capperi, le olive, i pinoli
                            e un filo di olio extravergine di oliva. Inforna in forno preriscaldato ventilato a 180° per 20
                            minuti, coprendo la pirofila con della carta di alluminio per consentire una veloce cottura alle
                            verdure. Rimuovi la carta di alluminio e aggiungi poi mezzo bicchiere di aceto di mele e lo
                            zucchero di canna. Infine mescola bene proseguendo la cottura per altri 15/20 minuti.
                            Ancora meglio se riscaldata, questa ricetta di verdure miste si può portare in tavola calda o
                            fredda. E se hai poco tempo, puoi provare la Ratatouille Bonduelle, un contorno gourmet già
                            pronto da servire in tavola!
                        
                        </p>
   
                    
                   </div>
                   <div class="download">
                    <a href="/public/images/laboratori/settimanale_cucina/ricetta.pdf">
                        Scarica le Ricette del Menu della settimana
                    </a>
                   </div>
                </div>
            </label>
            
        </div>
         <div class="write">
            <a href="mailto:infocoopstone@gmail.com" target="_blank"  class="scrivi">scrivi: infocoopstone@gmail.com</a>
        </div>

        <div class="dev">
            CatRobotics DevSolutions
        </div>
        <div class="help">
            <a class="button" href="https://www.paypal.com/donate/?hosted_button_id=4R8KNTDTP6RKN">DONA CLICCA QUI<br>
                <img src="/public/images/paypaldonation.png" target="_blank"  rel="noopener noreferrer" width="20%">
            </a>
        </div>

        <div class="policy">
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Privacy Policy ">Privacy Policy
                </a>
            </div>
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857/cookie-policy"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Cookie Policy ">Cookie Policy
                </a>
            </div>
        </div>

        </div>
    </body>
</html>
     
        