<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piscina</title>
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/public/assets/css/laboratori/piscina.css">
    <link rel="stylesheet" id="silktide-consent-manager-css" href="/public/assets/css/silktide-consent-manager.css">
    <script src="/public/assets/js/silktide-consent-manager.js"></script>

    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4252528.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" url="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</head>
<body>
    <div class="menu">
        <ul>
            <li class="home">
                <a href="/index.html" >
                    Home
                </a>
            </li>
            <li>
                <div class="cat">

                </div>
            </li>
        </ul>
    </div>
    <div class="nav">
        <h1 class="title">Piscina</h1>
        <div class="idea">
            <div class="code">
                <a href="https://www.facebook.com/reel/863018072922004" target="_blank" target="_blank" rel="noopener noreferrer">In Piscina! Clicca Qui!</a>
            </div>
            <h1 class="ideaexplain">
ATTIVITA' SPORTIVA DI PISCINA:</br></br>Tutti i lunedì mattina andiamo presso la Piscina "Club12" di Ispra dove si svolge l'attività di piscina. I ragazzi vengono divisi in due gruppi, il primo nota cercando di migliorare lo stile oltre che le capacità fisiche, il secondo gruppo invece, sta dove si tocca, lì camminano, nuotano con l'ausilio dell'educatore presente in acqua, cercano di migliorare la coordinazione, fare movimento. E' un'attività consigliata in particolare a persone con scarsa mobiltità .
            </h1>
        </div>



        <div class="write">
            <a href="mailto:infocoopstone@gmail.com" target="_blank"  class="scrivi">scrivi: infocoopstone@gmail.com</a>
        </div>

        <div class="dev">
            CatRobotics DevSolutions
        </div>
        <div class="help">
            <a class="button" href="https://www.paypal.com/donate/?hosted_button_id=4R8KNTDTP6RKN">DONA CLICCA QUI<br>
                <img src="/public/images/paypaldonation.png" target="_blank"  rel="noopener noreferrer" width="20%">
            </a>
        </div>

        <div class="policy">
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Privacy Policy ">Privacy Policy
                </a>
            </div>
            <div>
                <a href="https://www.iubenda.com/privacy-policy/44804857/cookie-policy"
                   class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" 
                   title="Cookie Policy ">Cookie Policy
                </a>
            </div>
        </div>
    </div>
</body>
</html>